@model AddAndEditArticleViewModel

<h1 class="fs-3 text_shadow">Добавить книгу (статью)</h1>

<hr class="liniya" />

@* Показ всех ошибок ввода данных *@
@if (Context.Request.Method == "POST")
{
    <div asp-validation-summary="All" class="text-danger border border-top-0 border-danger mb-3"></div>
}

<div class="col card p-2">

    <div class="col-12 card-body mx-auto">

        <form method="post" class="col-12 col-xxl-10 mx-auto" enctype="multipart/form-data">

            @* скрытые поля формы *@
            <div>

                <input asp-for="@Model.BookOrArticle.BooksAndArticlesModelId" type="hidden" value="@Guid.Empty" />

            </div>

            @* Выбор типа текста *@
            <div class="row g-2 justify-content-center">

                <div class="col-auto">
                    <label asp-for="@Model.BookOrArticle.TypeOfText" class="col-form-label text-primary fs-5"></label>
                </div>

                <div class="col-auto" aria-describedby="TypesOfTextInputHelpBlock">

                    <select id="TypesOfText" asp-for="@Model.BookOrArticle.TypeOfText" class="form-select">
                        @{
                            for (int i = 0; i < @Model.BookOrArticle.TypesOfText.Count(); i++)
                            {
                                <option value="@Model.BookOrArticle.TypesOfText[i]">@Model.BookOrArticle.TypesOfText[i]</option>
                            }
                        }
                    </select>

                </div>

                <div id="TypesOfTextInputHelpBlock" class="col-12 justify-content-center">

                    <span class="fs-6 text-success">тип текста - </span>
                    <br class="d-md-none" />
                    <span class="fs-6 text-danger">обязательное поле</span>

                </div>

                @if (Context.Request.Method == "POST")
                {
                    <span asp-validation-for="@Model.BookOrArticle.TypesOfText" class="text-danger"></span>
                }

                <hr class="w-50 mx-auto" />

            </div>

            @* Издатель книги (статьи) *@
            <div class="row g-2 justify-content-center">

                <div class="col-auto">
                    <label asp-for="BookOrArticle.Publisher" class="col-form-label text-primary fs-5 me-2"></label>
                </div>

                <div class="col-auto text-start">
                    <input id="PublisherInput" asp-for="BookOrArticle.Publisher" class="form-control" aria-describedby="PublisherInputHelpBlock" />
                </div>

                <div id="PublisherInputHelpBlock" class="form-text">

                    <span class="fs-6 text-success">издатель книги (статьи)</span>

                </div>

                @if (Context.Request.Method == "POST")
                {
                    <span asp-validation-for="BookOrArticle.Publisher" class="text-danger"></span>
                }

                <hr class="w-50 mx-auto" />

            </div>

            @* Логотип статьи *@
            <div>

                <div class="row justify-content-center">

                    <div class="col-auto">
                        <label asp-for="LogoOfArticleFormFile" class="col-form-label text-primary fs-5 me-2"></label>
                    </div>

                    <div class="col-auto text-start">
                        <input id="LogoOfArticleFormFileInput" asp-for="LogoOfArticleFormFile" class="form-control" aria-describedby="LogoOfArticleFormFileInputHelpBlock" />
                    </div>

                </div>

                <div id="LogoOfArticleFormFileInputHelpBlock" class="form-text">

                    <span class="fs-6 text-success">выбрать файл логотипа</span>

                </div>

                <span asp-validation-for="LogoOfArticleFormFile" class="text-danger"></span>

                <hr class="w-75 mx-auto" />

            </div>

            @* Скан статьи *@
            <div>

                <div class="row justify-content-center">

                    <div class="col-auto">
                        <label asp-for="ScanOfArticleFormFile" class="col-form-label text-primary fs-5 me-2"></label>
                    </div>

                    <div class="col-auto text-start">
                        <input id="ScanOfArticleFormFileInput" asp-for="ScanOfArticleFormFile" class="form-control" aria-describedby="ScanOfArticleFormFileInputHelpBlock" />
                    </div>

                </div>

                <div id="ScanOfArticleFormFileInputHelpBlock" class="form-text">

                    <span class="fs-6 text-success">выбрать файл скана</span>

                </div>

                <span asp-validation-for="ScanOfArticleFormFile" class="text-danger"></span>

                <hr class="w-75 mx-auto" />

            </div>

            @* автор книги (статьи) *@
            <div class="row g-2 justify-content-center">

                <div class="col-auto">
                    <label asp-for="@Model.BookOrArticle.AuthorOfText" class="col-form-label text-primary fs-5 me-2"></label>
                </div>

                <div class="col-auto text-start">
                    <input id="AuthorOfTextInput" asp-for="@Model.BookOrArticle.AuthorOfText" class="form-control" aria-describedby="AuthorOfTextInputHelpBlock" />
                </div>

                <div id="AuthorOfTextInputHelpBlock" class="form-text">

                    <span class="fs-6 text-success">автор книги (статьи) - </span>
                    <br class="d-md-none" />
                    <span class="fs-6 text-danger">обязательное поле</span>

                </div>

                @if (Context.Request.Method == "POST")
                {
                    <span asp-validation-for="@Model.BookOrArticle.AuthorOfText" class="text-danger"></span>
                }

                <hr class="w-50 mx-auto" />

            </div>

            @* заголовок книги (статьи) *@
            <div class="row g-2 justify-content-center">

                <div class="col-auto">
                    <label asp-for="@Model.BookOrArticle.CaptionOfText" class="col-form-label text-primary fs-5 me-2"></label>
                </div>

                <div class="col-auto text-start">
                    <input id="CaptionOfTextInput" asp-for="@Model.BookOrArticle.CaptionOfText" class="form-control" aria-describedby="CaptionOfTextInputHelpBlock" />
                </div>

                <div id="CaptionOfTextInputHelpBlock" class="form-text">

                    <span class="fs-6 text-success">заголовок книги (статьи) - </span>
                    <br class="d-md-none" />
                    <span class="fs-6 text-danger">обязательное поле</span>

                </div>

                @if (Context.Request.Method == "POST")
                {
                    <span asp-validation-for="@Model.BookOrArticle.CaptionOfText" class="text-danger"></span>
                }

                <hr class="w-50 mx-auto" />

            </div>

            @* описание текста *@
            <div class="row g-2 justify-content-center">

                <label asp-for="@Model.BookOrArticle.BookDescription" class="col-form-label text-primary fs-5 me-2"></label>

                <textarea id="BookDescriptionInput" class="form-control fordetails maxwidth700px"
                          asp-for="@Model.BookOrArticle.BookDescription"
                          rows="3"
                          aria-describedby="BookDescriptionInputHelpBlock">
                </textarea>

                <div id="BookDescriptionInputHelpBlock" class="form-text">

                    <span class="fs-6 text-success">описание текста - </span>
                    <br class="d-md-none" />
                    <span class="fs-6 text-danger">обязательное поле</span>

                </div>

                <span asp-validation-for="@Model.BookOrArticle.BookDescription" class="text-danger"></span>

                <hr class="w-50 mx-auto" />

            </div>

            @* колличество страниц *@
            <div class="row g-2 justify-content-center">

                <div class="col-auto">
                    <label asp-for="@Model.BookOrArticle.NumberOfPages" class="col-form-label text-primary fs-5 me-2"></label>
                </div>

                <div class="col-auto text-start">
                    <input id="NumberOfPagesInput" asp-for="@Model.BookOrArticle.NumberOfPages" class="form-control text-center" aria-describedby="NumberOfPagesInputHelpBlock" />
                </div>

                <div id="NumberOfPagesInputHelpBlock" class="form-text">

                    <span class="fs-6 text-success">колличество страниц - </span>
                    <br class="d-md-none" />
                    <span class="fs-6 text-danger">обязательное поле</span>

                </div>

                @if (Context.Request.Method == "POST")
                {
                    <span asp-validation-for="@Model.BookOrArticle.NumberOfPages" class="text-danger"></span>
                }

                <hr class="w-50 mx-auto" />

            </div>

            @* дата публикации книги (статьи) *@
            <div class="row g-2 justify-content-center mb-xl-2">

                <div class="col-auto">
                    <label asp-for="@Model.BookOrArticle.DateOfPublication" class="col-form-label text-primary fs-5 me-2"></label>
                </div>

                <div class="col-auto">
                    <input id="DateOfPublicationInput" asp-for="@Model.BookOrArticle.DateOfPublication" class="form-control text-center" aria-describedby="DateOfPublicationInputHelpBlock" />
                </div>

                <div id="DateOfPublicationInputHelpBlock" class="form-text">

                    <span class="fs-6 text-success">дата публикации - </span>
                    <br class="d-md-none" />
                    <span class="fs-6 text-danger">обязательное поле</span>

                </div>

                @if (Context.Request.Method == "POST")
                {
                    <span asp-validation-for="@Model.BookOrArticle.DateOfPublication" class="text-danger"></span>
                }

            </div>

            @* теги по содержанию текста *@
            <div>

                <label asp-for="BookOrArticle.TagsForBook" class="col-form-label text-primary fs-5 me-2"></label>

                <textarea id="TagsForBookInput" class="form-control fordetails mx-auto maxwidth700px"
                          asp-for="BookOrArticle.TagsForBook"
                          rows="3"
                          aria-describedby="TagsForBookInputHelpBlock">
                </textarea>

                <div id="TagsForBookInputHelpBlock" class="form-text">

                    <span class="fs-6 text-success">теги по тексту - </span>
                    <br class="d-md-none" />
                    <span class="fs-6 text-danger">вводить через запятую</span>

                </div>

                <span asp-validation-for="BookOrArticle.TagsForBook" class="text-danger"></span>

            </div>

            @* сохранить - отменить *@
            <div class="card-footer p-0 pb-2 mt-4 mx-auto maxwidth700px">

                <button type="submit" class="btn btn-outline-success mt-2 me-2 text-center shadw"
                        title="Сохранить">
                    Сохранить
                </button>

                <a class="btn btn-outline-danger mt-2 shadw"
                   asp-area="Admin"
                   asp-controller="BooksAndArticles"
                   asp-action="Index"
                   title="Отменить">
                    Отменить
                </a>

            </div>

        </form>

    </div>

</div>