@model PageInfoModel

@{
	string cssForLabel = "col-form-label text-primary fs-5 me-2";
}

<h1 class="fs-3 text_shadow">Добавить страницу</h1>

<hr class="liniya" />

<div class="row">

	<div class="col col-lg-9 col-xl-7 col-xxl-6 d-block mx-auto px-2">

		<form asp-area="Admin"
			  asp-controller="PageInfo"
			  asp-action="AddPage"
			  method="post"
			  enctype="multipart/form-data">

			@* скрытые  поля *@
			<div>

				<input asp-for="PageIconPath" type="hidden" value="main.xml" />
				<input asp-for="BrowserConfig" type="hidden" value="main.xml" />
				<input asp-for="BrowserConfigFolder" type="hidden" value="/main" />
				<input asp-for="Manifest" type="hidden" value="main.xml" />

			</div>

			@* все ошибки ввода данных *@
			@if (Context.Request.Method == "POST")
			{
				<div asp-validation-summary="All" class="text-danger border border-top-0 border-danger mb-3"></div>
			}

			@* данные по группам *@
			<div class="accordion" id="accordionAddPage">

				@* выбор MVC или RazorPages *@
				<div class="accordion-item mb-3 mt-2 shadw">

					@* заголовок группы «Выбор MVC или RazorPages» *@
					<h2 id="headingMVCorRazorPages" class="accordion-header">

						<button class="accordion-button collapsed py-0 stranicy"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#MVCorRazorPages"
								aria-expanded="true"
								aria-controls="MVCorRazorPages">

							<span class="form-label fs-5">Выбор фреймворка :</span>

						</button>

					</h2>

					@* выбрать фреймворк *@
					<div id="MVCorRazorPages"
						 class="accordion-collapse collapse"
						 aria-labelledby="headingMVCorRazorPages"
						 data-bs-parent="#accordionAddPage">

						<div class="accordion-body accordion-body-nointend text-center">

							<div class="justify-content-center text-center" aria-describedby="MVCorRazorPagesHelpBlock">

								<label asp-for="PageAsRazorPage" class="@cssForLabel col-12"></label>

								<div class="form-check-inline">

									<input asp-for="PageAsRazorPage" type="radio" value="false" checked id="inlineRadio1" class="form-check-input d-inline-block mt-2 me-2">

									<label asp-for="PageAsRazorPage" class="form-check-label fs-5 d-inline-block align-top">MVC</label>

								</div>

								<div class="form-check-inline">

									<input asp-for="PageAsRazorPage" type="radio" value="true" id="inlineRadio2" class="form-check-input d-inline-block mt-2 me-2">

									<label asp-for="PageAsRazorPage" class="form-check-label fs-5 d-inline-block align-top">RazorPages</label>

								</div>

								<div id="MVCorRazorPagesHelpBlock" class="form-text">

									<span class="fs-6 text-success">
										выбрать тип фреймворка
									</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="PageAsRazorPage" class="text-danger"></span>
								}

							</div>

						</div>

					</div>

				</div>

				@* картинка для страницы *@
				<div class="accordion-item mb-3 mt-2 shadw">

					@* заголовок группы «Картинка для страницы» *@
					<h2 id="headingImageForPage" class="accordion-header">

						<button class="accordion-button collapsed py-0 stranicy"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#ImageForPage"
								aria-expanded="true"
								aria-controls="ImageForPage">

							<span class="form-label fs-5">Картинка для страницы :</span>

						</button>

					</h2>

					@* выбрать картинку *@
					<div id="ImageForPage"
						 class="accordion-collapse collapse"
						 aria-labelledby="headingImageForPage"
						 data-bs-parent="#accordionAddPage">

						<div class="accordion-body accordion-body-nointend text-center">

							<div>

								<label asp-for="ImageFileFormFile" class="@cssForLabel"></label>

								<input asp-for="ImageFileFormFile"
									   id="ImageFormFileInput"
									   class="form-control mt-2 w-50 mx-auto"
									   aria-describedby="ImageFormFileInputHelpBlock" />

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="ImageFileFormFile" class="text-danger"></span>
								}

								<div id="ImageFormFileInputHelpBlock" class="form-text mt-3">

									<span class="fs-6 text-success">
										выбрать файл картинки
									</span>

								</div>

								<hr class="w-50 mx-auto" />

								<select asp-for="ImageFileModelId"
										asp-items="ViewBag.ImageFIles"
										class="d-flex col-12 col-sm-7 col-lg-6 mx-auto my-3"
										aria-describedby="ImageFormFileInputHelpBlock">

									<option value="@Guid.Empty" selected>Картинка не выбрана</option>

								</select>


								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="ImageFileModelId" class="text-danger"></span>
								}

								<div class="form-text">

									<span class="fs-6 text-success">
										выбрать картинку
									</span>

								</div>

							</div>

						</div>

					</div>

				</div>

				@* текст для страницы *@
				<div class="accordion-item mb-3 mt-2 shadw">

					@* заголовок группы «Текст для страницы» *@
					<h2 id="headingTextForPage" class="accordion-header">

						<button class="accordion-button collapsed py-0 stranicy"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#TextForPage"
								aria-expanded="true"
								aria-controls="TextForPage">

							<span class="form-label fs-5">Текст для страницы :</span>

						</button>

					</h2>

					@* выбрать файл текста *@
					<div id="TextForPage"
						 class="accordion-collapse collapse"
						 aria-labelledby="headingTextForPage"
						 data-bs-parent="#accordionAddPage">

						<div class="accordion-body accordion-body-nointend text-center">

							<div>

								<input asp-for="TextFileFormFile"
									   id="TextFormFileInput"
									   class="form-control mt-2 w-50 mx-auto"
									   aria-describedby="TextFormFileInputHelpBlock" />

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="TextFileFormFile" class="text-danger"></span>
								}

								<div id="TextFormFileInputHelpBlock" class="form-text mt-3">

									<span class="fs-6 text-success">
										выбрать файл текста
									</span>

								</div>

								<hr class="w-50 mx-auto" />

								<select asp-for="TextInfoId"
										asp-items="ViewBag.Texts"
										class="d-flex col-12 col-sm-7 col-lg-6 mx-auto my-3"
										aria-describedby="TextFormFileInputHelpBlock">

									<option value="@Guid.Empty" selected>Текст не выбран</option>

								</select>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="TextInfoId" class="text-danger"></span>
								}

								<div class="form-text">

									<span class="fs-6 text-success">
										выбрать файл текста
									</span>

								</div>

							</div>

						</div>

					</div>

				</div>

				@* фон для страницы (фотопленка) *@
				<div class="accordion-item mb-3 mt-2 shadw">

					@* заголовок группы «Фон для для страницы (фотопленка)» *@
					<h2 id="headingBackgroundForPage" class="accordion-header">

						<button class="accordion-button collapsed py-0 stranicy"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#BackgroundForPage"
								aria-expanded="true"
								aria-controls="BackgroundForPage">

							<span class="form-label fs-5">Фон для страницы :</span>

						</button>

					</h2>

					@* выбрать фон*@
					<div id="BackgroundForPage"
						 class="accordion-collapse collapse"
						 aria-labelledby="headingBackgroundForPage"
						 data-bs-parent="#accordionAddPage">

						<div class="accordion-body accordion-body-nointend text-center">

							<div>

								<label asp-for="BackgroundFormFile" class="@cssForLabel"></label>

								<input asp-for="BackgroundFormFile"
									   id="BackgroundFormFileInput"
									   class="form-control mt-2 w-50 mx-auto"
									   aria-describedby="BackgroundFormFileInputHelpBlock" />

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="BackgroundFormFile" class="text-danger"></span>
								}

								<div id="BackgroundFormFileInputHelpBlock" class="form-text mt-3">

									<span class="fs-6 text-success">
										выбрать файл фона
									</span>

								</div>

								<hr class="w-50 mx-auto" />

								<select asp-for="BackgroundFileModelId"
										asp-items="ViewBag.BackgroundImages"
										class="d-flex col-12 col-sm-7 col-lg-6 mx-auto my-3"
										aria-describedby="BackgroundFormFileInputHelpBlock">

									<option value="@Guid.Empty" selected>Фон не выбран</option>

								</select>


								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="BackgroundFileModelId" class="text-danger"></span>
								}

								<div class="form-text">

									<span class="fs-6 text-success">
										выбрать фон
									</span>

								</div>

							</div>

						</div>

					</div>

				</div>

				@* аудиофайл для страницы *@
				<div class="accordion-item mb-3 mt-2 shadw">

					@* заголовок группы «Аудиофайл для страницы» *@
					<h2 id="headingAudioForPage" class="accordion-header">

						<button class="accordion-button collapsed py-0 stranicy"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#AudioForPage"
								aria-expanded="true"
								aria-controls="AudioForPage">

							<span class="form-label fs-5">Аудиофайл страницы :</span>

						</button>

					</h2>

					@* выбрать аудиофайл*@
					<div id="AudioForPage"
						 class="accordion-collapse collapse"
						 aria-labelledby="headingAudioForPage"
						 data-bs-parent="#accordionAddPage">

						<div class="accordion-body accordion-body-nointend text-center">

							<div>

								<label asp-for="AudioInfoFormFile" class="@cssForLabel"></label>

								<input asp-for="AudioInfoFormFile"
									   id="BackgroundFormFileInput"
									   class="form-control mt-2 w-50 mx-auto"
									   aria-describedby="AudioInfoFormFileInputHelpBlock" />

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="AudioInfoFormFile" class="text-danger"></span>
								}

								<div id="AudioInfoFormFileInputHelpBlock" class="form-text mt-3">

									<span class="fs-6 text-success">
										выбрать аудиофайл
									</span>

								</div>

								<hr class="w-50 mx-auto" />

								<select asp-for="AudioInfoId"
										asp-items="ViewBag.AudioFiles"
										class="d-flex col-12 col-sm-7 col-lg-6 mx-auto my-3"
										aria-describedby="AudioInfoFormFileInputHelpBlock">

									<option value="@Guid.Empty" selected>Аудиофайл не выбран</option>

								</select>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="AudioInfoId" class="text-danger"></span>
								}

								<div class="form-text">

									<span class="fs-6 text-success">
										выбрать аудиофайл
									</span>

								</div>

							</div>

						</div>

					</div>

				</div>

				@* текст карточки страницы *@
				<div class="accordion-item mb-3 mt-2 shadw">

					@* заголовок группы «Текст карточки страницы» *@
					<h2 id="headingTextForCardPage" class="accordion-header">

						<button class="accordion-button collapsed py-0 stranicy"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#TextForCardPage"
								aria-expanded="true"
								aria-controls="TextForCardPage">

							<span class="form-label fs-5">Текст карточки страницы :</span>

						</button>

					</h2>

					@* текст карточки страницы *@
					<div id="TextForCardPage"
						 class="accordion-collapse collapse"
						 aria-labelledby="headingTextForCardPage"
						 data-bs-parent="#accordionAddPage">

						<div class="accordion-body accordion-body-nointend text-center">

							<div>

								<label asp-for="PageCardText" class="@cssForLabel"></label>

								<input asp-for="PageCardText" id="PageCardTextInput" class="col-11 col-sm-7 col-lg-6" aria-describedby="PageCardTextInputHelpBlock" />

								<div id="PageCardTextInputHelpBlock" class="form-text">

									<span class="fs-6 text-success">
										текст карточки страницы
									</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="PageCardText" class="text-danger"></span>
								}

							</div>

						</div>

					</div>

				</div>

				@* индекс сортировки страницы *@
				<div class="accordion-item mb-3 mt-2 shadw">

					@* заголовок группы «Индекс сортировки страницы» *@
					<h2 id="headingIndexOfSorting" class="accordion-header">

						<button class="accordion-button collapsed py-0 stranicy"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#IndexOfSorting"
								aria-expanded="true"
								aria-controls="IndexOfSorting">

							<span class="form-label fs-5">Индекс сортировки :</span>

						</button>

					</h2>

					@* индекс сортировки страницы *@
					<div id="IndexOfSorting"
						 class="accordion-collapse collapse"
						 aria-labelledby="headingIndexOfSorting"
						 data-bs-parent="#accordionAddPage">

						<div class="accordion-body accordion-body-nointend text-center">

							<div class="row g-2 justify-content-center mb-2">

								<div class="col-auto">
									<label asp-for="SortOfPage" class="@cssForLabel"></label>
								</div>

								<div class="col-5 col-sm-3">
									<input asp-for="SortOfPage" value="1"
										   id="SortOfPageInput"
										   class="form-control text-center"
										   aria-describedby="SortOfPageInputHelpBlock" />
								</div>

								<div id="SortOfPageInputHelpBlock" class="form-text">
									<span class="fs-6 text-success">
										порядок сортировки -
									</span>
									<br class="d-inline-block d-md-none" />
									<span class="fs-6 text-danger">
										обязательное поле
									</span>
								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="SortOfPage" class="text-danger"></span>
								}

							</div>

						</div>

					</div>

				</div>

				@* адрес и псевдонимы  страницы  *@
				<div class="accordion-item mb-3 mt-2 shadw">

					@* заголовок группы «Адрес и псевдонимы  страницы» *@
					<h2 id="headingPageAdress" class="accordion-header">

						<button class="accordion-button collapsed py-0 stranicy"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#PageAdress"
								aria-expanded="true"
								aria-controls="PageAdress">

							<span class="form-label fs-5">Адрес и псевдонимы :</span>

						</button>

					</h2>

					@* адрес и псевдонимы *@
					<div id="PageAdress"
						 class="accordion-collapse collapse"
						 aria-labelledby="headingPageAdress"
						 data-bs-parent="#accordionAddPage">

						<div class="accordion-body accordion-body-nointend text-center">

							@* Выбор области Area *@
							<div class="row g-2 justify-content-center">

								<label asp-for="PageArea" class="@cssForLabel col-auto"></label>

								<div class="col-auto" aria-describedby="PageAreaInputHelpBlock">

									<select asp-for="PageArea" id="AreaInput" class="form-select">

										@for (int i = 0; i < Model.AreaItems.Count(); i++)
										{
											if (Model.AreaItems[i] == "Root")
											{
												<option value="@Model.AreaItems[i]" selected>@Model.AreaItems[i]</option>
											}
											else
											{
												<option value="@Model.AreaItems[i]">@Model.AreaItems[i]</option>
											}
										}

									</select>

								</div>

								<div id="PageAreaInputHelpBlock" class="form-text">

									<span class="fs-6 text-success">
										область «Area»
									</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="PageArea" class="text-danger"></span>
								}

								<hr class="w-50 mx-auto" />

							</div>

							@* Выбор контроллера *@
							<div>

								<label asp-for="Controller" class="@cssForLabel"></label>

								<input asp-for="Controller" id="ControllerInput" class="text-center col-11 col-lg-6" aria-describedby="ControllerInputHelpBlock" />

								<div id="ControllerInputHelpBlock" class="form-text">

									<span class="fs-6 text-success">
										Controller для страницы MVC
									</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="Controller" class="text-danger"></span>
								}

								<hr class="w-50 mx-auto" />

							</div>

							@* Выбор действия *@
							<div>

								<label asp-for="Action" class="@cssForLabel"></label>

								<input asp-for="Action" id="ActionInput" class="text-center col-11 col-lg-6" aria-describedby="ActionInputHelpBlock" />

								<div id="ActionInputHelpBlock" class="form-text">

									<span class="fs-6 text-success">
										Action для страницы MVC
									</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="Action" class="text-danger"></span>
								}

								<hr class="w-50 mx-auto" />

							</div>

							@* Данные адреса *@
							<div>

								<label asp-for="RoutData" class="@cssForLabel"></label>

								<input asp-for="RoutData" id="RoutDataInput" class="col-11 text-start" aria-describedby="RoutDataInputHelpBlock" />

								<div id="ActionInputHelpBlock" class="form-text">

									<span class="fs-6 text-success">
										Данные запроса (QweryString)
									</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="RoutData" class="text-danger"></span>
								}

								<hr class="w-50 mx-auto" />

							</div>

							@* Адрес для RazorPage *@
							<div>

								<label asp-for="PageLoc" class="@cssForLabel"></label>

								<input asp-for="PageLoc" id="PageLocInput" class="col-11 text-start" aria-describedby="PageLocInputHelpBlock" />

								<div id="PageLocInputHelpBlock" class="form-text">

									<span class="fs-6 text-danger">
										указывать только для RazorPages
									</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="PageLoc" class="text-danger"></span>
								}

								<hr class="w-50 mx-auto" />

							</div>

							@* Псевдоним адреса (1) *@
							<div>

								<label asp-for="PagePathNickName" class="@cssForLabel"></label>

								<input asp-for="PagePathNickName" id="PagePathNickNameInput" class="col-11 text-start" aria-describedby="PagePathNickNameInputHelpBlock" />

								<div id="PagePathNickNameInputHelpBlock" class="form-text">

									<span class="fs-6 text-success">
										псевдоним страницы (1)
									</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="PagePathNickName" class="text-danger"></span>
								}

								<hr class="w-50 mx-auto" />

							</div>

							@* Псевдоним адреса (2) *@
							<div>

								<label asp-for="PagePathNickName2" class="@cssForLabel"></label>

								<input asp-for="PagePathNickName2" id="PagePathNickName2Input" class="col-11 text-start" aria-describedby="PagePathNickName2InputHelpBlock" />

								<div id="PagePathNickName2InputHelpBlock" class="form-text">

									<span class="fs-6 text-success">
										псевдоним страницы (2)
									</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="PagePathNickName2" class="text-danger"></span>
								}

							</div>

						</div>

					</div>

				</div>

				@* Title-Description-KeyWords  *@
				<div class="accordion-item mb-3 mt-2 shadw">

					@* заголовок группы «Title-Description-KeyWords» *@
					<h2 id="headingTitleDescriptionKeyWords" class="accordion-header">

						<button class="accordion-button collapsed py-0 stranicy"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#TitleDescriptionKeyWords"
								aria-expanded="true"
								aria-controls="TitleDescriptionKeyWords">

							<span class="form-label fs-5">Title-Description-KeyWord :</span>

						</button>

					</h2>

					@* Title-Description-KeyWords *@
					<div id="TitleDescriptionKeyWords"
						 class="accordion-collapse collapse"
						 aria-labelledby="headingTitleDescriptionKeyWords"
						 data-bs-parent="#accordionAddPage">

						<div class="accordion-body accordion-body-nointend text-center">

							@* Тег «title» *@
							<div>

								<label asp-for="PageTitle" class="@cssForLabel"></label>

								<input asp-for="PageTitle" id="PageTitleInput" class="col-11 text-start" aria-describedby="PageTitleInputHelpBlock" />

								<div id="PageTitleInputHelpBlock" class="form-text">

									<span class="fs-6 text-success">тег «title»</span>
									<span class="fs-6 text-danger"> - обязательное поле</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="PageTitle" class="text-danger"></span>
								}

								<hr class="w-50 mx-auto" />

							</div>

							@* Тег «description» *@
							<div class="col-11 mx-auto">

								<label asp-for="PageDescription" class="@cssForLabel"></label>

								<textarea asp-for="PageDescription"
										  id="PageDescriptionInput"
										  class="form-control fordetails col-11 border border-1 border-black"
										  rows="5"
										  aria-describedby="PageDescriptionInputHelpBlock">
								</textarea>

								<div id="PageDescriptionInputHelpBlock" class="form-text">

									<span class="fs-6 text-success">тег «description» - </span>
									<br class="d-sm-none" />
									<span class="fs-6 text-danger">обязательное поле</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="PageDescription" class="text-danger"></span>
								}

								<hr class="w-50 mx-auto" />

							</div>

							@* Тег «keywords» *@
							<div class="col-11 mx-auto">

								<label asp-for="PageKeyWords" class="@cssForLabel"></label>

								<textarea asp-for="PageKeyWords"
										  id="PageKeyWordsInput"
										  class="form-control fordetails col-11 border border-1 border-black"
										  rows="5"
										  aria-describedby="PageKeyWordsInputHelpBlock">
								</textarea>

								<div id="PageKeyWordsInputHelpBlock" class="form-text">

									<span class="fs-6 text-success">тег «keywords» - </span>
									<br class="d-sm-none" />
									<span class="fs-6 text-danger">обязательное поле</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="PageKeyWords" class="text-danger"></span>
								}

							</div>

						</div>

					</div>

				</div>

				@* Open Graph тег OgType *@
				<div class="accordion-item mb-3 mt-2 shadw">

					@* заголовок группы «Open Graph тег OgType» *@
					<h2 id="headingOpenGraph" class="accordion-header">

						<button class="accordion-button collapsed py-0 stranicy"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#OpenGraph"
								aria-expanded="true"
								aria-controls="OpenGraph">

							<span class="form-label fs-5">Open Graph (тег OgType) :</span>

						</button>

					</h2>

					@* Open Graph тег OgType *@
					<div id="OpenGraph"
						 class="accordion-collapse collapse"
						 aria-labelledby="headingOpenGraph"
						 data-bs-parent="#accordionAddPage">

						<div class="accordion-body accordion-body-nointend text-center">

							@* Выбор  og:type *@
							<div class="row g-2 justify-content-center">

								<label asp-for="OgType" class="@cssForLabel col-auto"></label>

								<div class="col-auto" aria-describedby="OgTypeInputHelpBlock">

									<select asp-for="OgType" id="OgTypeInput" class="form-select">

										@for (int i = 0; i < Model.OgTypeItems.Count(); i++)
										{
											if (Model.OgTypeItems[i] == "website")
											{
												<option value="@Model.OgTypeItems[i]" selected>@Model.OgTypeItems[i]</option>
											}
											else
											{
												<option value="@Model.OgTypeItems[i]">@Model.OgTypeItems[i]</option>
											}
										}

									</select>

								</div>

								<div id="OgTypeInputHelpBlock" class="form-text">

									<span class="fs-6 text-success">тэг «og:type» - </span>
									<span class="fs-6 text-danger">обязательное поле</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="OgType" class="text-danger"></span>
								}

							</div>

						</div>

					</div>

				</div>

				@* Инфо для Sitemap *@
				<div class="accordion-item mb-3 mt-2 shadw">

					@* заголовок группы «инфо для Sitemap» *@
					<h2 id="headingSitemapInfo" class="accordion-header">

						<button class="accordion-button collapsed py-0 stranicy"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#SitemapInfo"
								aria-expanded="true"
								aria-controls="SitemapInfo">

							<span class="form-label fs-5">Инфо для Sitemap :</span>

						</button>

					</h2>

					@* инфо для Sitemap *@
					<div id="SitemapInfo"
						 class="accordion-collapse collapse"
						 aria-labelledby="headingSitemapInfo"
						 data-bs-parent="#accordionAddPage">

						<div class="accordion-body accordion-body-nointend text-center">

							@* Частота изменения страницы *@
							<div class="row g-2 justify-content-center">

								<label asp-for="Changefreq" class="@cssForLabel col-auto"></label>

								<div class="col-auto" aria-describedby="ChangefreqInputHelpBlock">

									<select asp-for="Changefreq" id="ChangefreqInput" class="form-select">

										<option value="always">always</option>
										<option value="hourly">hourly</option>
										<option value="daily">daily</option>
										<option value="weekly">weekly</option>
										<option value="monthly" selected>monthly</option>
										<option value="yearly">yearly</option>
										<option value="never">never</option>

									</select>

								</div>

								<div id="ChangefreqInputHelpBlock" class="form-text">

									<span class="fs-6 text-success">Changefreq: частота изменения</span>
									<br class="d-md-none" />
									<span class="fs-6 text-danger"> - обязательное поле</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="Changefreq" class="text-danger"></span>
								}

								<hr class="w-50 mx-auto" />

							</div>

							@* Приоритет страницы *@
							<div class="row g-2 justify-content-center">

								<label asp-for="Priority" class="@cssForLabel col-auto"></label>

								<div class="col-auto" aria-describedby="PrioritylInputHelpBlock">

									<select asp-for="Priority" id="PriorityInput" class="form-select">

										<option value="0.0">0.0</option>
										<option value="0.1">0.1</option>
										<option value="0.2">0.2</option>
										<option value="0.3">0.3</option>
										<option value="0.4">0.4</option>
										<option value="0.5" selected>0.5</option>
										<option value="0.6">0.6</option>
										<option value="0.7">0.7</option>
										<option value="0.8">0.8</option>
										<option value="0.9">0.9</option>
										<option value="1.0">1.0</option>

									</select>

								</div>

								<div id="PrioritylInputHelpBlock" class="form-text">

									<span class="fs-6 text-success">Priority: значимость (от 0.0 до 1.0)</span>
									<br class="d-md-none" />
									<span class="fs-6 text-danger"> - обязательное поле</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="Priority" class="text-danger"></span>
								}

							</div>

						</div>

					</div>

				</div>

				@* Содержание страницы (заголовок, картинка под заголовком, текст) *@
				<div class="accordion-item mb-3 mt-2 shadw">

					@* заголовок группы «содержание страницы» *@
					<h2 id="headingPageContent" class="accordion-header">

						<button class="accordion-button collapsed py-0 stranicy"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#PageContent"
								aria-expanded="true"
								aria-controls="PageContent">

							<span class="form-label fs-5">Содержание страницы :</span>

						</button>

					</h2>

					@* содержание страницы *@
					<div id="PageContent"
						 class="accordion-collapse collapse"
						 aria-labelledby="headingPageContent"
						 data-bs-parent="#accordionAddPage">

						<div class="accordion-body accordion-body-nointend text-center">

							@* Текст заголовка в теге <h1> ... </h1> *@
							<div>

								<label asp-for="PageHeading" class="@cssForLabel"></label>

								<input asp-for="PageHeading" id="PageHeadingInput" class="col-11 text-start" aria-describedby="PageHeadingInputHelpBlock" />

								<div id="PageHeadingInputHelpBlock" class="form-text">

									<span class="fs-6 text-success">текст заголовка страницы</span>
									<br class="d-md-none" />
									<span class="fs-6 text-success"> в теге &lt;h1&gt;... &lt;/h1&gt;</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="PageHeading" class="text-danger"></span>
								}

								<hr class="w-50 mx-auto" />

							</div>

							@* Картинка под заголовком страницы *@
							<div>

								<label asp-for="ImagePageHeadingFormFile" class="@cssForLabel"></label>

								<input asp-for="ImagePageHeadingFormFile"
									   id="ImageFormFileInput"
									   class="form-control mt-2 w-50 mx-auto"
									   aria-describedby="ImagePageHeadingFormFileInputHelpBlock" />

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="ImagePageHeadingFormFile" class="text-danger"></span>
								}

								<div id="ImagePageHeadingFormFileInputHelpBlock" class="form-text mt-3">

									<span class="fs-6 text-success">
										выбрать файл картинки
									</span>

								</div>

								<hr class="w-50 mx-auto" />

								<select asp-for="ImagePageHeadingId"
										asp-items="ViewBag.ImageFIles"
										class="d-flex col-12 col-sm-7 col-lg-6 mx-auto my-3"
										aria-describedby="ImageFormFileInputHelpBlock">

									<option value="@Guid.Empty" selected>Картинка не выбрана</option>

								</select>


								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="ImagePageHeadingId" class="text-danger"></span>
								}

								<div class="form-text">

									<span class="fs-6 text-success">
										выбрать картинку
									</span>

								</div>

								<hr class="w-50 mx-auto" />

							</div>

							@* Текст страницы в теге <article> ... </article> *@
							<div>

								<label asp-for="TextOfPage" class="@cssForLabel"></label>

								<textarea asp-for="TextOfPage"
										  id="TextOfPageInput"
										  class="form-control text-start fordetails px-3 border border-1 border-black"
										  rows="15"
										  aria-describedby="TextOfPageInputHelpBlock">
								</textarea>

								<div id="TextOfPageInputHelpBlock" class="form-text fs-6 text-success">

									<span>текст страницы</span>
									<br class="d-md-none" />
									<span> в теге &lt;article&gt; ... &lt;/article&gt;</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="TextOfPage" class="text-danger"></span>
								}

							</div>

						</div>

					</div>

				</div>

				@* фильтры поиска текущей страницы *@
				<div class="accordion-item mb-3 mt-2 shadw">

					@* заголовок группы «Фильтры поиска текущей страницы» *@
					<h2 id="headingSearchCurrentPage" class="accordion-header">

						<button class="accordion-button collapsed py-0 stranicy"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#SearchCurrentPage"
								aria-expanded="true"
								aria-controls="SearchCurrentPage">

							<span class="form-label fs-5">Фильтры для <span class="d-none d-sm-inline">поиска текущей</span> страницы :</span>

						</button>

					</h2>

					@* текст карточки страницы *@
					<div id="SearchCurrentPage"
						 class="accordion-collapse collapse"
						 aria-labelledby="headingSearchCurrentPage"
						 data-bs-parent="#accordionAddPage">

						<div class="accordion-body accordion-body-nointend text-center">

							<div>

								<label asp-for="PageFilter" class="@cssForLabel"></label>

								<textarea asp-for="PageFilter"
										  id="PageDescriptionInput"
										  class="form-control fordetails col-11 border border-1 border-black"
										  rows="3"
										  aria-describedby="PageFilterInputHelpBlock">
								</textarea>

								<div id="PageFilterInputHelpBlock" class="form-text">

									<span class="fs-6 text-success">
										фильтры текущей страницы
									</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="PageFilter" class="text-danger"></span>
								}

							</div>

						</div>

					</div>

				</div>

				@* поиск связанных страниц *@
				<div class="accordion-item mb-3 mt-2 shadw">

					@* заголовок группы «Поиск связанных страниц» *@
					<h2 id="headingRelatedPages" class="accordion-header">

						<button class="accordion-button collapsed py-0 stranicy"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#RelatedPages"
								aria-expanded="true"
								aria-controls="RelatedPages">

							<span class="form-label fs-5">Поиск <span class="d-none d-sm-inline">связанных</span> страниц :</span>

						</button>

					</h2>

					@* поиск связанных страниц *@
					<div id="RelatedPages"
						 class="accordion-collapse collapse"
						 aria-labelledby="headingSearchCurrentPage"
						 data-bs-parent="#accordionAddPage">

						<div class="accordion-body accordion-body-nointend text-center">

							@* Включить ссылки на страницы *@
							<div class="row g-1 justify-content-center">

								<label asp-for="PageLinksByFilters" class="@cssForLabel"></label>

								<div class="col-auto me-3">

									<input asp-for="PageLinksByFilters" type="radio" value="true"
										   id="PageLinksByFiltersTrue"
										   class="form-check-input float-none me-2">

									<label class="form-check-label" for="PageLinksByFiltersTrue">
										<span class="text-success">включить</span>
									</label>

								</div>

								<div class="col-auto">

									<input asp-for="PageLinksByFilters" type="radio" value="false" checked
										   id="PageLinksByFiltersFalse"
										   class="form-check-input float-none me-2">

									<label class="form-check-label" for="PageLinksByFiltersFalse">
										<span class="text-danger">выключить</span>
									</label>

								</div>

								<div id="PageLinksByFiltersInputHelpBlock" class="form-text mt-3">

									<span class="fs-6 text-success">
										включить ссылки на страницы
									</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="PageLinksByFilters" class="text-danger"></span>
								}

								<hr class="w-50 mx-auto" />

							</div>

							@* фильтры связанных страниц *@
							<div>

								<label asp-for="PageFilterOut" class="@cssForLabel"></label>

								<textarea asp-for="PageFilterOut"
										  id="PageFilterOuInput"
										  class="form-control fordetails col-11 border border-1 border-black"
										  rows="3"
										  aria-describedby="PageFilterOutInputHelpBlock">
								</textarea>

								<div id="PageFilterOutInputHelpBlock" class="form-text">

									<span class="fs-6 text-success">
										фильтры связанных страниц
									</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="PageFilterOut" class="text-danger"></span>
								}

							</div>

						</div>

					</div>

				</div>

				@* поиск связанных видео *@
				<div class="accordion-item mb-3 mt-2 shadw">

					@* заголовок группы «Поиск связанных видео» *@
					<h2 id="headingRelatedVideo" class="accordion-header">

						<button class="accordion-button collapsed py-0 stranicy"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#RelatedVideo"
								aria-expanded="true"
								aria-controls="RelatedVideo">

							<span class="form-label fs-5">Поиск <span class="d-none d-sm-inline">связанных</span> видео :</span>

						</button>

					</h2>

					@* поиск связанных видео *@
					<div id="RelatedVideo"
						 class="accordion-collapse collapse"
						 aria-labelledby="headingRelatedVideo"
						 data-bs-parent="#accordionAddPage">

						<div class="accordion-body accordion-body-nointend text-center">

							@* Включить ссылки на видео *@
							<div class="row g-1 justify-content-center">

								<label asp-for="VideoLinks" class="@cssForLabel"></label>

								<div class="col-auto me-3">

									<input asp-for="VideoLinks" type="radio" value="true"
										   id="VideoLinksTrue"
										   class="form-check-input float-none me-2">

									<label class="form-check-label" for="VideoLinksTrue">
										<span class="text-success">включить</span>
									</label>

								</div>

								<div class="col-auto">

									<input asp-for="VideoLinks" type="radio" value="false" checked
										   id="VideoLinksFalse"
										   class="form-check-input float-none me-2">

									<label class="form-check-label" for="VideoLinksFalse">
										<span class="text-danger">выключить</span>
									</label>

								</div>

								<div id="VideoLinksInputHelpBlock" class="form-text mt-3">

									<span class="fs-6 text-success">
										включить ссылки на видео
									</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="VideoLinks" class="text-danger"></span>
								}

								<hr class="w-50 mx-auto" />

							</div>

							@* фильтры связанных видео *@
							<div>

								<label asp-for="VideoFilterOut" class="@cssForLabel"></label>

								<textarea asp-for="VideoFilterOut"
										  id="VideoFilterOutInput"
										  class="form-control fordetails col-11 border border-1 border-black"
										  rows="3"
										  aria-describedby="VideoFilterOutInputHelpBlock">
								</textarea>

								<div id="VideoFilterOutInputHelpBlock" class="form-text">

									<span class="fs-6 text-success">
										фильтры связанных видео
									</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="VideoFilterOut" class="text-danger"></span>
								}

							</div>

						</div>

					</div>

				</div>

				@* поиск связанных страниц по GUID(1) *@
				<div class="accordion-item mb-3 mt-2 shadw">

					@* заголовок группы «Поиск связанных страниц по GUID(1)» *@
					<h2 id="headingRelatedPageByGuid1" class="accordion-header">

						<button class="accordion-button collapsed py-0 stranicy"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#RelatedPageByGuid1"
								aria-expanded="true"
								aria-controls="RelatedPageByGuid1">

							<span class="form-label fs-5">Поиск <span class="d-none d-sm-inline">связанных страниц </span>по GUID(1) :</span>

						</button>

					</h2>

					@* поиск связанных страниц по GUID(1) *@
					<div id="RelatedPageByGuid1"
						 class="accordion-collapse collapse"
						 aria-labelledby="headingRelatedPageByGuid1"
						 data-bs-parent="#accordionAddPage">

						<div class="accordion-body accordion-body-nointend text-center">

							@* Включить ссылки по GUID1 *@
							<div class="row g-1 justify-content-center">

								<label asp-for="PageLinks" class="@cssForLabel"></label>

								<div class="col-auto me-3">

									<input asp-for="PageLinks" type="radio" value="true"
										   id="PageLinksTrue"
										   class="form-check-input float-none me-2">

									<label class="form-check-label" for="PageLinksTrue">
										<span class="text-success">включить</span>
									</label>

								</div>

								<div class="col-auto">

									<input asp-for="PageLinks" type="radio" value="false" checked
										   id="PageLinksFalse"
										   class="form-check-input float-none me-2">

									<label class="form-check-label" for="PageLinksFalse">
										<span class="text-danger">выключить</span>
									</label>

								</div>

								<div id="PageLinksInputHelpBlock" class="form-text mt-3">

									<span class="fs-6 text-success">
										включить ссылки по GUID1
									</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="PageLinks" class="text-danger"></span>
								}

								<hr class="w-50 mx-auto" />

							</div>

							@* список GUID1 связанных страниц *@
							<div>

								<label asp-for="RefPages" class="@cssForLabel"></label>

								<textarea asp-for="RefPages"
										  id="RefPagesInput"
										  class="form-control fordetails col-11 border border-1 border-black"
										  rows="3"
										  aria-describedby="RefPagesInputHelpBlock">
								</textarea>

								<div id="RefPagesInputHelpBlock" class="form-text">

									<span class="fs-6 text-success">
										GUID1 связанных страниц
									</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="RefPages" class="text-danger"></span>
								}

							</div>

						</div>

					</div>

				</div>

				@* поиск связанных страниц по GUID(2) *@
				<div class="accordion-item mb-3 mt-2 shadw">

					@* заголовок группы «Поиск связанных страниц по GUID(2)» *@
					<h2 id="headingRelatedPageByGuid2" class="accordion-header">

						<button class="accordion-button collapsed py-0 stranicy"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#RelatedPageByGuid2"
								aria-expanded="true"
								aria-controls="RelatedPageByGuid2">

							<span class="form-label fs-5">Поиск <span class="d-none d-sm-inline">связанных страниц </span>по GUID(2) :</span>

						</button>

					</h2>

					@* поиск связанных страниц по GUID(2) *@
					<div id="RelatedPageByGuid2"
						 class="accordion-collapse collapse"
						 aria-labelledby="headingRelatedPageByGuid2"
						 data-bs-parent="#accordionAddPage">

						<div class="accordion-body accordion-body-nointend text-center">

							@* Включить ссылки по GUID2 *@
							<div class="row g-1 justify-content-center">

								<label asp-for="PageLinks2" class="@cssForLabel"></label>

								<div class="col-auto me-3">

									<input asp-for="PageLinks2" type="radio" value="true"
										   id="PageLinks2True"
										   class="form-check-input float-none me-2">

									<label class="form-check-label" for="PageLinks2True">
										<span class="text-success">включить</span>
									</label>

								</div>

								<div class="col-auto">

									<input asp-for="PageLinks2" type="radio" value="false" checked
										   id="PageLinks2False"
										   class="form-check-input float-none me-2">

									<label class="form-check-label" for="PageLinks2False">
										<span class="text-danger">выключить</span>
									</label>

								</div>

								<div id="PageLinks2InputHelpBlock" class="form-text mt-3">

									<span class="fs-6 text-success">
										включить ссылки по GUID2
									</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="PageLinks2" class="text-danger"></span>
								}

								<hr class="w-50 mx-auto" />

							</div>

							@* список GUID2 связанных страниц *@
							<div>

								<label asp-for="RefPages2" class="@cssForLabel"></label>

								<textarea asp-for="RefPages2"
										  id="RefPages2Input"
										  class="form-control fordetails col-11 border border-1 border-black"
										  rows="3"
										  aria-describedby="RefPages2InputHelpBlock">
								</textarea>

								<div id="RefPages2InputHelpBlock" class="form-text">

									<span class="fs-6 text-success">
										GUID2 связанных страниц
									</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="RefPages2" class="text-danger"></span>
								}

							</div>

						</div>

					</div>

				</div>

				@* альбом связанных картинок *@
				<div class="accordion-item mb-3 mt-2 shadw">

					@* заголовок группы «Альбом связанных картинок» *@
					<h2 id="headingRelatedPictures" class="accordion-header">

						<button class="accordion-button collapsed py-0 stranicy"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#RelatedPictures"
								aria-expanded="true"
								aria-controls="RelatedPictures">

							<span class="form-label fs-5">Поиск <span class="d-none d-sm-inline">связанных </span>картинок :</span>

						</button>

					</h2>

					@* связанные картинки *@
					<div id="RelatedPictures"
						 class="accordion-collapse collapse"
						 aria-labelledby="headingRelatedPictures"
						 data-bs-parent="#accordionAddPage">

						<div class="accordion-body accordion-body-nointend text-center">

							@* Включить ссылки по картинки *@
							<div class="row g-1 justify-content-center">

								<label asp-for="PhotoLinks" class="@cssForLabel"></label>

								<div class="col-auto me-3">

									<input asp-for="PhotoLinks" type="radio" value="true"
										   id="PhotoLinksTrue"
										   class="form-check-input float-none me-2">

									<label class="form-check-label" for="PhotoLinksTrue">
										<span class="text-success">включить</span>
									</label>

								</div>

								<div class="col-auto">

									<input asp-for="PhotoLinks" type="radio" value="false" checked
										   id="PhotoLinksFalse"
										   class="form-check-input float-none me-2">

									<label class="form-check-label" for="PhotoLinksFalse">
										<span class="text-danger">выключить</span>
									</label>

								</div>

								<div id="PhotoLinksInputHelpBlock" class="form-text mt-3">

									<span class="fs-6 text-success">
										включить ссылки на картинки
									</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="PhotoLinks" class="text-danger"></span>
								}

								<hr class="w-50 mx-auto" />

							</div>

							@* фильтры связанных картинок *@
							<div>

								<label asp-for="PhotoFilterOut" class="@cssForLabel"></label>

								<textarea asp-for="PhotoFilterOut"
										  id="PhotoFilterOutInput"
										  class="form-control fordetails col-11 border border-1 border-black"
										  rows="3"
										  aria-describedby="PhotoFilterOutInputHelpBlock">
								</textarea>

								<div id="PhotoFilterOutInputHelpBlock" class="form-text">

									<span class="fs-6 text-success">
										фильтры связанных картинок
									</span>

								</div>

								@if (Context.Request.Method == "POST")
								{
									<span asp-validation-for="PhotoFilterOut" class="text-danger"></span>
								}

							</div>

						</div>

					</div>

				</div>

			</div>

			@* Сохранить - Отменить*@
			<div class="card-footer p-0 pb-2 mt-4 mx-auto maxwidth700px">

				<button type="submit"
						class="btn btn-outline-success m-2 me-3 text-center shadw"
						title="Сохранить">

					Сохранить

				</button>

				<a class="btn btn-outline-danger m-2 shadw"
				   asp-area="Admin"
				   asp-controller="PageInfo"
				   asp-action="Index"
				   title="отменить">

					Отменить

				</a>

			</div>

		</form>

	</div>

</div>