@model PagesListViewModel

@{
}

<div class="row">

    @if (!String.IsNullOrEmpty(Model.PageTitleSearchString))
    {
        <p class="fs-5 text-primary mb-0">
            Поиск в заголовке по строке: <span class="text-black text_shadow">@Model.PageTitleSearchString</span>
        </p>
    }

    @if (!String.IsNullOrEmpty(Model.PageDescriptionSearchString))
    {
        <p class="fs-5 text-primary mb-0">Поиск в описании по строке: <span class="text-black text_shadow">@Model.PageDescriptionSearchString</span></p>
    }

    @if (!String.IsNullOrEmpty(Model.KeyWordSearchString))
    {
        <p class="fs-5 text-primary mb-0">Поиск по ключевому слову:  <span class="text-black text_shadow">@Model.KeyWordSearchString</span></p>
    }

</div>

@if (Model.PagingInfo.TotalItems == 0)
{
    <div class="row">

        <div class="col text-center p-2">

            <p class="fs-5 text_shadow mb-0">В базе данных нет страниц</p>

        </div>

    </div>
}
else
{
    <div class="row">

        <div class="col-12 text-center">

            <p class="fs-5 text-primary mb-0">Количество страниц:&nbsp;<span class="text-black text_shadow">@Model.PagingInfo.TotalItems</span></p>

        </div>

    </div>
}

<hr class="liniya" />

<div class="row row-cols-2 row-cols-md-3 justify-content-center px-2">

    <div class="col-6 col-md-2">
        <a asp-area="Admin" asp-controller="PageInfo" asp-action="AddPage" class="btn btn-outline-danger me-4 shadw" title="добавить страницу">Добавить</a>
    </div>

    <div class="col-6 col-md-2">
        <a class="btn btn-outline-primary me-4 shadw"
           asp-area="Admin"
           asp-controller="PageInfo"
           asp-action="Index"
           asp-route-pageCard="true"
           asp-route-pageTitleSearchString=@Model.PageTitleSearchString
           asp-route-pageDescriptionSearchString=@Model.PageDescriptionSearchString
           asp-route-keyWordSearchString=@Model.KeyWordSearchString
           asp-route-pageNumber=@Model.PageNumber
           title="иконки страниц">
            Иконки
        </a>
    </div>

    <div class="col-12 col-md-8 mt-3 mt-md-0 gx-2">

        <div class="accordion" id="pageSearch">

            <div class="accordion-item shadw">

                <h2 class="accordion-header" id="heading">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="true" aria-controls="collapse">
                        Поиск:
                    </button>
                </h2>

                <div id="collapse" class="accordion-collapse collapse" aria-labelledby="heading" data-bs-parent="#pageSearch">

                    <div class="accordion-body p-1">

                        <div class="table-responsive border border-primary shadw">

                            <form asp-area="Admin" asp-controller="PageInfo" asp-action="Index" asp-route-pageCard="false" method="get">

                                <input asp-for="PageCard" type="hidden" value="false" />
                                <input asp-for="PageNumber" type="hidden" />

                                <table class="table table-hover table-borderless">
                                    <tbody>

                                        <tr>
                                            <td scope="row" class="text-end">
                                                <span class="fs-6 text-primary">Title:</span><br />
                                            </td>
                                            <td class="text-start">
                                                <input type="text" asp-for="PageTitleSearchString" /><br />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td scope="row" class="text-end">
                                                <span class="fs-6 text-primary">Description:</span><br />
                                            </td>
                                            <td class="text-start">
                                                <input type="text" asp-for="PageDescriptionSearchString" /><br />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td scope="row" class="text-end">
                                                <span class="fs-6 text-primary">KeyWords:</span><br />
                                            </td>
                                            <td class="text-start">
                                                <input type="text" asp-for="KeyWordSearchString" /><br />
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                                <p class="text-center pb-3">

                                    <input type="submit" value="ПОИСК" class="btn btn-outline-danger py-1 shadw" />

                                </p>

                            </form>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<hr class="liniya" />

@if (Model.PagingInfo.TotalPages > 1)
{
    <div class="row p-2 m-2">

        <div page-model="@Model.PagingInfo" page-search="@Model" page-action="Index" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-outline-dark"
             page-class-selected="btn-danger" class="col-11 btn-group flex-wrap btn-group-sm m-2 p-1 mx-auto ten" data-toggle="buttons" role="group" aria-label="страницы сайта">
        </div>

    </div>
}

<div class="table-responsive">

    <table class="table table-hover caption-top align-middle">

        <thead>

            <tr class="table-secondary">
                <th scope="col" class="d-none d-xl-table-cell text-start text-primary">ID страницы</th>
                <th scope="col" class="d-none d-xxl-table-cell text-start text-primary">Адрес</th>
                <th scope="col" class="text-start text-primary">Заголовок</th>
                <th scope="col"></th>
            </tr>

        </thead>

        <tbody>

            @foreach (var pageInfo in Model?.Pages ?? Enumerable.Empty<PageInfoModel>())
            {
                <tr>

                    <td scope="col" class="d-none d-xl-table-cell text-start text_shadow">@pageInfo.PageInfoModelId</td>
                    <td scope="col" class="d-none d-xxl-table-cell text-start text_shadow">@pageInfo.PageFullPathWithData</td>
                    <td scope="col" class="text-start text_shadow">@pageInfo.PageTitle</td>

                    <td scope="col" class="text-end">

                        <a asp-area="Admin" asp-controller="PageInfo" asp-action="DetailsPage" asp-route-pageId="@pageInfo.PageInfoModelId" class="btn btn-outline-info py-0 px-2 mb-1 ms-1 shadw" title="подробно">Info</a>
                        <a asp-area="Admin" asp-controller="PageInfo" asp-action="EditPage" asp-route-pageId="@pageInfo.PageInfoModelId" class="btn btn-outline-dark py-0 px-2 mb-1 ms-1 shadw" title="редактировать">Edit</a>
                        <a href="@Url.Content(pageInfo.PageFullPathWithData)" class="btn btn-outline-primary py-0 px-2 mb-1 ms-1 shadw" title="просмотр">Run</a>
                        <a asp-area="Admin" asp-controller="PageInfo" asp-action="DeletePage" asp-route-pageId="@pageInfo.PageInfoModelId" class="btn btn-outline-danger py-0 px-2 mb-1 ms-1 shadw" title="удалить">Del</a>

                    </td>

                </tr>
            }

        </tbody>

    </table>

</div>

@if (Model!.PagingInfo.TotalPages > 1)
{
    <div class="row p-2 m-2">

        <div page-model="@Model.PagingInfo" page-search="@Model" page-action="Index" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-outline-dark"
             page-class-selected="btn-danger" class="col-11 btn-group flex-wrap btn-group-sm m-2 p-1 mx-auto ten" data-toggle="buttons" role="group" aria-label="страницы сайта">
        </div>

    </div>
}
