@model MoviePageViewModel

@{
    string screenFormat = ((int)(((double)Model.MovieFile.MovieHeight / (double)Model.MovieFile.MovieWidth) * 100)).ToString() + "%";

    string posterForVideo = string.Empty;
}

@* Заголовок страницы *@
<div class="row-col-1">

    <h1 class="h2 text_shadow">@Model.MovieFile.MovieCaptionForOnline</h1>

    <hr class="liniya" />

</div>

@* Основной блок ВИДЕО *@
<div class="row">

    @* Кадры слева от видео *@
    @if (!string.IsNullOrEmpty(Model.MovieFile.FramesAroundMovie) == true)
    {
        <vc:movie-frames image-filter="@Model.MovieFile.FramesAroundMovie" left-side="true" one-frame="false" />
    }
    else
    {
        <vc:movie-frames image-filter="@Model.MovieFile.MovieCaption," left-side="true" one-frame="false" />
    }


    @* Видео *@
    <div class="col-sm-12 col-md w-100 mb-3">

        <div class="col-12 p-0 p-sm-1 p-xl-2 mb-3 shadw">

            @* Данные http://schema.org/VideoObject  *@
            <span itemprop="video" itemscope itemtype="http://schema.org/VideoObject">

                <meta itemprop="name" content="@Model.MovieFile.MovieCaption" />
                <meta itemprop="caption" content="@Model.MovieFile.MovieCaption" />
                <link itemprop="url" href="@Model.MovieFile.MovieContentUrl" />
                <link itemprop="contentUrl" href="@Model.MovieFile.MovieContentUrl" />
                <meta itemprop="description" content="@Model.MovieFile.MovieDescriptionForSchemaOrg" />
                <meta itemprop="duration" content="@Model.MovieFile.MovieDuration.ToString("'T'hh'H'mm'M'ss'S'")" />
                <meta itemprop="isFamilyFriendly" content="@Model.MovieFile.MovieIsFamilyFriendly.ToString()" />
                <link itemprop="thumbnail" href="https://@Context.Request.Host@Model.MovieFile.ImageFileModel!.ImagePath/@Model.MovieFile.ImageFileModel.ImageFileName" />
                <link itemprop="thumbnailUrl" href="https://@Context.Request.Host@Model.MovieFile.ImageFileModel!.ImagePath/@Model.MovieFile.ImageFileModel.ImageFileName" />
                <meta itemprop="uploadDate" content="@Model.MovieFile.MovieUploadDate.ToString("yyyy-MM-dd")" />
                <meta itemprop="height" content="@Model.MovieFile.MovieHeight" />
                <meta itemprop="width" content="@Model.MovieFile.MovieWidth" />
                @if (Model.MovieFile.MovieHeight <= 360)
                {
                    <meta itemprop="videoQuality" content="low" />
                }

                @if (Model.MovieFile.MovieHeight > 360 & Model.MovieFile.MovieHeight <= 720)
                {
                    <meta itemprop="videoQuality" content="medium" />
                }

                @if (Model.MovieFile.MovieHeight > 720 & Model.MovieFile.MovieHeight < 1080)
                {
                    <meta itemprop="videoQuality" content="HD" />
                }

                @if (Model.MovieFile.MovieHeight >= 1080)
                {
                    <meta itemprop="videoQuality" content="full HD" />
                }
                <meta itemprop="contentSize" content="@Model.MovieFile.MovieFileSize.ToString().Substring(0, Model.MovieFile.MovieFileSize.ToString().Length - 3)" />
                <meta itemprop="dateReleased" content="@Model.MovieFile.MovieDatePublished.ToString("yyyy-MM-dd")" />
                <meta itemprop="dateCreated" content="@Model.MovieFile.MovieDateCreated.ToString("yyyy-MM-dd")" />
                <meta itemprop="inLanguage" content="@Model.MovieFile.MovieInLanguage1" />
                @if (!string.IsNullOrEmpty(Model.MovieFile.MovieInLanguage2))
                {
                    <meta itemprop="inLanguage" content="@Model.MovieFile.MovieInLanguage2" />
                }

                @if (!string.IsNullOrEmpty(Model.MovieFile.MovieSubtitles1))
                {
                    <meta itemprop="subtitleLanguage" content="@Model.MovieFile.MovieSubtitles1" />
                }

                @if (!string.IsNullOrEmpty(Model.MovieFile.MovieSubtitles2))
                {
                    <meta itemprop="subtitleLanguage" content="@Model.MovieFile.MovieSubtitles2" />
                }
                <meta itemprop="part" content="@Model.MovieFile.MoviePart" />
                <meta itemprop="genre" content="@Model.MovieFile.MovieGenre" />
                <meta itemprop="content_id" content="@Model.MovieFile.MovieFileModelId" />
                <meta itemprop="productionCompany" content="@Model.MovieFile.MovieРroductionCompany" />
                @if (!string.IsNullOrEmpty(Model.MovieFile.MovieDirector1))
                {
                    <meta itemprop="director" content="@Model.MovieFile.MovieDirector1" />
                }

                @if (!string.IsNullOrEmpty(Model.MovieFile.MovieDirector2))
                {
                    <meta itemprop="director" content="@Model.MovieFile.MovieDirector2" />
                }

                @if (!string.IsNullOrEmpty(Model.MovieFile.MovieMusicBy))
                {
                    <meta itemprop="musicBy" content="@Model.MovieFile.MovieMusicBy" />
                }

                @if (!string.IsNullOrEmpty(Model.MovieFile.MovieActor01))
                {
                    <meta itemprop="actor" content="@Model.MovieFile.MovieActor01" />
                }

                @if (!string.IsNullOrEmpty(Model.MovieFile.MovieActor02))
                {
                    <meta itemprop="actor" content="@Model.MovieFile.MovieActor02" />
                }

                @if (!string.IsNullOrEmpty(Model.MovieFile.MovieActor03))
                {
                    <meta itemprop="actor" content="@Model.MovieFile.MovieActor03" />
                }

                @if (!string.IsNullOrEmpty(Model.MovieFile.MovieActor04))
                {
                    <meta itemprop="actor" content="@Model.MovieFile.MovieActor04" />
                }

                @if (!string.IsNullOrEmpty(Model.MovieFile.MovieActor05))
                {
                    <meta itemprop="actor" content="@Model.MovieFile.MovieActor05" />
                }

                @if (!string.IsNullOrEmpty(Model.MovieFile.MovieActor06))
                {
                    <meta itemprop="actor" content="@Model.MovieFile.MovieActor06" />
                }

                @if (!string.IsNullOrEmpty(Model.MovieFile.MovieActor07))
                {
                    <meta itemprop="actor" content="@Model.MovieFile.MovieActor07" />
                }

                @if (!string.IsNullOrEmpty(Model.MovieFile.MovieActor08))
                {
                    <meta itemprop="actor" content="@Model.MovieFile.MovieActor08" />
                }

                @if (!string.IsNullOrEmpty(Model.MovieFile.MovieActor09))
                {
                    <meta itemprop="actor" content="@Model.MovieFile.MovieActor09" />
                }

                @if (!string.IsNullOrEmpty(Model.MovieFile.MovieActor10))
                {
                    <meta itemprop="actor" content="@Model.MovieFile.MovieActor10" />
                }

                <meta itemprop="image" content="https://@Context.Request.Host@Model.MovieFile.ImageFileModel.ImagePath/@Model.MovieFile.ImageFileModel.ImageFileName" />
                <meta itemprop="playerType" content="@Model.MovieFile.MovieMimeType" />
                <meta itemprop="availablePlatform" content="Desktop" />
                <meta itemprop="availablePlatform" content="Mobile" />

            </span>

            @* Воспроизведение видео *@
            <div class="div-adaptiv mx-auto" style="padding-bottom:@screenFormat;">

                @* Video -JS *@
                @if (Model.SergeyshefRu)
                {
                    <video id="my-video"
                           class="video-js video-adaptiv"
                           controls
                           preload="auto"
                           width="@Model.MovieFile.MovieWidth"
                           height="@Model.MovieFile.MovieHeight"
                           poster="@posterForVideo"
                           data-setup="{}">

                        <source src="@Model.VideoRef" type="@Model.MovieFile.MovieMimeType" />

                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>

                    </video>

                    <script src="https://vjs.zencdn.net/8.16.1/video.min.js"></script>

                    <script>
                        var player = videojs('playerId', {
                            html5: {
                                vhs: {
                                    overrideNative: true
                                },
                                nativeAudioTracks: false,
                                nativeVideoTracks: false
                            }
                        });
                    </script>
                }
                else
                {
                    <iframe class="video-adaptiv" src="@Model.VideoRef" allowfullscreen></iframe>
                }

            </div>

            @* Списки под видео *@
            <div id="movieDescription" class="accordion mt-4 mb-2 p-1">

                @* Описание фильма *@
                <div class="accordion-item shadw">

                    <h2 id="heading1" class="accordion-header">
                        <button class="accordion-button collapsed p-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            <div>Содержание: <span id="descr">@Model.MovieFile.MovieDescriptionForSchemaOrg.StartOfDescription()</span></div>
                        </button>
                    </h2>

                    <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#movieDescription">

                        <div class="accordion-body">

                            @Html.Raw(Model.MovieFile.MovieDescriptionHtml)

                        </div>

                    </div>

                </div>

                @* Выбрать видеохостинг *@
                <div class="accordion-item shadw mt-3">

                    @* Заголовок вкладки*@
                    <h2 id="heading2" class="accordion-header">

                        <button class="accordion-button collapsed p-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2">

                            <span class="d-none d-sm-block pe-1">Видео на :</span>

                            <vc:view-image image-id="454a9adb-58d7-4cd2-8b78-08db0babccab"
                                           css-class="maxwidth40px"
                                           icon-type="webicon100" />

                            <vc:view-image image-id="3dc5ea15-b873-4f01-b103-08db0baedb98"
                                           css-class="maxwidth40px"
                                           icon-type="webicon100" />

                            <vc:view-image image-id="1e1619fc-50a5-4afa-58ea-08db0bafe8f2"
                                           css-class="maxwidth40px"
                                           icon-type="webicon100" />

                            <vc:view-image image-id="78ea8336-1037-470b-d6dd-08db0bb1124f"
                                           css-class="maxwidth40px"
                                           icon-type="webicon100" />

                            <vc:view-image image-id="dedf73e6-ad9a-456b-d279-08db0c783914"
                                           css-class="maxwidth40px"
                                           icon-type="webicon100" />

                            <vc:view-image image-id="4c047241-d660-41fd-b7d5-08db0bad8e49"
                                           css-class="maxwidth40px"
                                           icon-type="webicon100" />

                        </button>

                    </h2>

                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#movieDescription">

                        <div class="accordion-body accordion-body-nointend">

                            <div class="row row-cols-3 g-1 g-sm-2 justify-content-center">

                                @* YouTube *@
                                <a asp-area=""
                                   asp-controller="AllVideo"
                                   asp-action="Movie"
                                   asp-route-movieid="@Model.MovieFile.MovieFileModelId"
                                   asp-route-videohosting="@Model.MovieFile.MovieYouTube">

                                    <vc:view-image image-id="454a9adb-58d7-4cd2-8b78-08db0babccab"
                                                   css-class="col shadw imageref @(Context.Request.QueryString.ToString().Contains("youtube", StringComparison.InvariantCultureIgnoreCase) ? "setimage_border" : string.Empty)"
                                                   icon-type="webicon300" />

                                </a>

                                @* vk.com *@ 
                                <a asp-area=""
                                   asp-controller="AllVideo"
                                   asp-action="Movie"
                                   asp-route-movieid="@Model.MovieFile.MovieFileModelId"
                                   asp-route-videohosting="@Model.MovieFile.MovieVkVideo">

                                    <vc:view-image image-id="3dc5ea15-b873-4f01-b103-08db0baedb98"
                                                   css-class="col shadw imageref @(Context.Request.QueryString.ToString().Contains("vk", StringComparison.InvariantCultureIgnoreCase) ? "setimage_border" : string.Empty)"
                                                   icon-type="webicon300" />

                                </a>

                                @*mail.ru *@
                                <a asp-area=""
                                   asp-controller="AllVideo"
                                   asp-action="Movie"
                                   asp-route-movieid="@Model.MovieFile.MovieFileModelId"
                                   asp-route-videohosting="@Model.MovieFile.MovieMailRuVideo">

                                    <vc:view-image image-id="1e1619fc-50a5-4afa-58ea-08db0bafe8f2"
                                                   css-class="col shadw imageref @(Context.Request.QueryString.ToString().Contains("mail.", StringComparison.InvariantCultureIgnoreCase) ? "setimage_border" : string.Empty)"
                                                   icon-type="webicon300" />

                                </a>

                                @* ok.ru *@
                                <a asp-area=""
                                   asp-controller="AllVideo"
                                   asp-action="Movie"
                                   asp-route-movieid="@Model.MovieFile.MovieFileModelId"
                                   asp-route-videohosting="@Model.MovieFile.MovieOkVideo">

                                    <vc:view-image image-id="78ea8336-1037-470b-d6dd-08db0bb1124f"
                                                   css-class="col shadw imageref @(Context.Request.QueryString.ToString().Contains("ok.", StringComparison.InvariantCultureIgnoreCase) ? "setimage_border" : string.Empty)"
                                                   icon-type="webicon300" />

                                </a>

                                @* sergeyshef.ru *@
                                <a asp-area=""
                                   asp-controller="AllVideo"
                                   asp-action="Movie"
                                   asp-route-movieid="@Model.MovieFile.MovieFileModelId"
                                   asp-route-videohosting="@Model.MovieFile.MovieContentUrl">

                                    <vc:view-image image-id="dedf73e6-ad9a-456b-d279-08db0c783914"
                                                   css-class="col shadw imageref @(Context.Request.QueryString.ToString().Contains("sergeyshef.ru", StringComparison.InvariantCultureIgnoreCase) ? "setimage_border" : string.Empty)"
                                                   icon-type="webicon300" />

                                </a>

                                @* Yandex Disk *@
                                <a onClick="this.target='_blank'" href="@Model.MovieFile.MovieYandexDiskVideo">

                                    <vc:view-image image-id="4c047241-d660-41fd-b7d5-08db0bad8e49"
                                                   css-class="col shadw imageref"
                                                   icon-type="webicon300" />

                                </a>

                            </div>

                        </div>

                    </div>

                </div>

                @* Информация о фильме *@
                <div class="accordion-item shadw mt-3">

                    <h2 id="heading3" class="accordion-header">
                        <button class="accordion-button collapsed p-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                            <span class="d-none d-sm-block pe-1">О фильме :</span>
                            <vc:view-image image-id="abe41ec7-67b5-4010-205f-08db0b95d168"
                                           css-class="maxwidth40px"
                                           icon-type="webicon100" />
                            <vc:view-image image-id="31eec46d-5556-4cdb-67a7-08db0b99fb42"
                                           css-class="maxwidth40px"
                                           icon-type="webicon100" />
                            <vc:view-image image-id="9923aec8-f82b-4032-00f2-08db0b9fc418"
                                           css-class="maxwidth40px"
                                           icon-type="webicon100" />
                        </button>
                    </h2>

                    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#movieDescription">

                        <div class="accordion-body accordion-body-nointend">

                            <div class="row row-cols-3 g-1 g-sm-2 justify-content-center">

                                <a onClick="this.target='_blank'" href="@Model.MovieFile.MovieKinoTeatrRu">

                                    <vc:view-image image-id="abe41ec7-67b5-4010-205f-08db0b95d168"
                                                   css-class="col-12 shadw imageref"
                                                   icon-type="webicon300" />

                                </a>

                                <a onClick="this.target='_blank'" href="@Model.MovieFile.MovieKinoPoisk">

                                    <vc:view-image image-id="31eec46d-5556-4cdb-67a7-08db0b99fb42"
                                                   css-class="col-12 shadw imageref"
                                                   icon-type="webicon300" />

                                </a>

                                <a onClick="this.target='_blank'" href="@Model.MovieFile.MovieImbd">

                                    <vc:view-image image-id="9923aec8-f82b-4032-00f2-08db0b9fc418"
                                                   css-class="col-12 shadw imageref"
                                                   icon-type="webicon300" />

                                </a>

                            </div>

                        </div>

                    </div>

                </div>

                @* Статья, интервью и т.п. *@
                @if (!string.IsNullOrEmpty(Model.ArticleAboutMovie1))
                {
                    <div class="accordion-item shadw mt-3">

                        @* Заголовок вкладки статьи, интервью и т.п. *@
                        <h2 id="heading4" class="accordion-header">
                            <button class="accordion-button collapsed p-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                                <span>Пресса :</span>
                            </button>
                        </h2>

                    </div>

                    <div id="collapse4" class="accordion-collapse collapse h" aria-labelledby="heading4" data-bs-parent="#movieDescription">

                        @* Текст статьи, интервью и т.п. *@
                        <div class="descr lay1 mt-2 overflow-y-scroll height600">

                            @Html.Raw(Model.ArticleAboutMovie1)

                        </div>

                    </div>
                }


            </div>

        </div>

    </div>

    @* Кадры справа от видео *@
    @if (!string.IsNullOrEmpty(Model.MovieFile.FramesAroundMovie) == true)
    {
        <vc:movie-frames image-filter="@Model.MovieFile.FramesAroundMovie" left-side="false" one-frame="false" />
    }
    else
    {
        <vc:movie-frames image-filter="@Model.MovieFile.MovieCaption," left-side="false" one-frame="false" />
    }


</div>

@* Полная версия фильма *@
@if (Model.MovieFile.FullMovieID != null)
{
    <hr class="liniya" />

    <div class="row-col-1 mb-2">

        <h2 class="h2 text_shadow">ПОЛНАЯ ВЕРСИЯ</h2>

    </div>

    <div class="row row-cols-1 row-cols-lg-3 g-1 g-sm-2 justify-content-center">

        @if (!string.IsNullOrEmpty(Model.MovieFile.FramesAroundMovie) == true)
        {
            <vc:movie-frames image-filter="@Model.MovieFile.FramesAroundMovie" left-side="true" one-frame="true" />
        }
        else
        {
            <vc:movie-frames image-filter="@Model.MovieFile.MovieCaption," left-side="true" one-frame="true" />
        }

        <div class="col-8 mx-auto">

            <vc:video-card movie-file-model=@Model.FullMovie is-parts-more-one="false" is-image="true" />

        </div>

        @if (!string.IsNullOrEmpty(Model.MovieFile.FramesAroundMovie) == true)
        {
            <vc:movie-frames image-filter="@Model.MovieFile.FramesAroundMovie" left-side="false" one-frame="true" />
        }
        else
        {
            <vc:movie-frames image-filter="@Model.MovieFile.MovieCaption," left-side="false" one-frame="true" />
        }

    </div>
}
else
{
}


@* Фотокарусель *@
@if (Model.MovieFile.Carousel)
{
    <vc:multiple-carousel movie-carousel="@Model.MovieFile" />
}
else
{

}


@* Ссылки под видео 1 *@
@if (!string.IsNullOrEmpty(Model.MovieFile.SearchFilter1))
{
    <vc:links-below1 movie="@Model.MovieFile" />
}
else
{
}


@* Ссылки под видео 2 *@
@if (!string.IsNullOrEmpty(Model.MovieFile.SearchFilter2))
{
    <vc:links-below2 movie="@Model.MovieFile" />
}
else
{
}


@* Скрипты для фотокарусели *@
@section Scripts {
    <script>

        const carouselElement1 = document.querySelector('#multipleItemCarousel1')
        const carouselElement2 = document.querySelector('#multipleItemCarousel2')
        const carouselElement3 = document.querySelector('#multipleItemCarousel3')

        const carousel1 = new bootstrap.Carousel(carouselElement1, {
            interval: 3200
        })

        const carousel2 = new bootstrap.Carousel(carouselElement2, {
            interval: 4500
        })

        const carousel3 = new bootstrap.Carousel(carouselElement3, {
            interval: 3900
        })

    </script>
}