@model ArticleViewModel

<article itemscope itemtype="http://schema.org/Article">

    <meta itemprop="author" content="@Model.BookOrArticle.AuthorOfText">
    <meta itemprop="name" content="@Model.BookOrArticle.CaptionOfText">
    <meta itemprop="publisher" content="@Model.BookOrArticle.Publisher">
    <meta itemprop="datePublished dateModified" content="@Model.BookOrArticle.DateOfPublication.ToString("yyyy-MM-dd")">
    <meta itemprop="description" content="@Model.BookOrArticle.BookDescription">
    <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="caption" content="газета &laquo;Сегодня&raquo; от 14.02.1995">
        <link itemprop="contentUrl thumbnailUrl url" href="https://shevkunenko.ru/img/pressa/Segodniya_1995_N28_s1_2.jpg">
        <meta itemprop="width" content="600">
        <meta itemprop="height" content="187">
    </span>

    <a href="http://www.newsru.com/russia/16apr2001/segodnya.html"
       class="@(Model.BookOrArticle.LogoOfArticleId != null ? "d-block mx-auto maxwidth700px shadw imageref" : "d-none")"
       title="логотип издания"
       onclick="this.target='_blank'">

        <vc:view-image image-id="@Model.BookOrArticle.LogoOfArticleId" css-class="w-100" icon-type="webimage" />

    </a>

</article>