@model ArticleViewModel

<article class="mx-auto fluid-font-size" itemscope itemtype="http://schema.org/Article">

    <meta itemprop="author" content="@Model.BookOrArticle.AuthorOfText" />
    <meta itemprop="url" content="https://@Context.Request.Host@Context.Request.Path@Context.Request.QueryString">
    <meta itemprop="publisher" content="@Model.BookOrArticle.Publisher">
    <meta itemprop="datePublished dateModified" content="@Model.BookOrArticle.DateOfPublication.ToString("yyyy-MM-ddTHH:mm:ssZ")">
    <meta itemprop="description" content="@Model.BookOrArticle.BookDescription">

    @* выбор картинки для статьи *@
    <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
        @if (Model.BookOrArticle.ScanOfArticle != null)
        {
            <meta itemprop="caption" content="@Model.BookOrArticle.ScanOfArticle.ImageCaption">
            <link itemprop="contentUrl url" href="https://@Context.Request.Host@Model.BookOrArticle.ScanOfArticle.ImagePath/@Model.BookOrArticle.ScanOfArticle.WebImageFileName">
            <link itemprop="thumbnailUrl" href="https://@Context.Request.Host@Model.BookOrArticle.ScanOfArticle.ImagePath/@Model.BookOrArticle.ScanOfArticle.WebIconFileName">
            <meta itemprop="width" content="@Model.BookOrArticle.ScanOfArticle.WebImageWidth">
            <meta itemprop="height" content="@Model.BookOrArticle.ScanOfArticle.WebImageHeight">
        }
        else if (Model.BookOrArticle.LogoOfArticle != null)
        {
            <meta itemprop="caption" content="@Model.BookOrArticle.LogoOfArticle.ImageCaption">
            <link itemprop="contentUrl url" href="https://@Context.Request.Host@Model.BookOrArticle.LogoOfArticle.ImagePath/@Model.BookOrArticle.LogoOfArticle.WebImageFileName">
            <link itemprop="thumbnailUrl" href="https://@Context.Request.Host@Model.BookOrArticle.LogoOfArticle.ImagePath/@Model.BookOrArticle.LogoOfArticle.WebIconFileName">
            <meta itemprop="width" content="@Model.BookOrArticle.LogoOfArticle.WebImageWidth">
            <meta itemprop="height" content="@Model.BookOrArticle.LogoOfArticle.WebImageHeight">
        }
        else
        {
            <meta itemprop="caption" content="@Model.PageInfo.ImageFileModel!.ImageCaption">
            <link itemprop="contentUrl url" href="https://@Context.Request.Host@Model.PageInfo.ImageFileModel.ImagePath/@Model.PageInfo.ImageFileModel.WebImageFileName">
            <link itemprop="thumbnailUrl" href="https://@Context.Request.Host@Model.PageInfo.ImageFileModel.ImagePath/@Model.PageInfo.ImageFileModel.WebIconFileName">
            <meta itemprop="width" content="@Model.PageInfo.ImageFileModel.WebImageWidth">
            <meta itemprop="height" content="@Model.PageInfo.ImageFileModel.WebImageHeight">
        }
    </span>

    @* логотип статьи *@
    @if (Model.BookOrArticle.UrlOfArticle != null)
    {
        <a href="@Model.BookOrArticle.UrlOfArticle"
           class="@(Model.BookOrArticle.LogoOfArticleId != null ? "d-block maxwidth700px mx-auto shadw imageref" : "d-none")"
           title="логотип издания"
           onclick="this.target='_blank'">

            <vc:view-image image-id="@Model.BookOrArticle.LogoOfArticleId"
                           css-class="w-100 d-print"
                           icon-type="webimage" />

        </a>
    }
    else
    {
        <vc:view-image image-id="@Model.BookOrArticle.LogoOfArticleId"
                       css-class="w-100 mx-auto maxwidth700px shadw @(Model.BookOrArticle.LogoOfArticleId != null ? "d-block" : "d-none")"
                       icon-type="webimage" />
    }


    @* заголовок статьи *@
    <header itemprop="headline" class="d-block my-3 mx-auto maxwidth600px">

        <h1 class="lh-1">
            <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                <span itemprop="name" class="fs-3 text-primary d-inline-block mb-1 h1_print">
                    @Model.BookOrArticle.AuthorOfText
                </span>
                <span itemprop="url" class="d-none">
                    https://@Context.Request.Host@Context.Request.Path@Context.Request.QueryString
                </span>
            </span>
            <br />
            <span itemprop="headline" class="fs-2 text_shadow h1_print">
                @Model.BookOrArticle.CaptionOfText
            </span>
        </h1>

    </header>

    @* статья *@
    <div class="row">

        @* кадры слева *@
        @if (Model.FramesAroundMainContent != null && Model.FramesAroundMainContent.FramesOnTheLeft != null && Model.FramesAroundMainContent.FramesOnTheLeft.Length > 0)
        {
            <div class="col-2 mx-auto d-none d-md-block overflow-y-auto overflow-x-hidden height1000">

                @foreach (var item in Model.FramesAroundMainContent.FramesOnTheLeft)
                {
                    <a href="@item.ImagePath/@(string.IsNullOrEmpty(item.WebImageHDFileName) == false ? item.WebImageHDFileName : item.WebImageFileName)"
                       class=""
                       title="@item.ImageAltTitle"
                       onclick="this.target='_blank'">

                        <vc:view-image image-id="@item.ImageFileModelId"
                                       css-class="my-2 w-100 shadw imageref"
                                       icon-type="webicon200" />

                    </a>
                }

            </div>
        }
        else
        {
            <div class="col-2 d-none d-md-block"></div>
        }


        @* текст статьи *@
        <div class="col col-md-8 article_page mx-auto paragraph shadw @(Model.Scan == true ? "mt-4 overflow-y-auto overflow-x-hidden height1000" : "")" itemprop="articleBody text">

            @* инфо вверху страницы *@
            <div class="@(Model.Scan == true ? "d-none" : "mb-4 top_page d-print-none")">

                @if (Model.BookOrArticle.ScanOfArticleId != null && Model.Scan != true)
                {
                    <a class=""
                       asp-area=""
                       asp-controller="Articles"
                       asp-action="Article"
                       asp-route-articleId="@Model.BookOrArticle.BooksAndArticlesModelId"
                       asp-route-pageNumber="1"
                       asp-route-scan="true"
                       title="скан статьи">

                        <vc:view-image image-id="123d2197-2305-41d5-5539-08dd63f54213"
                                       css-class="float-start me-2 maxwidth40px shadw imageref"
                                       icon-type="webicon100" />

                    </a>
                }

                @if (Model.BookOrArticle.VideoForBookOrArticle != null && Model.Scan != true)
                {
                    <a class=""
                       asp-area=""
                       asp-controller="AllVideo"
                       asp-action="Movie"
                       asp-route-movieId="@Model.BookOrArticle.VideoForBookOrArticleId"
                       asp-route-pageOfSeries="true"
                       asp-route-videohosting="@Model.BookOrArticle.VideoForBookOrArticle.MovieVkVideo"
                       title="видео к статье">

                        <vc:view-image image-id="b386f45b-fc84-4748-bc75-08dd67cfc8ed"
                                       css-class="float-start me-2 maxwidth40px shadw imageref"
                                       icon-type="webicon100" />

                    </a>
                }

                @if (Model.Scan != true)
                {
                    <a class=" d-print-none"
                       href="javascript:window.print(); void 0;"
                       title="распечатать страницу">

                        <vc:view-image image-id="f271cf6f-a66e-4c55-9d5e-08dc1058c236"
                                       css-class="float-start maxwidth40px shadw imageref  d-print-none"
                                       icon-type="webicon100" />

                    </a>

                    <p class="float-end text-primary mt-2 mt-lg-1 nomstr fluid-font-size">@Model.PageNumber</p>
                }

            </div>

            @* текст статьи *@
            <div class="minheight900">

                @if (Model.Scan == true)
                {
                    <a href="@Model.BookOrArticle.ScanOfArticle!.ImagePath/@Model.BookOrArticle.ScanOfArticle.WebImageFileName"
                       class=""
                       title="скан статьи"
                       onclick="this.target='_blank'">

                        <vc:view-image image-id="@Model.BookOrArticle.ScanOfArticleId"
                                       css-class="adp90_img imageref"
                                       icon-type="" />

                    </a>
                }
                else
                {
                    @Html.Raw(Model.HtmlText)
                }

            </div>

            @* инфо внизу страницы *@
            <footer class="@(Model.Scan == true ? "d-none" : "mt-3 footer_page")">

                @if (Model.BookOrArticle.ScanOfArticleId != null && Model.Scan != true)
                {
                    <a class="d-print-none"
                       asp-area=""
                       asp-controller="Articles"
                       asp-action="Article"
                       asp-route-articleId="@Model.BookOrArticle.BooksAndArticlesModelId"
                       asp-route-pageNumber="1"
                       asp-route-scan="true"
                       title="скан статьи">

                        <vc:view-image image-id="123d2197-2305-41d5-5539-08dd63f54213"
                                       css-class="float-start me-2 maxwidth40px shadw imageref d-print-none"
                                       icon-type="webicon100" />

                    </a>
                }

                @if (Model.BookOrArticle.VideoForBookOrArticle != null && Model.Scan != true)
                {
                    <a class="d-print-none"
                       asp-area=""
                       asp-controller="AllVideo"
                       asp-action="Movie"
                       asp-route-movieId="@Model.BookOrArticle.VideoForBookOrArticleId"
                       asp-route-pageOfSeries="true"
                       asp-route-videohosting="@Model.BookOrArticle.VideoForBookOrArticle.MovieVkVideo"
                       title="видео к статье">

                        <vc:view-image image-id="b386f45b-fc84-4748-bc75-08dd67cfc8ed"
                                       css-class="float-start me-2 maxwidth40px shadw imageref d-print-none"
                                       icon-type="webicon100" />

                    </a>
                }

                @if (Model.Scan != true)
                {
                    <a class="d-print-none"
                       href="javascript:window.print(); void 0;"
                       title="распечатать страницу">

                        <vc:view-image image-id="f271cf6f-a66e-4c55-9d5e-08dc1058c236"
                                       css-class="float-start maxwidth40px shadw imageref d-print-none"
                                       icon-type="webicon100" />

                    </a>

                    <p class="float-end text-primary mt-2 mt-lg-1 nomstr fluid-font-size">@Model.PageNumber</p>
                }

            </footer>

        </div>

        @* кадры справа *@
        @if (Model.FramesAroundMainContent != null && Model.FramesAroundMainContent.FramesOnTheRight != null && Model.FramesAroundMainContent.FramesOnTheRight.Length > 0)
        {
            <div class="col-2 mx-auto d-none d-md-block overflow-y-auto overflow-x-hidden height1000">

                @foreach (var item in Model.FramesAroundMainContent.FramesOnTheRight)
                {
                    <a href="@item.ImagePath/@(string.IsNullOrEmpty(item.WebImageHDFileName) == false ? item.WebImageHDFileName : item.WebImageFileName)"
                       class=""
                       title="@item.ImageAltTitle"
                       onclick="this.target='_blank'">

                        <vc:view-image image-id="@item.ImageFileModelId"
                                       css-class="my-2 w-100 shadw imageref"
                                       icon-type="webicon200" />

                    </a>
                }

            </div>
        }
        else
        {
            <div class="col-2 d-none d-md-block"></div>
        }


    </div>

    @* навигация по статье *@
    <div class="col col-md-8 maxwidth700px mt-4 mb-0 mx-auto clearfix d-print-none">

        @if (Model.PageNumber > 1 && Model.Scan != true)
        {
            <a class="btn btn-outline-primary py-1 float-start shadw"
               asp-area=""
               asp-controller="Articles"
               asp-action="Article"
               asp-route-articleId="@Model.BookOrArticle.BooksAndArticlesModelId"
               asp-route-pageNumber="@(Model.PageNumber - 1)"
               asp-route-scan="false"
               title="предыдущая странице"
               itemprop="url">

                <span class="nomstr fluid-font-size">@(Model.PageNumber - 1)</span>

            </a>
        }

        @if (Model.Scan == true)
        {
            <a class="@(Model.HtmlText == null ? "d-none" : "btn btn-outline-primary py-1 mx-auto shadw")"
               asp-area=""
               asp-controller="Articles"
               asp-action="Article"
               asp-route-articleId="@Model.BookOrArticle.BooksAndArticlesModelId"
               asp-route-pageNumber="1"
               asp-route-scan="false"
               title="текст статьи"
               itemprop="url">

                <span>текст статьи</span>

            </a>
        }

        @if (Model.PageNumber < Model.BookOrArticle.NumberOfPages && Model.Scan != true)
        {
            <a class="btn btn-outline-primary py-1 float-end shadw d-print-none"
               asp-area=""
               asp-controller="Articles"
               asp-action="Article"
               asp-route-articleId="@Model.BookOrArticle.BooksAndArticlesModelId"
               asp-route-pageNumber="@(Model.PageNumber + 1)"
               asp-route-scan="false"
               title="следующая странице"
               itemprop="url">

                <span class="nomstr fluid-font-size">@(Model.PageNumber + 1)</span>

            </a>
        }

    </div>

</article>