@model ArticleViewModel

<article itemscope itemtype="http://schema.org/Article">

    <meta itemprop="author" content="@Model.BookOrArticle.AuthorOfText">
    <meta itemprop="name" content="@Model.BookOrArticle.CaptionOfText">
    <meta itemprop="publisher" content="@Model.BookOrArticle.Publisher">
    <meta itemprop="datePublished dateModified" content="@Model.BookOrArticle.DateOfPublication.ToString("yyyy-MM-dd")">
    <meta itemprop="description" content="@Model.BookOrArticle.BookDescription">

    @* выбор картинки для статьи *@
    <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
        @if (Model.BookOrArticle.ScanOfArticle != null)
        {
            <meta itemprop="caption" content="@Model.BookOrArticle.ScanOfArticle.ImageCaption">
            <link itemprop="contentUrl url" href="https://@Context.Request.Host@Model.BookOrArticle.ScanOfArticle.ImagePath/@Model.BookOrArticle.ScanOfArticle.WebImageFileName">
            <link itemprop="thumbnailUrl" href="https://@Context.Request.Host@Model.BookOrArticle.ScanOfArticle.ImagePath/@Model.BookOrArticle.ScanOfArticle.WebIconFileName">
            <meta itemprop="width" content="@Model.BookOrArticle.ScanOfArticle.WebImageWidth">
            <meta itemprop="height" content="@Model.BookOrArticle.ScanOfArticle.WebImageHeight">
        }
        else if (Model.BookOrArticle.LogoOfArticle != null)
        {
            <meta itemprop="caption" content="@Model.BookOrArticle.LogoOfArticle.ImageCaption">
            <link itemprop="contentUrl url" href="https://@Context.Request.Host@Model.BookOrArticle.LogoOfArticle.ImagePath/@Model.BookOrArticle.LogoOfArticle.WebImageFileName">
            <link itemprop="thumbnailUrl" href="https://@Context.Request.Host@Model.BookOrArticle.LogoOfArticle.ImagePath/@Model.BookOrArticle.LogoOfArticle.WebIconFileName">
            <meta itemprop="width" content="@Model.BookOrArticle.LogoOfArticle.WebImageWidth">
            <meta itemprop="height" content="@Model.BookOrArticle.LogoOfArticle.WebImageHeight">
        }
        else
        {
            <meta itemprop="caption" content="@Model.PageInfo.ImageFileModel.ImageCaption">
            <link itemprop="contentUrl url" href="https://@Context.Request.Host@Model.PageInfo.ImageFileModel.ImagePath/@Model.PageInfo.ImageFileModel.WebImageFileName">
            <link itemprop="thumbnailUrl" href="https://@Context.Request.Host@Model.PageInfo.ImageFileModel.ImagePath/@Model.PageInfo.ImageFileModel.WebIconFileName">
            <meta itemprop="width" content="@Model.PageInfo.ImageFileModel.WebImageWidth">
            <meta itemprop="height" content="@Model.PageInfo.ImageFileModel.WebImageHeight">
        }
    </span>

    <a href="http://www.newsru.com/russia/16apr2001/segodnya.html"
       class="@(Model.BookOrArticle.LogoOfArticleId != null ? "d-block mx-auto maxwidth700px shadw imageref" : "d-none")"
       title="логотип издания"
       onclick="this.target='_blank'">

        <vc:view-image image-id="@Model.BookOrArticle.LogoOfArticleId" css-class="w-100" icon-type="webimage" />

    </a>

</article>