@{
    string liNavItemClass = "nav-item dropdown shadw mb-2 mb-md-0 maxwidthcontent";
    string refNavItemClass = "nav-link dropdown-toggle text-black p-0";
    string ulDropdownMenuClass = "dropdown-menu border-0 bg-transparent mt-2 ps-2 ps-md-0";
    string liDropdownClass = "bg-light p-0 mb-1 rounded-1 maxwidthcontent";
    string refDropdownClass = "dropdown-item py-0 px-1 shadw donate border border-2 rounded-1";
}

<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light mt-1 mb-3 py-1 rounded-3 shadw">

    <div class="container-fluid">

        @* Переход к оглавлению сайта *@
        <a class="navbar-brand donate mb-2 mb-md-0"
           asp-area=""
           asp-controller="Shevkunenko"
           asp-action="Index"
           title="оглавление сайта">

            <img src="~/images/common/index1-300.gif"
                 class="border border-2 rounded-1 shadw"
                 width="78"
                 title="оглавление сайта"
                 alt="оглавление сайта" />

        </a>

        @* Кнопка свернутого меню *@
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#siteNav"
                aria-controls="siteNav"
                aria-expanded="false"
                aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div id="siteNav" class="collapse navbar-collapse">

            <ul class="navbar-nav" itemscope itemtype="http://schema.org/BreadcrumbList">

                @* Картинки *@
                <li class="@liNavItemClass"
                    itemprop="itemListElement"
                    itemscope itemtype="http://schema.org/ListItem">

                    <a id="Images"
                       class="@refNavItemClass"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false"
                       title="картинки сайта"
                       itemprop="item">

                        <span class="px-2" itemprop="name">Картинки</span>

                    </a>

                    <meta itemprop="position" content="0">

                    <ul class="@ulDropdownMenuClass" aria-labelledby="Images" itemscope itemtype="http://schema.org/BreadcrumbList">

                        @* Добавить картинку *@
                        <li class="@liDropdownClass"
                            title="добавить картинку"
                            itemprop="itemListElement"
                            itemscope itemtype="http://schema.org/ListItem">

                            <a class="@refDropdownClass"
                               asp-area="Admin"
                               asp-controller="ImageInfo"
                               asp-action="AddImage"
                               itemprop="item">

                                <span itemprop="name">Добавить</span>

                            </a>

                            <meta itemprop="position" content="0">

                        </li>

                        @* Список картинок *@
                        <li class="@liDropdownClass"
                            title="список картинок"
                            itemprop="itemListElement"
                            itemscope itemtype="http://schema.org/ListItem">

                            <a class="@refDropdownClass"
                               asp-area="Admin"
                               asp-controller="ImageInfo"
                               asp-action="Index"
                               asp-route-iconlist="false"
                               itemprop="item">

                                <span itemprop="name">Список</span>

                            </a>

                            <meta itemprop="position" content="1">

                        </li>

                        @* Иконки картинок *@
                        <li class="@liDropdownClass"
                            title="иконки картинок"
                            itemprop="itemListElement"
                            itemscope itemtype="http://schema.org/ListItem">

                            <a class="@refDropdownClass"
                               asp-area="Admin"
                               asp-controller="ImageInfo"
                               asp-action="Index"
                               asp-route-iconlist="true"
                               itemprop="item">

                                <span itemprop="name">Иконки</span>

                            </a>

                            <meta itemprop="position" content="2">

                        </li>

                    </ul>

                </li>

                @* Фильмы *@
                <li class="@liNavItemClass"
                    itemprop="itemListElement"
                    itemscope itemtype="http://schema.org/ListItem">

                    <a id="Movies"
                       class="@refNavItemClass"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false"
                       title="фильмы сайта"
                       itemprop="item">

                        <span class="px-2" itemprop="name">Фильмы</span>

                    </a>

                    <meta itemprop="position" content="1">

                    <ul class="@ulDropdownMenuClass" aria-labelledby="Movies" itemscope itemtype="http://schema.org/BreadcrumbList">

                        <li class="@liDropdownClass"
                            title="добавить фильм"
                            itemprop="itemListElement"
                            itemscope itemtype="http://schema.org/ListItem">

                            <a class="@refDropdownClass"
                               asp-area="Admin"
                               asp-controller="MovieInfo"
                               asp-action="AddMovie"
                               itemprop="item">

                                <span itemprop="name">Добавить фильм</span>

                            </a>

                            <meta itemprop="position" content="0">

                        </li>

                        <li class="@liDropdownClass"
                            title="список фильмов"
                            itemprop="itemListElement"
                            itemscope itemtype="http://schema.org/ListItem">

                            <a class="@refDropdownClass"
                               asp-area="Admin"
                               asp-controller="MovieInfo"
                               asp-action="Index"
                               itemprop="item">

                                <span itemprop="name">Список</span>

                            </a>

                            <meta itemprop="position" content="1">

                        </li>

                        <li class="@liDropdownClass"
                            title="темы видео"
                            itemprop="itemListElement"
                            itemscope itemtype="http://schema.org/ListItem">

                            <a class="@refDropdownClass"
                               asp-area="Admin"
                               asp-controller="TopicMovie"
                               asp-action="Index"
                               itemprop="item">

                                <span itemprop="name">Темы видео</span>

                            </a>

                            <meta itemprop="position" content="2">

                        </li>

                        <li class="@liDropdownClass"
                            title="добавить тему видео"
                            itemprop="itemListElement"
                            itemscope itemtype="http://schema.org/ListItem">

                            <a class="@refDropdownClass"
                               asp-area="Admin"
                               asp-controller="TopicMovie"
                               asp-action="AddTopicMovie"
                               itemprop="item">

                                <span itemprop="name">Добавить тему</span>

                            </a>

                            <meta itemprop="position" content="3">

                        </li>

                    </ul>

                </li>

                @* Страницы *@
                <li class="@liNavItemClass"
                    itemprop="itemListElement"
                    itemscope itemtype="http://schema.org/ListItem">

                    <a id="Pages"
                       class="@refNavItemClass"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false"
                       title="страницы сайта"
                       itemprop="item">

                        <span class="px-2" itemprop="name">Страницы</span>

                    </a>

                    <meta itemprop="position" content="2">

                    <ul class="@ulDropdownMenuClass" aria-labelledby="Pages" itemscope itemtype="http://schema.org/BreadcrumbList">

                        <li class="@liDropdownClass"
                            title="добавить страницу"
                            itemprop="itemListElement"
                            itemscope itemtype="http://schema.org/ListItem">

                            <a class="@refDropdownClass"
                               asp-area="Admin"
                               asp-controller="PageInfo"
                               asp-action="AddPage">

                                <span itemprop="name">Добавить</span>

                            </a>

                            <meta itemprop="position" content="0">

                        </li>

                        <li class="@liDropdownClass"
                            title="список страниц сайта"
                            itemprop="itemListElement"
                            itemscope itemtype="http://schema.org/ListItem">

                            <a class="@refDropdownClass"
                               asp-area="Admin"
                               asp-controller="PageInfo"
                               asp-action="Index"
                               asp-route-pageCard="false">

                                <span itemprop="name">Список</span>

                            </a>

                            <meta itemprop="position" content="1">

                        </li>

                        <li class="@liDropdownClass"
                            title="иконки страниц сайта"
                            itemprop="itemListElement"
                            itemscope itemtype="http://schema.org/ListItem">

                            <a class="@refDropdownClass"
                               asp-area="Admin"
                               asp-controller="PageInfo"
                               asp-action="Index"
                               asp-route-pageCard="true">

                                <span itemprop="name">Иконки</span>

                            </a>

                            <meta itemprop="position" content="2">

                        </li>

                    </ul>

                </li>

                @* Иконки страниц *@
                <li class="@liNavItemClass"
                    itemprop="itemListElement"
                    itemscope itemtype="http://schema.org/ListItem">

                    <a id="Icons"
                       class="@refNavItemClass"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false"
                       title="иконки для страниц"
                       itemprop="item">

                        <span class="px-2" itemprop="name">Иконки</span>

                    </a>

                    <meta itemprop="position" content="3">

                    <ul class="@ulDropdownMenuClass" aria-labelledby="Icons" itemscope itemtype="http://schema.org/BreadcrumbList">

                        <li class="@liDropdownClass"
                            title="список иконок для страниц"
                            itemprop="itemListElement"
                            itemscope itemtype="http://schema.org/ListItem">

                            <a class="@refDropdownClass"
                               asp-area="Admin"
                               asp-controller="IconInfo"
                               asp-action="Index"
                               temprop="item">

                                <span itemprop="name">Список</span>

                            </a>

                            <meta itemprop="position" content="0">

                        </li>

                        <li class="@liDropdownClass"
                            title="добавить иконки для страниц"
                            itemprop="itemListElement"
                            itemscope itemtype="http://schema.org/ListItem">

                            <a class="@refDropdownClass"
                               asp-area="Admin"
                               asp-page="/DBCRUD/Icon-Add"
                               itemprop="item">

                                <span itemprop="name">Добавить</span>

                            </a>

                            <meta itemprop="position" content="1">

                        </li>

                    </ul>

                </li>

                @* Тексты *@
                <li class="@liNavItemClass"
                    itemprop="itemListElement"
                    itemscope itemtype="http://schema.org/ListItem">

                    <a id="Texts"
                       class="@refNavItemClass"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false"
                       title="тексты"
                       itemprop="item">

                        <span class="px-2" itemprop="name">Тексты</span>

                    </a>

                    <meta itemprop="position" content="4">

                    <ul class="@ulDropdownMenuClass" aria-labelledby="Texts" itemscope itemtype="http://schema.org/BreadcrumbList">

                        <li class="@liDropdownClass"
                            title="список текстов"
                            itemprop="itemListElement"
                            itemscope itemtype="http://schema.org/ListItem">

                            <a class="@refDropdownClass"
                               asp-area="Admin"
                               asp-controller="TextInfo"
                               asp-action="Index"
                               temprop="item">

                                <span itemprop="name">Список</span>

                            </a>

                            <meta itemprop="position" content="0">

                        </li>

                        <li class="@liDropdownClass"
                            title="добавить текст"
                            itemprop="itemListElement"
                            itemscope itemtype="http://schema.org/ListItem">

                            <a class="@refDropdownClass"
                               asp-area="Admin"
                               asp-controller="TextInfo"
                               asp-action="AddText"
                               itemprop="item">

                                <span itemprop="name">Добавить</span>

                            </a>

                            <meta itemprop="position" content="1">

                        </li>

                    </ul>

                </li>

                @* Книги и статьи *@
                <li class="@liNavItemClass"
                    itemprop="itemListElement"
                    itemscope itemtype="http://schema.org/ListItem">

                    <a id="Books"
                       class="@refNavItemClass"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false"
                       title="книги"
                       itemprop="item">

                        <span class="px-2" itemprop="name">Книги</span>

                    </a>

                    <meta itemprop="position" content="5">

                    <ul class="@ulDropdownMenuClass" aria-labelledby="Books" itemscope itemtype="http://schema.org/BreadcrumbList">

                        <li class="@liDropdownClass"
                            title="список книг (статей)"
                            itemprop="itemListElement"
                            itemscope itemtype="http://schema.org/ListItem">

                            <a class="@refDropdownClass"
                               asp-area="Admin"
                               asp-controller="BooksAndArticles"
                               asp-action="Index"
                               temprop="item">

                                <span itemprop="name">Список</span>

                            </a>

                            <meta itemprop="position" content="0">

                        </li>

                        <li class="@liDropdownClass" 
                            title="добавить книгу (статью)" 
                            itemprop="itemListElement" 
                            itemscope itemtype="http://schema.org/ListItem">

                            <a class="@refDropdownClass"
                               asp-area="Admin"
                               asp-controller="BooksAndArticles"
                               asp-action="AddBook"
                               itemprop="item">

                                <span itemprop="name">Добавить</span>

                            </a>

                            <meta itemprop="position" content="1">

                        </li>

                    </ul>

                </li>

                @* Аудио *@
                <li class="@liNavItemClass"
                    itemprop="itemListElement"
                    itemscope itemtype="http://schema.org/ListItem">

                    <a id="Audio"
                       class="@refNavItemClass"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false"
                       title="аудиокниги"
                       itemprop="item">

                        <span class="px-2" itemprop="name">Аудио</span>

                    </a>

                    <meta itemprop="position" content="6">

                    <ul class="@ulDropdownMenuClass" aria-labelledby="Audio" itemscope itemtype="http://schema.org/BreadcrumbList">

                        <li class="@liDropdownClass"
                            title="список аудиокниг"
                            itemprop="itemListElement"
                            itemscope itemtype="http://schema.org/ListItem">

                            <a class="@refDropdownClass"
                               asp-area="Admin"
                               asp-controller="AudioBook"
                               asp-action="Index"
                               temprop="item">

                                <span itemprop="name">Список</span>

                            </a>

                            <meta itemprop="position" content="0">

                        </li>

                        <li class="@liDropdownClass"
                            title="добавить аудиокнигу"
                            itemprop="itemListElement"
                            itemscope itemtype="http://schema.org/ListItem">

                            <a class="@refDropdownClass"
                               asp-area="Admin"
                               asp-controller="AudioBook"
                               asp-action="AddAudioBook"
                               itemprop="item">

                                <span itemprop="name">Добавить</span>

                            </a>

                            <meta itemprop="position" content="1">

                        </li>

                    </ul>

                </li>

                @* Поиск от Yandex *@
                <li id="yandex-search"
                    class="@liNavItemClass search-button pb-md-0"
                    itemprop="itemListElement"
                    itemscope itemtype="http://schema.org/ListItem">

                    <meta itemprop="name" content="Поиск на сайте" />
                    <meta itemprop="position" content="7" />

                    <div class="ya-site-form ya-site-form_inited_no"
                         data-bem="{&quot;action&quot;:&quot;https://yandex.ru/search/site/&quot;,&quot;arrow&quot;:false,&quot;bg&quot;:&quot;transparent&quot;,&quot;fontsize&quot;:14,&quot;fg&quot;:&quot;#000000&quot;,&quot;language&quot;:&quot;ru&quot;,&quot;logo&quot;:&quot;rb&quot;,&quot;publicname&quot;:&quot;Поиск по shevkunenko.site&quot;,&quot;suggest&quot;:true,&quot;target&quot;:&quot;_blank&quot;,&quot;tld&quot;:&quot;ru&quot;,&quot;type&quot;:3,&quot;usebigdictionary&quot;:true,&quot;searchid&quot;:10605639,&quot;input_fg&quot;:&quot;#000000&quot;,&quot;input_bg&quot;:&quot;#ffffff&quot;,&quot;input_fontStyle&quot;:&quot;normal&quot;,&quot;input_fontWeight&quot;:&quot;normal&quot;,&quot;input_placeholder&quot;:null,&quot;input_placeholderColor&quot;:&quot;#000000&quot;,&quot;input_borderColor&quot;:&quot;#cc0000&quot;}">

                        <form action="https://yandex.ru/search/site/" method="get" target="_blank" accept-charset="utf-8">

                            <input type="hidden" name="searchid" value="10605639" />
                            <input type="hidden" name="l10n" value="ru" />
                            <input type="hidden" name="reqenc" value="" />
                            <input type="search" name="text" value="" />
                            <input type="submit" value="Найти" />

                        </form>

                    </div>

                    <style type="text/css">
                        .ya-page_js_yes .ya-site-form_inited_no {
                            display: none;
                        }
                    </style>

                    <script type="text/javascript">
                        (function (w, d, c) { var s = d.createElement('script'), h = d.getElementsByTagName('script')[0], e = d.documentElement; if ((' ' + e.className + ' ').indexOf(' ya-page_js_yes ') === -1) { e.className += ' ya-page_js_yes'; } s.type = 'text/javascript'; s.async = true; s.charset = 'utf-8'; s.src = (d.location.protocol === 'https:' ? 'https:' : 'http:') + '//site.yandex.net/v2.0/js/all.js'; h.parentNode.insertBefore(s, h); (w[c] || (w[c] = [])).push(function () { Ya.Site.Form.init() }) })(window, document, 'yandex_site_callbacks');
                    </script>

                </li>

            </ul>

        </div>

        @* Помощь сайту *@
        <a class="d-inline-block float-end navbar-brand donate"
           href="https://www.donationalerts.com/r/sergey1965"
           onclick="this.target='_blank'">

            <img src="~/images/admin/coffee.webp"
                 class="border border-2 rounded-1 shadw"
                 width="33"
                 height="33"
                 title="кофе админу"
                 alt="кофе админу" />

        </a>

    </div>

</nav>