@model ViewImageViewModel

@{
    string sitePath = "https://" + Context.Request.Host;
}

<span class="d-block" itemscope itemtype="http://schema.org/ImageObject">

    <meta itemprop="name" content="@Model.ImageItem.ImageCaption" />

    <meta itemprop="caption" content="@Model.ImageItem.ImageCaption" />

    <meta itemprop="description" content="@Model.ImageItem.ImageDescription" />

    @if (Model.IconType == "webimage")
    {
        if (!string.IsNullOrEmpty(Model.ImageItem.WebImageFileName))
        {
            <link itemprop="contentUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebImageFileName" />

            if (!string.IsNullOrEmpty(Model.ImageItem.WebIconFileName))
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebIconFileName" />
            }
            else
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebImageFileName" />
            }

            <meta itemprop="width" content="@Model.ImageItem.WebImageWidth" />
            <meta itemprop="height" content="@Model.ImageItem.WebImageHeight" />

            <img class="@Model.CssClass"
                 src="@Model.ImageItem.ImagePath/@Model.ImageItem.WebImageFileName"
                 asp-append-version="true"
                 alt="@Model.ImageItem.ImageAltTitle"
                 title="@Model.ImageItem.ImageAltTitle"
                 itemprop="image" />
        }
        else if (!string.IsNullOrEmpty(Model.ImageItem.ImageFileName))
        {
            <link itemprop="contentUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.ImageFileName" />

            if (!string.IsNullOrEmpty(Model.ImageItem.IconFileName))
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.IconFileName" />
            }
            else
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.ImageFileName" />
            }

            <meta itemprop="width" content="@Model.ImageItem.ImageWidth" />
            <meta itemprop="height" content="@Model.ImageItem.ImageHeight" />

            <img class="@Model.CssClass"
                 src="@Model.ImageItem.ImagePath/@Model.ImageItem.ImageFileName"
                 asp-append-version="true"
                 alt="@Model.ImageItem.ImageAltTitle"
                 title="@Model.ImageItem.ImageAltTitle"
                 itemprop="image" />
        }
        else
        {
            <vc:view-image image-id="@DataConfig.NoImage"
                           css-class=@Model.CssClass
                           icon-type=@Model.IconType />
        }
    }
    else if (Model.IconType == "image")
    {
        if (!string.IsNullOrEmpty(Model.ImageItem.ImageFileName))
        {
            <link itemprop="contentUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.ImageFileName" />

            if (!string.IsNullOrEmpty(Model.ImageItem.IconFileName))
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.IconFileName" />
            }
            else
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.ImageFileName" />
            }

            <meta itemprop="width" content="@Model.ImageItem.ImageWidth" />
            <meta itemprop="height" content="@Model.ImageItem.ImageHeight" />

            <img class="@Model.CssClass"
                 src="@Model.ImageItem.ImagePath/@Model.ImageItem.ImageFileName"
                 asp-append-version="true"
                 alt="@Model.ImageItem.ImageAltTitle"
                 title="@Model.ImageItem.ImageAltTitle"
                 itemprop="image" />
        }
        else if (!string.IsNullOrEmpty(Model.ImageItem.WebImageFileName))
        {
            <link itemprop="contentUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebImageFileName" />

            if (!string.IsNullOrEmpty(Model.ImageItem.WebIconFileName))
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebIconFileName" />
            }
            else
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebImageFileName" />
            }

            <meta itemprop="width" content="@Model.ImageItem.WebImageWidth" />
            <meta itemprop="height" content="@Model.ImageItem.WebImageHeight" />

            <img class="@Model.CssClass"
                 src="@Model.ImageItem.ImagePath/@Model.ImageItem.WebImageFileName"
                 asp-append-version="true"
                 alt="@Model.ImageItem.ImageAltTitle"
                 title="@Model.ImageItem.ImageAltTitle"
                 itemprop="image" />
        }
        else
        {
            <vc:view-image 
                image-id="@DataConfig.NoImage"
                css-class="@Model.CssClass"
                icon-type="@Model.IconType" />
        }
    }
    else if (Model.IconType == "webicon300")
    {
        if (!string.IsNullOrEmpty(Model.ImageItem.WebIconFileName))
        {
            <link itemprop="contentUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebIconFileName" />

            if (!string.IsNullOrEmpty(Model.ImageItem.WebIcon200FileName))
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebIcon200FileName" />
            }
            else
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebIconFileName" />
            }

            <meta itemprop="width" content="@Model.ImageItem.WebIconWidth" />
            <meta itemprop="height" content="@Model.ImageItem.WebIconHeight" />

            <img class="@Model.CssClass"
                 src="@Model.ImageItem.ImagePath/@Model.ImageItem.WebIconFileName"
                 asp-append-version="true"
                 alt="@Model.ImageItem.ImageAltTitle"
                 title="@Model.ImageItem.ImageAltTitle"
                 itemprop="image" />
        }
        else if (!string.IsNullOrEmpty(Model.ImageItem.IconFileName))
        {
            <link itemprop="contentUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.IconFileName" />

            if (!string.IsNullOrEmpty(Model.ImageItem.Icon200FileName))
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.Icon200FileName" />
            }
            else
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.IconFileName" />
            }

            <meta itemprop="width" content="@Model.ImageItem.IconWidth" />
            <meta itemprop="height" content="@Model.ImageItem.IconHeight" />

            <img class="maxwidth300px @Model.CssClass"
                 src="@Model.ImageItem.ImagePath/@Model.ImageItem.IconFileName"
                 asp-append-version="true"
                 alt="@Model.ImageItem.ImageAltTitle"
                 title="@Model.ImageItem.ImageAltTitle"
                 itemprop="image" />
        }
        else
        {
            <vc:view-image 
                image-id="@DataConfig.NoImage"
                css-class="@Model.CssClass"
                icon-type="@Model.IconType" />
        }
    }
    else if (Model.IconType == "icon300")
    {
        if (!string.IsNullOrEmpty(Model.ImageItem.IconFileName))
        {
            <link itemprop="contentUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.IconFileName" />

            if (!string.IsNullOrEmpty(Model.ImageItem.Icon200FileName))
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.Icon200FileName" />
            }
            else
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.IconFileName" />
            }

            <meta itemprop="width" content="@Model.ImageItem.IconWidth" />
            <meta itemprop="height" content="@Model.ImageItem.IconHeight" />

            <img class="maxwidth300px @Model.CssClass"
                 src="@Model.ImageItem.ImagePath/@Model.ImageItem.IconFileName"
                 asp-append-version="true"
                 alt="@Model.ImageItem.ImageAltTitle"
                 title="@Model.ImageItem.ImageAltTitle"
                 itemprop="image" />
        }
        else if (!string.IsNullOrEmpty(Model.ImageItem.WebIconFileName))
        {
            <link itemprop="contentUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebIconFileName" />

            if (!string.IsNullOrEmpty(Model.ImageItem.WebIcon200FileName))
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebIcon200FileName" />
            }
            else
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebIconFileName" />
            }

            <meta itemprop="width" content="@Model.ImageItem.WebIconWidth" />
            <meta itemprop="height" content="@Model.ImageItem.WebIconHeight" />

            <img class="maxwidth300px @Model.CssClass"
                 src="@Model.ImageItem.ImagePath/@Model.ImageItem.WebIconFileName"
                 asp-append-version="true"
                 alt="@Model.ImageItem.ImageAltTitle"
                 title="@Model.ImageItem.ImageAltTitle"
                 itemprop="image" />
        }
        else
        {
            <vc:view-image 
                image-id="@DataConfig.NoImage"
                css-class="@Model.CssClass"
                icon-type="@Model.IconType" />
        }
    }
    else if (Model.IconType == "webicon200")
    {
        if (!string.IsNullOrEmpty(Model.ImageItem.WebIcon200FileName))
        {
            <link itemprop="contentUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebIcon200FileName" />

            if (!string.IsNullOrEmpty(Model.ImageItem.WebIcon100FileName))
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebIcon100FileName" />
            }
            else
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebIcon200FileName" />
            }

            <meta itemprop="width" content="@Model.ImageItem.WebIcon200Width" />
            <meta itemprop="height" content="@Model.ImageItem.WebIcon200Height" />

            <img class="maxwidth200px @Model.CssClass"
                 src="@Model.ImageItem.ImagePath/@Model.ImageItem.WebIcon200FileName"
                 asp-append-version="true"
                 alt="@Model.ImageItem.ImageAltTitle"
                 title="@Model.ImageItem.ImageAltTitle"
                 itemprop="image" />
        }
        else if (!string.IsNullOrEmpty(Model.ImageItem.Icon200FileName))
        {
            <link itemprop="contentUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.Icon200FileName" />

            if (!string.IsNullOrEmpty(Model.ImageItem.Icon100FileName))
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.Icon100FileName" />
            }
            else
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.Icon200FileName" />
            }

            <meta itemprop="width" content="@Model.ImageItem.Icon200Width" />
            <meta itemprop="height" content="@Model.ImageItem.Icon200Height" />

            <img class="maxwidth200px @Model.CssClass"
                 src="@Model.ImageItem.ImagePath/@Model.ImageItem.Icon200FileName"
                 asp-append-version="true"
                 alt="@Model.ImageItem.ImageAltTitle"
                 title="@Model.ImageItem.ImageAltTitle"
                 itemprop="image" />
        }
        else
        {
            <vc:view-image 
                image-id="@DataConfig.NoImage"
                css-class="@Model.CssClass"
                icon-type="@Model.IconType" />
        }
    }
    else if (Model.IconType == "icon200")
    {
        if (!string.IsNullOrEmpty(Model.ImageItem.Icon200FileName))
        {
            <link itemprop="contentUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.Icon200FileName" />

            if (!string.IsNullOrEmpty(Model.ImageItem.Icon100FileName))
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.Icon100FileName" />
            }
            else
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.Icon200FileName" />
            }

            <meta itemprop="width" content="@Model.ImageItem.Icon200Width" />
            <meta itemprop="height" content="@Model.ImageItem.Icon200Height" />

            <img class="maxwidth200px @Model.CssClass"
                 src="@Model.ImageItem.ImagePath/@Model.ImageItem.Icon200FileName"
                 asp-append-version="true"
                 alt="@Model.ImageItem.ImageAltTitle"
                 title="@Model.ImageItem.ImageAltTitle"
                 itemprop="image" />
        }
        else if (!string.IsNullOrEmpty(Model.ImageItem.WebIcon200FileName))
        {
            <link itemprop="contentUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebIcon200FileName" />

            if (!string.IsNullOrEmpty(Model.ImageItem.WebIcon100FileName))
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebIcon100FileName" />
            }
            else
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebIcon200FileName" />
            }

            <meta itemprop="width" content="@Model.ImageItem.WebIcon200Width" />
            <meta itemprop="height" content="@Model.ImageItem.WebIcon200Height" />

            <img class="maxwidth200px @Model.CssClass"
                 src="@Model.ImageItem.ImagePath/@Model.ImageItem.WebIcon200FileName"
                 asp-append-version="true"
                 alt="@Model.ImageItem.ImageAltTitle"
                 title="@Model.ImageItem.ImageAltTitle"
                 itemprop="image" />
        }
        else
        {
            <vc:view-image 
                image-id="@DataConfig.NoImage"
                css-class="@Model.CssClass"
                icon-type="@Model.IconType" />
        }
    }
    else if (Model.IconType == "webicon100")
    {
        if (!string.IsNullOrEmpty(Model.ImageItem.WebIcon100FileName))
        {
            <link itemprop="contentUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebIcon100FileName" />

            <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebIcon100FileName" />

            <meta itemprop="width" content="@Model.ImageItem.WebIcon100Width" />
            <meta itemprop="height" content="@Model.ImageItem.WebIcon100Height" />

            <img class="maxwidth100px @Model.CssClass"
                 src="@Model.ImageItem.ImagePath/@Model.ImageItem.WebIcon100FileName"
                 asp-append-version="true"
                 alt="@Model.ImageItem.ImageAltTitle"
                 title="@Model.ImageItem.ImageAltTitle"
                 itemprop="image" />
        }
        else if (!string.IsNullOrEmpty(Model.ImageItem.Icon100FileName))
        {
            <link itemprop="contentUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.Icon100FileName" />

            <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.Icon100FileName" />

            <meta itemprop="width" content="@Model.ImageItem.Icon100Width" />
            <meta itemprop="height" content="@Model.ImageItem.Icon100Height" />

            <img class="maxwidth100px @Model.CssClass"
                 src="@Model.ImageItem.ImagePath/@Model.ImageItem.Icon100FileName"
                 asp-append-version="true"
                 alt="@Model.ImageItem.ImageAltTitle"
                 title="@Model.ImageItem.ImageAltTitle"
                 itemprop="image" />
        }
        else
        {
            <vc:view-image 
                image-id="@DataConfig.NoImage"
                css-class="@Model.CssClass"
                icon-type="@Model.IconType" />
        }
    }
    else if (Model.IconType == "icon100")
    {
        if (!string.IsNullOrEmpty(Model.ImageItem.Icon100FileName))
        {
            <link itemprop="contentUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.Icon100FileName" />

            <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.Icon100FileName" />

            <meta itemprop="width" content="@Model.ImageItem.Icon100Width" />
            <meta itemprop="height" content="@Model.ImageItem.Icon100Height" />

            <img class="maxwidth100px @Model.CssClass"
                 src="@Model.ImageItem.ImagePath/@Model.ImageItem.Icon100FileName"
                 asp-append-version="true"
                 alt="@Model.ImageItem.ImageAltTitle"
                 title="@Model.ImageItem.ImageAltTitle"
                 itemprop="image" />
        }
        else if (!string.IsNullOrEmpty(Model.ImageItem.WebIcon100FileName))
        {
            <link itemprop="contentUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebIcon100FileName" />

            <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebIcon100FileName" />

            <meta itemprop="width" content="@Model.ImageItem.WebIcon100Width" />
            <meta itemprop="height" content="@Model.ImageItem.WebIcon100Height" />

            <img class="maxwidth100px @Model.CssClass"
                 src="@Model.ImageItem.ImagePath/@Model.ImageItem.WebIcon100FileName"
                 asp-append-version="true"
                 alt="@Model.ImageItem.ImageAltTitle"
                 title="@Model.ImageItem.ImageAltTitle"
                 itemprop="image" />
        }
        else
        {
            <vc:view-image 
                image-id="@DataConfig.NoImage"
                css-class="@Model.CssClass"
                icon-type="@Model.IconType" />
        }
    }
    else if (Model.IconType == "webhd")
    {
        if (!string.IsNullOrEmpty(Model.ImageItem.WebImageHDFileName))
        {
            <link itemprop="contentUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebImageHDFileName" />

            if (!string.IsNullOrEmpty(Model.ImageItem.WebImageFileName))
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebImageFileName" />
            }
            else
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebImageHDFileName" />
            }

            <meta itemprop="width" content="@Model.ImageItem.WebImageHDWidth" />
            <meta itemprop="height" content="@Model.ImageItem.WebImageHDHeight" />

            <img class="@Model.CssClass"
                 src="@Model.ImageItem.ImagePath/@Model.ImageItem.WebImageHDFileName"
                 asp-append-version="true"
                 alt="@Model.ImageItem.ImageAltTitle"
                 title="@Model.ImageItem.ImageAltTitle"
                 itemprop="image" />
        }
        else if (!string.IsNullOrEmpty(Model.ImageItem.ImageHDFileName))
        {
            <link itemprop="contentUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.ImageHDFileName" />

            if (!string.IsNullOrEmpty(Model.ImageItem.ImageFileName))
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.ImageFileName" />
            }
            else
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.ImageHDFileName" />
            }

            <meta itemprop="width" content="@Model.ImageItem.ImageHDWidth" />
            <meta itemprop="height" content="@Model.ImageItem.ImageHDHeight" />

            <img class="@Model.CssClass"
                 src="@Model.ImageItem.ImagePath/@Model.ImageItem.ImageHDFileName"
                 asp-append-version="true"
                 alt="@Model.ImageItem.ImageAltTitle"
                 title="@Model.ImageItem.ImageAltTitle"
                 itemprop="image" />
        }
        else
        {
            <vc:view-image 
                image-id="@DataConfig.NoImage"
                css-class="@Model.CssClass"
                icon-type="@Model.IconType" />
        }
    }
    else if (Model.IconType == "hd")
    {
        if (!string.IsNullOrEmpty(Model.ImageItem.ImageHDFileName))
        {
            <link itemprop="contentUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.ImageHDFileName" />

            if (!string.IsNullOrEmpty(Model.ImageItem.ImageFileName))
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.ImageFileName" />
            }
            else
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.ImageHDFileName" />
            }

            <meta itemprop="width" content="@Model.ImageItem.ImageHDWidth" />
            <meta itemprop="height" content="@Model.ImageItem.ImageHDHeight" />

            <img class="@Model.CssClass"
                 src="@Model.ImageItem.ImagePath/@Model.ImageItem.ImageHDFileName"
                 asp-append-version="true"
                 alt="@Model.ImageItem.ImageAltTitle"
                 title="@Model.ImageItem.ImageAltTitle"
                 itemprop="image" />
        }
        else if (!string.IsNullOrEmpty(Model.ImageItem.WebImageHDFileName))
        {
            <link itemprop="contentUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebImageHDFileName" />

            if (!string.IsNullOrEmpty(Model.ImageItem.WebImageFileName))
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebImageFileName" />
            }
            else
            {
                <link itemprop="thumbnailUrl" href="@sitePath@Model.ImageItem.ImagePath/@Model.ImageItem.WebImageHDFileName" />
            }

            <meta itemprop="width" content="@Model.ImageItem.WebImageHDWidth" />
            <meta itemprop="height" content="@Model.ImageItem.WebImageHDHeight" />

            <img class="@Model.CssClass"
                 src="@Model.ImageItem.ImagePath/@Model.ImageItem.WebImageHDFileName"
                 asp-append-version="true"
                 alt="@Model.ImageItem.ImageAltTitle"
                 title="@Model.ImageItem.ImageAltTitle"
                 itemprop="image" />
        }
        else
        {
            <vc:view-image 
                image-id="@DataConfig.NoImage"
                css-class="@Model.CssClass"
                icon-type="@Model.IconType" />
        }
    }
    else
    {
        <vc:view-image 
            image-id="@DataConfig.NoImage"
            css-class="@Model.CssClass"
            icon-type="@Model.IconType" />
    }

</span>