@model TextInfoModel

@{
	string cssForLabel = "col-form-label text-primary fs-5 me-2";
}

<h1 class="fs-3 text_shadow">Информация о тексте</h1>

<hr class="w-25 mx-auto" />

@* Id аудиофайла *@
<div>

	<p class="fs-5 mb-3">
		<span class="text-primary">TextInfoModelId :</span>
		<br />
		<span class="text_shadow">
			@Model.TextInfoModelId
		</span>
		<br />
		<span class="fs-6 form-text text-success">
			идентификатор в базе данных (GUID)
		</span>
	</p>

	<hr class="liniya" />

</div>

@* Информация о тексте *@
<div class="card col col-lg-10 col-xl-9 col-xxl-8 mx-auto p-2">

	<div class="card-body">

		@* Кнопки «список», «изменить», «удалить» *@
		<div class="card-footer mb-2">

			@* Список текстов сайта *@
			<a class="btn btn-outline-primary minwidth100px m-2 shadw"
			   asp-area="Admin"
			   asp-controller="TextInfo"
			   asp-action="Index"
			   title="список текстов">

				Список

			</a>

			@* Изменить текст *@
			<a class="btn btn-outline-success minwidth100px m-2 shadw"
			   asp-area="Admin"
			   asp-controller="TextInfo"
			   asp-action="EditText"
			   asp-route-textId="@Model.TextInfoModelId"
			   title="изменить текст">

				Изменить

			</a>

			@* Удалить текст *@
			<a class="btn btn-outline-danger minwidth100px m-2 shadw"
			   asp-area="Admin"
			   asp-controller="TextInfo"
			   asp-action="DeleteText"
			   asp-route-textId="@Model.TextInfoModelId"
			   title="удалить текст">

				Удалить

			</a>

		</div>

		@* Информация о связанной книге статье *@
		<div class="@(Model.BooksAndArticlesModelId != null ? "d-block" : "d-none")">

			<p class="fs-4 text-center">
				<span class="text-primary"> @(Model.BooksAndArticlesModel?.TypeOfText == "book" ? "Книга : " : "Статья : ")</span>
				<br class="d-sm-none" />
				<span class="text_shadow">«@Model.BooksAndArticlesModel?.CaptionOfText»</span>
				<br />
				<span class="text-primary">Страница : </span>
				<span class="text_shadow">«@Model.SequenceNumber»</span>
			</p>

			<hr class="w-50 mx-auto" />

		</div>

		@* Информация о файлах TXT и HTML *@
		<div class="col col-xxl-10 mx-auto">

			@* Каталог текста *@
			<div>

				<label asp-for="FolderForText" class="@cssForLabel"></label>

				<p class="text_shadow text-indent-0 text-center fs-5">
					@DataConfig.TextsFolderPath.Replace('\\', '/')@Model.FolderForText
				</p>

				<hr class="w-25 mx-auto" />

			</div>

			@* Описание текста *@
			<div>

				<label asp-for="TextDescription" class="@cssForLabel"></label>
				<textarea id="TextDescriptionInput" class="form-control fordetails fs-5 text_shadow"
						  asp-for="TextDescription"
						  readonly
						  rows="4"
						  aria-describedby="TextDescriptionInputHelpBlock">
                 </textarea>

				<div id="TextDescriptionInputHelpBlock" class="form-text">
					<span class="d-none d-sm-inline-block fs-6 text-success">тег «TextDescription» - </span>
					<span class="fs-6 text-success">описание текста</span>
				</div>

				<hr class="w-25 mx-auto" />

			</div>

			@* Аккордион *@
			<div id="accordionForTextFile" class="accordion">

				@* Файл TXT *@
				<div class="accordion-item my-3 shadw">

					@* Заголовок группы «файл TXT» *@
					<h2 id="headingTxtText" class="accordion-header shadw">
						<button class="accordion-button collapsed py-0 stranicy" type="button" data-bs-toggle="collapse" data-bs-target="#TxtText" aria-expanded="true" aria-controls="TxtText">
							<span class="form-label fs-5">Файл TXT :</span>
						</button>
					</h2>

					<div id="TxtText" class="accordion-collapse collapse pb-2 px-2" aria-labelledby="headingTxtText" data-bs-parent="#accordionForTextFile">

						<label asp-for="TxtFileName" class="@cssForLabel"></label>
						<br class="d-md-none" />
						<span class="fs-5 text_shadow">@Model.TxtFileName</span>
						<p class="fs-5 text-primary mb-2">(@Model.TxtFileSize байт)</p>

						<textarea id="ClearTextInput" class="form-control fordetails fs-6 mb-2"
								  asp-for="ClearText"
								  readonly
								  rows="10"
								  aria-describedby="ClearTextInputHelpBlock">
						 </textarea>

						<div id="ClearTextInputHelpBlock" class="form-text">
							<span class="d-none d-sm-inline-block fs-6 text-success">тег «ClearText» - </span>
							<span class="fs-6 text-success">текст без разметки</span>
						</div>

					</div>

				</div>

				@* Файл HTML *@
				<div class="accordion-item my-3 shadw">

					@* Заголовок группы «файл HTML» *@
					<h2 id="headingHtmlText" class="accordion-header shadw">
						<button class="accordion-button collapsed py-0 stranicy" type="button" data-bs-toggle="collapse" data-bs-target="#HtmlText" aria-expanded="true" aria-controls="HtmlText">
							<span class="form-label fs-5">Файл HTML :</span>
						</button>
					</h2>

					<div id="HtmlText" class="accordion-collapse collapse pb-2 px-2" aria-labelledby="headingHtmlText" data-bs-parent="#accordionForTextFile">

						<label asp-for="HtmlFileName" class="@cssForLabel"></label>
						<br class="d-md-none" />
						<span class="fs-5 text_shadow">@Model.HtmlFileName</span>
						<p class="fs-5 text-primary mb-2">
							(@Model.HtmlFileSize байт)
						</p>

						<textarea id="HtmlTextInput" class="form-control fordetails fs-6 mb-2"
								  asp-for="HtmlText"
								  readonly
								  rows="10"
								  aria-describedby="HtmlTextInputHelpBlock">
                         </textarea>

						<div id="HtmlTextInputHelpBlock" class="form-text">

							<span class="d-none d-sm-inline-block fs-6 text-success">тег «HtmlText» - </span>
							<span class="fs-6 text-success">текст с разметкой</span>

						</div>

						<hr class="w-25 mx-auto" />

						<div class="bookpages lay1">

							<div class="descr lay1 overflow-y-scroll height400">

								@Html.Raw(Model.HtmlText)

							</div>

						</div>

						<div class="form-text mt-3">

							<span class="fs-6 text-success">вид текста на сайте</span>

						</div>

					</div>

				</div>

				@* Аудиофайл *@
				<div class="accordion-item my-3 shadw">

					@* Заголовок группы «аудиофайл» *@
					<h2 id="headingAudioFile" class="accordion-header shadw">
						<button class="accordion-button collapsed py-0 stranicy" type="button" data-bs-toggle="collapse" data-bs-target="#AudioFile" aria-expanded="true" aria-controls="AudioFile">
							<span class="form-label fs-5">Аудиофайл :</span>
						</button>
					</h2>

					<div id="AudioFile" class="accordion-collapse collapse pb-2 px-2" aria-labelledby="headingAudioFile" data-bs-parent="#accordionForTextFile">

						@if (Model.AudioInfoModelId != null)
						{
							<p class="d-sm-none my-2 text_shadow ">
								плейер отображается при разрешении от 576px
							</p>

							<div class="d-none d-sm-flex my-2">

								@Html.Raw(Model.AudioInfoModel?.PlayerPodsterFm)

							</div>

							<a class="btn btn-outline-primary minwidth100px m-2 shadw"
							   asp-area="Admin"
							   asp-controller="AudioInfo"
							   asp-action="DetailsAudioFile"
							   asp-route-audioFileId="@Model.AudioInfoModel?.AudioInfoModelId"
							   title="инфо об аудиофайле">

								Инфо

							</a>
						}
						else
						{
							<p class="text_shadow fs-4 mt-2">
								аудиофайл для текста не задан
							</p>
						}

					</div>

				</div>

			</div>

		</div>

		@* Кнопки «список», «изменить», «удалить» *@
		<div class="card-footer mb-2">

			@* Список текстов сайта *@
			<a class="btn btn-outline-primary minwidth100px m-2 shadw"
			   asp-area="Admin"
			   asp-controller="TextInfo"
			   asp-action="Index"
			   title="список текстов">

				Список

			</a>

			@* Изменить текст *@
			<a class="btn btn-outline-success minwidth100px m-2 shadw"
			   asp-area="Admin"
			   asp-controller="TextInfo"
			   asp-action="EditText"
			   asp-route-textId="@Model.TextInfoModelId"
			   title="изменить текст">

				Изменить

			</a>

			@* Удалить текст *@
			<a class="btn btn-outline-danger minwidth100px m-2 shadw"
			   asp-area="Admin"
			   asp-controller="TextInfo"
			   asp-action="DeleteText"
			   asp-route-textId="@Model.TextInfoModelId"
			   title="удалить текст">

				Удалить

			</a>

		</div>

	</div>

</div>