@model DetailsTextViewModel

<h1 class="fs-3 text_shadow">Информация о тексте</h1>

<hr class="liniya" />

@* Информация о тексте *@
<div class="card w-100 mx-auto p-2">

    <div class="col-12 card-body mx-auto mb-2">

        @* Список, изменить, удалить *@
        <div class="card-footer p-0 my-2">

            @* Список текстов сайта *@
            <a class="btn btn-outline-primary py-1 m-2 shadw"
               asp-area="Admin"
               asp-controller="TextInfo"
               asp-action="Index"
               title="список текстов">
                Список
            </a>

            @* Изменить текст *@
            <a class="btn btn-outline-success py-1 m-2 shadw"
               asp-area="Admin"
               asp-controller="TextInfo"
               asp-action="EditText"
               asp-route-textId="@Model.TextInfoModelId"
               title="изменить текст">
                Изменить
            </a>

            @* Удалить текст *@
            <a class="btn btn-outline-danger py-1 m-2 shadw"
               asp-area="Admin"
               asp-controller="TextInfo"
               asp-action="DeleteText"
               asp-route-textId="@Model.TextInfoModelId"
               title="удалить текст">
                Удалить
            </a>

        </div>

        @* Идентификатор в базе данных *@
        <h2 class="lh-1">
            <span class="fs-5 text-primary">
                TextInfoModelId :<br />
            </span>
            <span class="fs-5 text_shadow">
                @Model.TextInfoModelId<br />
            </span>
            <span class="fs-6 form-text text-success px-2">
                идентификатор в базе данных (GUID)
            </span>
        </h2>

        <div class="col-12 col-xxl-10 mx-auto">

            @* Описание текста *@
            <div>

                <label asp-for="TextDescription" class="col-form-label text-primary fs-5 me-2"></label>
                <textarea id="TextDescriptionInput" class="form-control fordetails fs-5 text_shadow"
                          asp-for="TextDescription"
                          readonly
                          rows="2"
                          aria-describedby="TextDescriptionInputHelpBlock">
                 </textarea>

                <div id="TextDescriptionInputHelpBlock" class="form-text">
                    <span class="d-none d-sm-inline-block fs-6 text-success">тег «TextDescription» - </span>
                    <span class="fs-6 text-success">описание текста</span>
                </div>

                <hr class="liniya" />

            </div>

            @* Файл TXT *@
            <div>

                <label asp-for="TxtFileName" class="col-form-label text-primary fs-5 me-2"></label>
                <span class="fs-5 text_shadow">@Model.TxtFileName</span>
                <p class="fs-5 text-primary">(@Model.TxtFileSize байт)</p>

                <textarea id="ClearTextInput" class="form-control fordetails fs-6 mb-2"
                          asp-for="ClearText"
                          readonly
                          rows="10"
                          aria-describedby="ClearTextInputHelpBlock">
                 </textarea>

                <div id="ClearTextInputHelpBlock" class="form-text">
                    <span class="d-none d-sm-inline-block fs-6 text-success">тег «ClearText» - </span>
                    <span class="fs-6 text-success">текст без разметки</span>
                </div>

                <hr class="liniya" />

            </div>

            @* Файл HTML *@
            <div>

                <label asp-for="HtmlFileName" class="col-form-label text-primary fs-5 me-2"></label>
                <span class="fs-5 text_shadow">@Model.HtmlFileName</span>
                <p class="fs-5 text-primary">(@Model.HtmlFileSize байт)</p>

                <textarea id="HtmlTextInput" class="form-control fordetails fs-6 mb-2"
                          asp-for="HtmlText"
                          readonly
                          rows="10"
                          aria-describedby="HtmlTextInputHelpBlock">
                 </textarea>

                <div id="HtmlTextInputHelpBlock" class="form-text">
                    <span class="d-none d-sm-inline-block fs-6 text-success">тег «HtmlText» - </span>
                    <span class="fs-6 text-success">текст с разметкой</span>
                </div>

                <hr class="liniya" />

                <div class="bookpages lay1">

                    <div class="descr lay1 overflow-y-scroll height400">

                        @Html.Raw(Model.HtmlText)

                    </div>

                </div>

                <div class="form-text mt-3">
                    <span class="fs-6 text-success">вид текста на сайте</span>
                </div>

            </div>

        </div>

        @* Список, изменить, удалить *@
        <div class="card-footer p-0 my-2">

            @* Список текстов сайта *@
            <a class="btn btn-outline-primary py-1 m-2 shadw"
               asp-area="Admin"
               asp-controller="TextInfo"
               asp-action="Index"
               title="список текстов">
                Список
            </a>

            @* Изменить текст *@
            <a class="btn btn-outline-success py-1 m-2 shadw"
               asp-area="Admin"
               asp-controller="TextInfo"
               asp-action="EditText"
               asp-route-textId="@Model.TextInfoModelId"
               title="изменить текст">
                Изменить
            </a>

            @* Удалить текст *@
            <a class="btn btn-outline-danger py-1 m-2 shadw"
               asp-area="Admin"
               asp-controller="TextInfo"
               asp-action="DeleteText"
               asp-route-textId="@Model.TextInfoModelId"
               title="удалить текст">
                Удалить
            </a>

        </div>

    </div>

</div>