@model DetailsTextViewModel

<h1 class="fs-3 text_shadow">Изменить текст</h1>

<hr class="liniya" />

@* Информация о связанной книге статье *@
<div class="@(Model.BooksAndArticlesModelId != null ? "d-block" : "d-none") mb-2">

    <p class="fs-5 text-center">
        <span class="text-primary">Страница </span>
        <span class="text_shadow">«@Model.SequenceNumber»</span>
        <br class="d-xl-none" />
        <span class="text-primary"> @(Model.BooksAndArticlesModel?.TypeOfText == "book" ? "книги" : "статьи")</span>
        <span class="text_shadow">«@Model.BooksAndArticlesModel?.CaptionOfText»</span>
    </p>

</div>

@* Показ всех ошибок ввода данных *@
@if (Context.Request.Method == "POST")
{
    <div asp-validation-summary="All" class="text-danger border border-top-0 border-danger mb-3"></div>
}


<div class="col card p-2">

    <div class="col-12 card-body mx-auto">

        <form method="post" enctype="multipart/form-data"
              asp-area="Admin"
              asp-controller="TextInfo"
              asp-action="EditText">

            @* скрытые поля формы *@
            <div>

                <input asp-for="TextInfoModelId" type="hidden" />
                <input asp-for="TxtFileName" type="hidden" />
                <input asp-for="HtmlFileName" type="hidden" />
                <input asp-for="TxtFileSize" type="hidden" />
                <input asp-for="HtmlFileSize" type="hidden" />

            </div>

            @* связанная книга (статья) *@
            <div>

                <label asp-for="RefForBookOrArticle" class="col-form-label text-primary fs-5 me-2"></label>

                <input id="RefForBookOrArticleInput" class="form-control text-start" asp-for="RefForBookOrArticle" aria-describedby="RefForBookOrArticleInputHelpBlock" />

                <div id="RefForBookOrArticleInputHelpBlock" class="form-text">

                    <span class="fs-6 text-success">связанная книга (статья)</span>

                </div>

                <span asp-validation-for="RefForBookOrArticle" class="text-danger"></span>

                <hr class="w-50 mx-auto" />

            </div>

            @* номер страницы книги (статьи) *@
            <div>

                <label asp-for="SequenceNumber" class="col-form-label text-primary fs-5 me-2"></label>

                <input id="SequenceNumberInput" class="form-control text-center w-50 mx-auto" asp-for="SequenceNumber" aria-describedby="SequenceNumberInputHelpBlock" />

                <div id="SequenceNumberInputHelpBlock" class="form-text">

                    <span class="fs-6 text-success">номер страницы книги (статьи)</span>

                </div>

                <span asp-validation-for="SequenceNumber" class="text-danger"></span>

            </div>

            @* Тег «TextDescription» *@
            <div>

                <label asp-for="TextDescription" class="col-form-label text-primary fs-5 me-2"></label>

                <textarea id="TextDescriptionInput" class="form-control fordetails"
                          asp-for="TextDescription"
                          rows="2"
                          aria-describedby="TextDescriptionInputHelpBlock">
                </textarea>

                <div id="TextDescriptionInputHelpBlock" class="form-text">

                    <span class="d-none d-sm-inline-block fs-6 text-success">тег «TextDescription» - </span>
                    <span class="fs-6 text-danger">обязательное поле</span>

                </div>

                <span asp-validation-for="TextDescription" class="text-danger"></span>

            </div>

            <hr class="liniya" />

            @* Файл TXT *@
            <div>

                <label asp-for="TxtFileName" class="col-form-label text-primary fs-5 me-2"></label>
                <span class="fs-5 text_shadow">@Model.TxtFileName</span>
                <p class="fs-5 text-primary">(@Model.TxtFileSize байт)</p>

                <textarea id="ClearTextInput" class="form-control fordetails fs-6 mb-2"
                          asp-for="ClearText"
                          rows="10"
                          aria-describedby="ClearTextInputHelpBlock">
                 </textarea>

                <div id="ClearTextInputHelpBlock" class="form-text">
                    <span class="d-none d-sm-inline-block fs-6 text-success">тег «ClearText» - </span>
                    <span class="fs-6 text-success">текст без разметки</span>
                </div>

                <span asp-validation-for="ClearText" class="text-danger"></span>

                <hr class="liniya" />

            </div>

            @* Файл HTML *@
            <div>

                <label asp-for="HtmlFileName" class="col-form-label text-primary fs-5 me-2"></label>
                <span class="fs-5 text_shadow">@Model.HtmlFileName</span>
                <p class="fs-5 text-primary">(@Model.HtmlFileSize байт)</p>

                <textarea id="HtmlTextInput" class="form-control fordetails fs-6 mb-2"
                          asp-for="HtmlText"
                          rows="10"
                          aria-describedby="HtmlTextInputHelpBlock">
                 </textarea>

                <div id="HtmlTextInputHelpBlock" class="form-text">
                    <span class="d-none d-sm-inline-block fs-6 text-success">тег «HtmlText» - </span>
                    <span class="fs-6 text-success">текст с разметкой</span>
                </div>

                <span asp-validation-for="HtmlText" class="text-danger"></span>

                <hr class="liniya" />

                <div class="bookpages lay1">

                    <div class="descr lay1 overflow-y-scroll height400">

                        @Html.Raw(Model.HtmlText)

                    </div>

                </div>

                <div class="form-text mt-3">
                    <span class="fs-6 text-success">вид текста на сайте</span>
                </div>

            </div>

            @* Сохранить - Отменить *@
            <div class="card-footer p-0 pb-2 mt-4">

                <button type="submit" class="btn btn-outline-success mt-2 me-2 text-center shadw"
                        title="Сохранить">
                    Сохранить
                </button>

                <a class="btn btn-outline-danger mt-2 shadw"
                   asp-area="Admin"
                   asp-controller="TextInfo"
                   asp-action="DetailsText"
                   asp-route-textId="@Model.TextInfoModelId"
                   title="Отменить">
                    Отменить
                </a>

            </div>

        </form>

    </div>

</div>