@inject IImageFileRepository ImageFileRepository

<h3>Picture</h3>

@if (ImageObject == null || !ImageFileRepository.ImageFiles.Where(img => img.ImageFileModelId == ImageObject.ImageFileModelId).Any())
{
    ImageObject = ImageFileRepository.ImageFiles.First(img => img.ImageFileModelId.ToString() == DataConfig.NoImage);
}

<span class="d-block" itemscope itemtype="http://schema.org/ImageObject">

    <meta itemprop="name" content="@ImageObject.ImageCaption" />

    <meta itemprop="caption" content="@ImageObject.ImageCaption" />

    <meta itemprop="description" content="@ImageObject.ImageDescription" />

    </span>


@if (string.IsNullOrEmpty(IconType))
{
    srcForImage = @ImageObject.ImagePath + "/" + @ImageObject.WebImageFileName;
}

<img class="@CssClass"
     src="@srcForImage"
     asp-append-version="true"
     alt="@ImageObject.ImageAltTitle"
     title="@ImageObject.ImageAltTitle"
     itemprop="image" />

@code {
    [Parameter]
    public string? ImageGuidOrFileName { get; set; }

    [Parameter]
    public ImageFileModel? ImageObject { get; set; }

    [Parameter]
    public string? CssClass { get; set; }

    // Разрешение картинки (100px, 200px, 300px, 720px, 1080px) и формат файла (png или webp)
    [Parameter]
    public string? IconType { get; set; }

    string srcForImage = string.Empty;
}
