@model AddMovieViewModel

<script src="~/js/ckeditor5/ckeditor.js"></script>

<div class="row">

    <div class="col col-lg-9 col-xl-7 col-xxl-6 d-block mx-auto px-2">

        <hr class="liniya" />

        <h1 class="fs-3 text_shadow">Добавить фильм</h1>

        <hr class="liniya" />

        <div class="card p-2">

            <div class="card-body mx-0 p-0">

                <form method="post" enctype="multipart/form-data">

                    <input asp-for="MovieFileModelId" type="hidden" value="@Guid.Empty" />

                    @* сообщения об ошибках *@
                    @if (Context.Request.Method == "POST")
                    {
                        <div asp-validation-summary="All" class="text-danger border border-top-0 border-danger mb-3"></div>
                    }

                    @* выбрать файл фильма *@
                    <div class="row g-2 justify-content-center">

                        <div class="col-auto">
                            <label asp-for="FileForMovieFormFile" class="col-form-label text-primary fs-5 me-2"></label>
                        </div>

                        <div class="col-auto">
                            <input id="FileForMovieFormFile" asp-for="FileForMovieFormFile" class="form-control text-center" aria-describedby="FileForMovieFormFileInputHelpBlock" />
                        </div>

                        <div id="FileForMovieFormFileInputHelpBlock" class="form-text">

                            <span class="fs-6 text-success">выбрать файл фильма </span>

                        </div>

                        @if (Context.Request.Method == "POST")
                        {
                            <span asp-validation-for="FileForMovieFormFile" class="text-danger"></span>
                        }

                        <hr class="liniya" />

                    </div>

                    @* выбрать файл полной версии фильма *@
                    <div class="row g-2 justify-content-center">

                        <div class="col-auto">
                            <label for="FullMovieFormFileInput" asp-for="FullMovieFormFile" class="col-form-label text-primary fs-5 me-2"></label>
                        </div>

                        <div class="col-auto">
                            <input id="FullMovieFormFile" asp-for="FullMovieFormFile" class="form-control text-center" aria-describedby="FullMovieFormFileInputHelpBlock" />
                        </div>

                        <div id="FullMovieFormFileInputHelpBlock" class="form-text">
                            <span>выбрать файл полного фильма</span>
                        </div>

                        @if (Context.Request.Method == "POST")
                        {
                            <span asp-validation-for="FullMovieFormFile" class="text-danger"></span>
                        }

                        <hr class="liniya" />

                    </div>

                    @* выбрать картинку фильма *@
                    <div class="row g-2 justify-content-center">

                        <div class="col-auto">
                            <label asp-for="ImageForMovieFormFile" class="col-form-label text-primary fs-5 me-2"></label>
                        </div>

                        <div class="col-auto">
                            <input id="ImageForMovieFormFileInput" class="form-control text-center" asp-for="ImageForMovieFormFile" aria-describedby="ImageForMovieFormFileInputHelpBlock" />
                        </div>

                        <div id="ImageForMovieFormFileInputHelpBlock" class="form-text">
                            <span>выбрать картинку для фильму - </span><span class="text-danger">обязательное поле</span>
                        </div>

                        @if (Context.Request.Method == "POST")
                        {
                            <span asp-validation-for="ImageForMovieFormFile" class="text-danger"></span>
                        }

                        <hr class="liniya" />

                    </div>

                    @* выбрать постер фильма *@
                    <div class="row g-2 justify-content-center">

                        <div class="col-auto">
                            <label class="col-form-label text-primary fs-5 me-2" asp-for="PosterForMovieFormFile"></label>
                        </div>

                        <div class="col-auto">
                            <input id="PosterForMovieFormFileInput" class="form-control text-center" asp-for="PosterForMovieFormFile" aria-describedby="PosterForMovieFormFileInputHelpBlock" />
                        </div>

                        <div id="PosterForMovieFormFileInputHelpBlock" class="form-text">
                            <span>выбрать постер для фильму</span>
                        </div>

                        <hr class="liniya" />

                    </div>

                    @* страница фильма *@
                    <div class="mb-3">

                        <label class="form-label text-primary fs-5 await" asp-for="PageForMovie"></label>

                        <input id="PageForMovieInput" class="form-control text-center" asp-for="PageForMovie" aria-describedby="PageForMovieInputHelpBlock" />

                        <div id="PageForMovieInputHelpBlock" class="form-text">
                            <span> адрес страницы фильма</span>
                        </div>

                        <span asp-validation-for="PageForMovie" class="text-danger"></span>

                    </div>

                    @* данные по группам*@
                    <div class="accordion" id="accordionAddMovie">

                        @* данные многосерийного фильма *@
                        <div class="accordion-item">

                            @* заголовок группы *@
                            <h2 class="accordion-header" id="headingSeries">
                                <button class="accordion-button collapsed py-0" type="button" data-bs-toggle="collapse" data-bs-target="#FilmSeries" aria-expanded="true" aria-controls="FilmSeries">
                                    <span class="form-label text-success fs-5">Многосерийный фильм :</span>
                                </button>
                            </h2>

                            <div id="FilmSeries" class="accordion-collapse collapse" aria-labelledby="headingSeries" data-bs-parent="#accordionAddMovie">

                                <div class="accordion-body accordion-body-nointend text-center">

                                    @* текст поиска всех серий *@
                                    <div class="mb-3">

                                        <label class="form-label text-primary fs-5 await" asp-for="SeriesSearchFilter"></label>
                                        <input id="SeriesSearchFilterInput" class="form-control text-center" asp-for="SeriesSearchFilter" aria-describedby="SeriesSearchFilterInputHelpBlock" />

                                        <div id="SeriesSearchFilterInputHelpBlock" class="form-text">
                                            <span>текст поиска всех серий фильма</span>
                                        </div>

                                        <span asp-validation-for="SeriesSearchFilter" class="text-danger"></span>

                                    </div>

                                    @*  количество серий *@
                                    <div class="row g-2 justify-content-center mb-3">
                                        <div class="col-auto">
                                            <label asp-for="MovieTotalParts" class="form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <input id="MovieTotalPartsInput" asp-for="MovieTotalParts" value="1" class="form-control text-center" aria-describedby="MovieTotalPartsInputHelpBlock" />
                                        </div>
                                        <div id="MovieTotalPartsInputHelpBlock" class="form-text">
                                            <span>количество серий - </span><span class="text-danger">обязательное поле</span>
                                        </div>

                                        <span asp-validation-for="MovieTotalParts" class="text-danger"></span>
                                    </div>

                                    @*  номер серии *@
                                    <div class="row g-2 justify-content-center mb-3">
                                        <div class="col-auto">
                                            <label asp-for="MoviePart" class="form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <input id="MoviePartInput" asp-for="MoviePart" value="1" class="form-control text-center" aria-describedby="MoviePartInputHelpBlock" />
                                        </div>
                                        <div id="MoviePartInputHelpBlock" class="form-text">
                                            <span>серия - </span><span class="text-danger">обязательное поле</span>
                                        </div>

                                        <span asp-validation-for="MoviePart" class="text-danger"></span>
                                    </div>

                                    @* выбрать файл картинки для заголовка страницы серий *@
                                    <div class="row g-2 justify-content-center mb-3">

                                        <div class="col-auto">
                                            <label asp-for="ImageHeadForSeriesFormFile" class="col-form-label text-primary fs-5 me-2"></label>
                                        </div>

                                        <div class="col-auto">
                                            <input id="ImageHeadForSeriesFormFile" class="form-control text-center" asp-for="ImageHeadForSeriesFormFile" aria-describedby="ImageHeadForSeriesFormFileInputHelpBlock" />
                                        </div>

                                        <div id="ImageHeadForSeriesFormFileInputHelpBlock" class="form-text">
                                            <span>картинка на странице серий - </span><span class="text-danger">выбирать только для 1-ой серии</span>
                                        </div>

                                        @if (Context.Request.Method == "POST")
                                        {
                                            <span asp-validation-for="ImageHeadForSeriesFormFile" class="text-danger"></span>
                                        }

                                    </div>

                                    @* адрес страницы серий *@
                                    <div>
                                        <label class="form-label text-primary fs-5 await" asp-for="PageForSeries"></label>
                                        <input id="PageForSeriesInput" class="form-control text-center" asp-for="PageForSeries" aria-describedby="PageForSeriesInputHelpBlock" />

                                        <div id="PageForSeriesInputHelpBlock" class="form-text">
                                            <span>адрес страницы серий фильма</span>
                                        </div>

                                        <span asp-validation-for="PageForSeries" class="text-danger"></span>
                                    </div>

                                </div>

                            </div>

                        </div>

                        @* описание фильма *@
                        <div class="accordion-item">

                            @* заголовок группы *@
                            <h2 class="accordion-header" id="headingDescription">
                                <button class="accordion-button collapsed py-0" type="button" data-bs-toggle="collapse" data-bs-target="#FilmDescription" aria-expanded="true" aria-controls="FilmDescription">
                                    <span class="form-label text-success fs-5">Заголовок, описание:</span>
                                </button>
                            </h2>

                            <div id="FilmDescription" class="accordion-collapse collapse" aria-labelledby="headingDescription" data-bs-parent="#accordionAddMovie">

                                <div class="accordion-body accordion-body-nointend text-center">

                                    <label asp-for="MovieCaption" class="form-label text-primary fs-5"></label>
                                    <input id="MovieCaptionInput" asp-for="MovieCaption" class="form-control text-center" aria-describedby="MovieCaptionInputHelpBlock" />
                                    <div id="MovieCaptionInputHelpBlock" class="form-text mb-2">
                                        <span>название фильма - </span><span class="text-danger">обязательное поле</span>
                                    </div>

                                    <span asp-validation-for="MovieCaption" class="text-danger"></span>

                                    <label asp-for="MovieCaptionForOnline" class="form-label text-primary fs-5"></label>
                                    <input id="MovieCaptionForOnlineInput" asp-for="MovieCaptionForOnline" class="form-control text-center" aria-describedby="MovieCaptionForOnlineInputHelpBlock" />
                                    <div id="MovieCaptionForOnlineInputHelpBlock" class="form-text mb-2">
                                        <span>заголовок страницы фильма (HTML) - </span><span class="text-danger">обязательное поле</span>
                                    </div>

                                    <span asp-validation-for="MovieCaptionForOnline" class="text-danger"></span>

                                    <label asp-for="MovieDescriptionForSchemaOrg" class="form-label text-primary fs-5"></label>
                                    <textarea id="MovieDescriptionForSchemaOrgInput" rows="3" asp-for="MovieDescriptionForSchemaOrg" class="form-control" aria-describedby="MovieDescriptionForSchemaOrgInputHelpBlock"></textarea>
                                    <div id="MovieDescriptionForSchemaOrgInputHelpBlock" class="form-text mb-2">
                                        <span>краткое содержание (SchemaOrg) - </span><span class="text-danger">обязательное поле</span>
                                    </div>

                                    <span asp-validation-for="MovieDescriptionForSchemaOrg" class="text-danger"></span>

                                    <label asp-for="MovieDescriptionHtml" class="form-label text-primary fs-5"></label>
                                    <textarea id="MovieDescriptionHtmlInput" rows="3" asp-for="MovieDescriptionHtml" class="form-control" aria-describedby="MovieDescriptionHtmlHelpBlock"></textarea>
                                    <div id="MovieDescriptionHtmlHelpBlock" class="form-text mb-2">
                                        <span>краткое содержание (HTML) - </span><span class="text-danger">обязательное поле</span>
                                    </div>

                                    <span asp-validation-for="MovieDescriptionHtml" class="text-danger"></span>

                                    <label asp-for="FramesAroundMovie" class="form-label text-primary fs-5"></label>
                                    <input id="MovieFramesAroundMovieInput" asp-for="FramesAroundMovie" class="form-control" aria-describedby="MovieFramesAroundMovieHelpBlock" />
                                    <div id="MovieFramesAroundMovieHelpBlock" class="form-text mb-2">
                                        <span>название фильма для ленты кадров</span>
                                    </div>

                                    <span asp-validation-for="FramesAroundMovie" class="text-danger"></span>

                                    <label asp-for="MovieNote" class="form-label text-primary fs-5"></label>
                                    <textarea id="MovieNoteInput" rows="2" asp-for="MovieNote" class="form-control" aria-describedby="MovieNoteHelpBlock"></textarea>
                                    <div id="MovieNoteHelpBlock" class="form-text">
                                        <span>примечания к фильму</span>
                                    </div>

                                    <span asp-validation-for="MovieNote" class="text-danger"></span>

                                </div>

                            </div>

                        </div>

                        @* даты формат фильтры фильма *@
                        <div class="accordion-item">

                            <h2 class="accordion-header" id="headingDate">
                                <button class="accordion-button collapsed py-0" type="button" data-bs-toggle="collapse" data-bs-target="#FilmDate" aria-expanded="true" aria-controls="FilmDate">
                                    <span class="form-label text-success fs-5">Дата, формат, ограничения:</span>
                                </button>
                            </h2>

                            <div id="FilmDate" class="accordion-collapse collapse" aria-labelledby="headingDate" data-bs-parent="#accordionAddMovie">

                                <div class="accordion-body accordion-body-nointend text-center">

                                    <div class="row g-2 justify-content-center">
                                        <div class="col-auto">
                                            <label asp-for="MovieScreenFormat" class="col-form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <select id="ScreenFormatInput" asp-for="MovieScreenFormat" class="form-select" aria-describedby="ScreenFormatInputHelpBlock">
                                                <option value="">Формат</option>
                                                <option value="4X3">4x3</option>
                                                <option value="16X9">16x9</option>
                                            </select>
                                        </div>
                                        <div id="ScreenFormatInputHelpBlock" class="form-text mb-2">
                                            <span>формат изображения -</span>
                                        </div>

                                        <span asp-validation-for="MovieScreenFormat" class="text-danger"></span>
                                    </div>

                                    <div class="row g-2 justify-content-center">
                                        <div class="col-auto">
                                            <label asp-for="MovieDatePublished" class="col-form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <input id="MovieDatePublishedInput" asp-for="MovieDatePublished" class="form-control text-center" aria-describedby="MovieDatePublishedInputHelpBlock" />
                                        </div>
                                        <div id="MovieDatePublishedInputHelpBlock" class="form-text mb-2">
                                            <span>дата премьеры - </span><span class="text-danger">обязательное поле</span>
                                        </div>

                                        <span asp-validation-for="MovieDatePublished" class="text-danger"></span>
                                    </div>

                                    <div class="row g-2 justify-content-center">
                                        <div class="col-auto">
                                            <label asp-for="MovieDateCreated" class="col-form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <input id="MovieDateCreatedInput" asp-for="MovieDateCreated" class="form-control text-center" aria-describedby="MovieDateCreatedInputHelpBlock" />
                                        </div>
                                        <div id="MovieDateCreatedInputHelpBlock" class="form-text mb-2">
                                            <span>дата производства - </span><span class="text-danger">обязательное поле</span>
                                        </div>

                                        <span asp-validation-for="MovieDateCreated" class="text-danger"></span>
                                    </div>

                                    <div class="row g-2 justify-content-center">
                                        <div class="col-auto">
                                            <label asp-for="MovieUploadDate" class="col-form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <input id="MovieUploadDateInput" asp-for="MovieUploadDate" class="form-control text-center" aria-describedby="MovieUploadDateInputHelpBlock" />
                                        </div>
                                        <div id="MovieUploadDateInputHelpBlock" class="form-text mb-2">
                                            <span>дата публикации на сайте - </span><span class="text-danger">обязательное поле</span>
                                        </div>

                                        <span asp-validation-for="MovieUploadDate" class="text-danger"></span>
                                    </div>

                                    <label asp-for="MovieGenre" class="col-form-label text-primary fs-5 me-2"></label>
                                    <input id="MovieGenreInput" asp-for="MovieGenre" class="align-text-bottom" aria-describedby="MovieGenreInputHelpBlock" />
                                    <div id="MovieGenreInputHelpBlock" class="form-text mb-2">
                                        <span>жанр фильма</span>
                                    </div>

                                    <span asp-validation-for="MovieGenre" class="text-danger"></span>

                                    <label asp-for="SearchFilter" class="form-label text-primary fs-5"></label>
                                    <textarea id="SearchFilterInput" rows="3" asp-for="SearchFilter" class="form-control" aria-describedby="SearchFilterInputHelpBlock"></textarea>
                                    <div id="SearchFilterInputHelpBlock" class="form-text mb-2">
                                        <span>фильтры поиска - </span>
                                    </div>

                                    <span asp-validation-for="SearchFilter" class="text-danger"></span>

                                    <label asp-for="MovieInMainList" class="col-form-label text-primary fs-5 me-2"></label>
                                    <input id="MovieInMainListInput" asp-for="MovieInMainList" class="align-text-bottom" aria-describedby="MovieInMainListInputHelpBlock" />
                                    <div id="MovieInMainListInputHelpBlock" class="form-text">
                                        <span>поставить отметку для включения в список</span>
                                    </div>

                                    <span asp-validation-for="MovieInMainList" class="text-danger"></span>

                                    <label asp-for="MovieAdult" class="col-form-label text-primary fs-5 me-2"></label>

                                    <div class="col-2 text-start mx-auto">

                                        <div class="form-check">
                                            <input id="IsMovieAdulttrue" class="form-check-input" asp-for="MovieAdult" type="radio" value="true">
                                            <label class="form-check-label" for="IsMovieAdulttrue">
                                                Да
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input id="IsMovieAdultfalse" class="form-check-input" asp-for="MovieAdult" type="radio" value="false" checked>
                                            <label class="form-check-label" for="IsMovieAdultfalse">
                                                Нет
                                            </label>
                                        </div>

                                    </div>

                                    <div id="IsMovieAdultHelpBlock" class="form-text">
                                        <span>выбрать возрастную категорию фильма</span>
                                    </div>

                                    <span asp-validation-for="MovieAdult" class="text-danger"></span>
                                </div>

                            </div>

                        </div>

                        @* язык субтитры фильма *@
                        <div class="accordion-item">

                            <h2 class="accordion-header" id="headingLanguage">
                                <button class="accordion-button collapsed py-0" type="button" data-bs-toggle="collapse" data-bs-target="#FilmLanguage" aria-expanded="true" aria-controls="FilmLanguage">
                                    <span class="form-label text-success fs-5">Язык фильма:</span>
                                </button>
                            </h2>

                            <div id="FilmLanguage" class="accordion-collapse collapse" aria-labelledby="headingLanguage" data-bs-parent="#accordionAddMovie">

                                <div class="accordion-body accordion-body-nointend text-center">

                                    <div class="row g-2 justify-content-center">
                                        <div class="col-auto">
                                            <label asp-for="MovieInLanguage1" class="col-form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <select id="MovieInLanguage1Input" asp-for="MovieInLanguage1" class="form-select" aria-describedby="MovieInLanguage1InputHelpBlock">
                                                <option value="">Язык</option>
                                                <option value="ru" selected>ru</option>
                                                <option value="en">en</option>
                                            </select>
                                        </div>
                                        <div class="col-12 justify-content-center mb-2">
                                            <span id="MovieInLanguage1InputHelpBlock" class="form-text">
                                                язык звуковой дорожки (1) -
                                            </span>
                                            <span class="text-danger">обязательное поле</span>
                                        </div>
                                    </div>

                                    <span asp-validation-for="MovieInLanguage1" class="text-danger"></span>

                                    <div class="row g-2 justify-content-center mb-2">
                                        <div class="col-auto">
                                            <label asp-for="MovieInLanguage2" class="col-form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <select id="MovieInLanguage2Input" asp-for="MovieInLanguage2" class="form-select" aria-describedby="MovieInLanguage2InputHelpBlock">
                                                <option value="">Язык</option>
                                                <option value="ru">ru</option>
                                                <option value="en">en</option>
                                            </select>
                                        </div>
                                        <div class="col-12 justify-content-center">
                                            <span id="MovieInLanguage2InputHelpBlock" class="form-text">
                                                язык звуковой дорожки (2) -
                                            </span>
                                        </div>
                                    </div>

                                    <span asp-validation-for="MovieInLanguage2" class="text-danger"></span>

                                    <div class="row g-2 justify-content-center mb-2">
                                        <div class="col-auto">
                                            <label asp-for="MovieSubtitles1" class="col-form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <select id="MovieSubtitles1Input" asp-for="MovieSubtitles1" class="form-select" aria-describedby="MovieSubtitles1InputHelpBlock">
                                                <option value="">Язык</option>
                                                <option value="ru">ru</option>
                                                <option value="en">en</option>
                                            </select>
                                        </div>
                                        <div class="col-12 justify-content-center">
                                            <span id="MovieSubtitles1InputHelpBlock" class="form-text">
                                                язык субтитров (1) -
                                            </span>
                                        </div>
                                    </div>

                                    <span asp-validation-for="MovieSubtitles1" class="text-danger"></span>

                                    <div class="row g-2 justify-content-center mb-2">
                                        <div class="col-auto">
                                            <label asp-for="MovieSubtitles2" class="col-form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <select id="MovieSubtitles2Input" asp-for="MovieSubtitles2" class="form-select" aria-describedby="MovieSubtitles2InputHelpBlock">
                                                <option value="">Язык</option>
                                                <option value="ru">ru</option>
                                                <option value="en">en</option>
                                            </select>
                                        </div>
                                        <div class="col-12 justify-content-center">
                                            <span id="MovieSubtitles2InputHelpBlock" class="form-text">
                                                язык субтитров (2) -
                                            </span>
                                        </div>
                                    </div>

                                    <span asp-validation-for="MovieSubtitles2" class="text-danger"></span>
                                </div>

                            </div>

                        </div>

                        @* съёмочная группа фильма *@
                        <div class="accordion-item">

                            <h2 class="accordion-header" id="headingFilmCrew">
                                <button class="accordion-button collapsed py-0" type="button" data-bs-toggle="collapse" data-bs-target="#FilmCrew" aria-expanded="true" aria-controls="FilmCrew">
                                    <span class="form-label text-success fs-5">Съемочная группа:</span>
                                </button>
                            </h2>

                            <div id="FilmCrew" class="accordion-collapse collapse" aria-labelledby="headingFilmCrew" data-bs-parent="#accordionAddMovie">

                                <div class="accordion-body accordion-body-nointend text-center">

                                    <div class="row g-2 justify-content-center mb-2">
                                        <div class="col-auto">
                                            <label asp-for="MovieРroductionCompany" class="form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <input id="РroductionCompanyInput" asp-for="MovieРroductionCompany" class="form-control text-center" aria-describedby="РroductionCompanyInputHelpBlock" />
                                        </div>
                                        <div id="РroductionCompanyInputHelpBlock" class="form-text">
                                            <span>кинокомпания - </span><span class="text-danger">обязательное поле</span>
                                        </div>
                                        <span asp-validation-for="MovieРroductionCompany" class="text-danger"></span>
                                    </div>

                                    <div class="row g-2 justify-content-center mb-2">
                                        <div class="col-auto">
                                            <label asp-for="MovieDirector1" class="form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <input id="Director1Input" asp-for="MovieDirector1" class="form-control text-center" aria-describedby="Director1InputHelpBlock" />
                                        </div>
                                        <div id="Director1InputHelpBlock" class="form-text">
                                            <span>режиссер (1) - </span><span class="text-danger">обязательное поле</span>
                                        </div>
                                        <span asp-validation-for="MovieDirector1" class="text-danger"></span>
                                    </div>

                                    <div class="row g-2 justify-content-center mb-2">
                                        <div class="col-auto">
                                            <label asp-for="MovieDirector2" class="form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <input id="Director2Input" asp-for="MovieDirector2" class="form-control text-center" aria-describedby="Director2InputHelpBlock" />
                                        </div>
                                        <div id="Director2InputHelpBlock" class="form-text">
                                            <span>режиссер (2) - </span>
                                        </div>
                                        <span asp-validation-for="MovieDirector2" class="text-danger"></span>
                                    </div>

                                    <div class="row g-2 justify-content-center mb-2">
                                        <div class="col-auto">
                                            <label asp-for="MovieMusicBy" class="form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <input id="MovieMusicByInput" asp-for="MovieMusicBy" class="form-control text-center" aria-describedby="MovieMusicByInputHelpBlock" />
                                        </div>
                                        <div id="MovieMusicByInputHelpBlock" class="form-text">
                                            <span>композитор</span>
                                        </div>
                                        <span asp-validation-for="MovieMusicBy" class="text-danger"></span>
                                    </div>

                                    <div class="row g-2 justify-content-center mb-2">
                                        <div class="col-auto">
                                            <label asp-for="MovieActor01" class="form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <input id="MovieActor01Input" asp-for="MovieActor01" class="form-control text-center" aria-describedby="MovieActor01InputHelpBlock" />
                                        </div>
                                        <div id="MovieActor01InputHelpBlock" class="form-text">
                                            <span>актер (актриса)</span>
                                        </div>
                                        <span asp-validation-for="MovieActor01" class="text-danger"></span>
                                    </div>

                                    <div class="row g-2 justify-content-center mb-2">
                                        <div class="col-auto">
                                            <label asp-for="MovieActor02" class="form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <input id="MovieActor02Input" asp-for="MovieActor02" class="form-control text-center" aria-describedby="MovieActor02InputHelpBlock" />
                                        </div>
                                        <div id="MovieActor02InputHelpBlock" class="form-text">
                                            <span>актер (актриса)</span>
                                        </div>
                                        <span asp-validation-for="MovieActor02" class="text-danger"></span>
                                    </div>

                                    <div class="row g-2 justify-content-center mb-2">
                                        <div class="col-auto">
                                            <label asp-for="MovieActor03" class="form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <input id="MovieActor03Input" asp-for="MovieActor03" class="form-control text-center" aria-describedby="MovieActor03InputHelpBlock" />
                                        </div>
                                        <div id="MovieActor03InputHelpBlock" class="form-text">
                                            <span>актер (актриса)</span>
                                        </div>
                                        <span asp-validation-for="MovieActor03" class="text-danger"></span>
                                    </div>

                                    <div class="row g-2 justify-content-center mb-2">
                                        <div class="col-auto">
                                            <label asp-for="MovieActor04" class="form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <input id="MovieActor04Input" asp-for="MovieActor04" class="form-control text-center" aria-describedby="MovieActor04InputHelpBlock" />
                                        </div>
                                        <div id="MovieActor04InputHelpBlock" class="form-text">
                                            <span>актер (актриса)</span>
                                        </div>
                                        <span asp-validation-for="MovieActor04" class="text-danger"></span>
                                    </div>

                                    <div class="row g-2 justify-content-center mb-2">
                                        <div class="col-auto">
                                            <label asp-for="MovieActor05" class="form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <input id="MovieActor05Input" asp-for="MovieActor05" class="form-control text-center" aria-describedby="MovieActor05InputHelpBlock" />
                                        </div>
                                        <div id="MovieActor05InputHelpBlock" class="form-text">
                                            <span>актер (актриса)</span>
                                        </div>
                                        <span asp-validation-for="MovieActor05" class="text-danger"></span>
                                    </div>

                                    <div class="row g-2 justify-content-center mb-2">
                                        <div class="col-auto">
                                            <label asp-for="MovieActor06" class="form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <input id="MovieActor06Input" asp-for="MovieActor06" class="form-control text-center" aria-describedby="MovieActor06InputHelpBlock" />
                                        </div>
                                        <div id="MovieActor06InputHelpBlock" class="form-text">
                                            <span>актер (актриса)</span>
                                        </div>
                                        <span asp-validation-for="MovieActor06" class="text-danger"></span>
                                    </div>

                                    <div class="row g-2 justify-content-center mb-2">
                                        <div class="col-auto">
                                            <label asp-for="MovieActor07" class="form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <input id="MovieActor07Input" asp-for="MovieActor07" class="form-control text-center" aria-describedby="MovieActor07InputHelpBlock" />
                                        </div>
                                        <div id="MovieActor07InputHelpBlock" class="form-text">
                                            <span>актер (актриса)</span>
                                        </div>
                                        <span asp-validation-for="MovieActor07" class="text-danger"></span>
                                    </div>

                                    <div class="row g-2 justify-content-center mb-2">
                                        <div class="col-auto">
                                            <label asp-for="MovieActor08" class="form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <input id="MovieActor08Input" asp-for="MovieActor08" class="form-control text-center" aria-describedby="MovieActor08InputHelpBlock" />
                                        </div>
                                        <div id="MovieActor08InputHelpBlock" class="form-text">
                                            <span>актер (актриса)</span>
                                        </div>
                                        <span asp-validation-for="MovieActor08" class="text-danger"></span>
                                    </div>

                                    <div class="row g-2 justify-content-center mb-2">
                                        <div class="col-auto">
                                            <label asp-for="MovieActor09" class="form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <input id="MovieActor09Input" asp-for="MovieActor09" class="form-control text-center" aria-describedby="MovieActor09InputHelpBlock" />
                                        </div>
                                        <div id="MovieActor09InputHelpBlock" class="form-text">
                                            <span>актер (актриса)</span>
                                        </div>
                                        <span asp-validation-for="MovieActor09" class="text-danger"></span>
                                    </div>

                                    <div class="row g-2 justify-content-center">
                                        <div class="col-auto">
                                            <label asp-for="MovieActor10" class="form-label text-primary fs-5"></label>
                                        </div>
                                        <div class="col-auto">
                                            <input id="MovieActor10Input" asp-for="MovieActor10" class="form-control text-center" aria-describedby="MovieActor10InputHelpBlock" />
                                        </div>
                                        <div id="MovieActor10InputHelpBlock" class="form-text">
                                            <span>актер (актриса)</span>
                                        </div>
                                        <span asp-validation-for="MovieActor10" class="text-danger"></span>
                                    </div>

                                </div>

                            </div>

                        </div>

                        @* ссылки на фильм *@
                        <div class="accordion-item">

                            <h2 class="accordion-header" id="headingRef">

                                <button class="accordion-button collapsed py-0" type="button" data-bs-toggle="collapse" data-bs-target="#refForMovie" aria-expanded="true" aria-controls="refForMovie">
                                    <span class="form-label text-success fs-5">Ссылки на фильм :</span>
                                </button>

                            </h2>

                            <div id="refForMovie" class="accordion-collapse collapse" aria-labelledby="headingRef" data-bs-parent="#accordionAddMovie">

                                <div class="accordion-body text-center">

                                    <label asp-for="MovieYouTube" class="col-form-label text-primary fs-5 me-2"></label>
                                    <br />
                                    <input id="MovieYouTubeInput" class="align-text-bottom col-11" asp-for="MovieYouTube" aria-describedby="MovieYouTubeInputHelpBlock" />
                                    <div id="MovieYouTubeInputHelpBlock" class="form-text mb-2">
                                        <span>фильм на YOUTUBE</span>
                                    </div>
                                    <span asp-validation-for="MovieYouTube" class="text-danger"></span>

                                    <label asp-for="MovieVkVideo" class="col-form-label text-primary fs-5 me-2"></label>
                                    <br />
                                    <input id="MovieVkVideoInput" class="align-text-bottom col-11" asp-for="MovieVkVideo" aria-describedby="MovieVkVideoInputHelpBlock" />
                                    <div id="MovieVkVideoInputHelpBlock" class="form-text mb-2">
                                        <span>фильм на VK</span>
                                    </div>
                                    <span asp-validation-for="MovieVkVideo" class="text-danger"></span>

                                    <label asp-for="MovieMailRuVideo" class="col-form-label text-primary fs-5 me-2"></label>
                                    <br />
                                    <input id="MovieMailRuVideoInput" class="align-text-bottom col-11" asp-for="MovieMailRuVideo" aria-describedby="MovieMailRuVideoInputHelpBlock" />
                                    <div id="MovieMailRuVideoInputHelpBlock" class="form-text mb-2">
                                        <span>фильм на MAIL.RU</span>
                                    </div>
                                    <span asp-validation-for="MovieMailRuVideo" class="text-danger"></span>

                                    <label asp-for="MovieOkVideo" class="col-form-label text-primary fs-5 me-2"></label>
                                    <br />
                                    <input id="MovieOkVideoInput" class="align-text-bottom col-11" asp-for="MovieOkVideo" aria-describedby="MovieOkVideoInputHelpBlock" />
                                    <div id="MovieOkVideoInputHelpBlock" class="form-text mb-2">
                                        <span>фильм на OK</span>
                                    </div>
                                    <span asp-validation-for="MovieOkVideo" class="text-danger"></span>

                                    <label asp-for="MovieYandexDiskVideo" class="col-form-label text-primary fs-5 me-2"></label>
                                    <br />
                                    <input id="MovieYandexDiskVideoInput" class="align-text-bottom col-11" asp-for="MovieYandexDiskVideo" aria-describedby="MovieYandexDiskVideoInputHelpBlock" />
                                    <div id="MovieYandexDiskVideoInputHelpBlock" class="form-text">
                                        <span>фильм на YandexDisk</span>
                                    </div>
                                    <span asp-validation-for="MovieYandexDiskVideo" class="text-danger"></span>
                                </div>

                            </div>

                        </div>

                        @* ссылки на информацию о фильме *@
                        <div class="accordion-item">

                            <h2 class="accordion-header" id="headingInfoRef">

                                <button class="accordion-button collapsed py-0" type="button" data-bs-toggle="collapse" data-bs-target="#infoRef" aria-expanded="true" aria-controls="infoRef">
                                    <span class="form-label text-success fs-5">Ссылки на информацию :</span>
                                </button>

                            </h2>

                            <div id="infoRef" class="accordion-collapse collapse" aria-labelledby="headingInfoRef" data-bs-parent="#accordionAddMovie">

                                <div class="accordion-body text-center">

                                    <label asp-for="MovieKinoTeatrRu" class="col-form-label text-primary fs-5 me-2"></label>
                                    <br />
                                    <input id="MovieKinoTeatrRuInput" asp-for="MovieKinoTeatrRu" class="align-text-bottom col-11" aria-describedby="MovieKinoTeatrRuInputHelpBlock" />
                                    <div id="MovieKinoTeatrRuInputHelpBlock" class="form-text mb-2">
                                        <span>информация на kino-teatr.ru</span>
                                    </div>
                                    <span asp-validation-for="MovieKinoTeatrRu" class="text-danger"></span>

                                    <label asp-for="MovieKinoPoisk" class="col-form-label text-primary fs-5 me-2"></label>
                                    <br />
                                    <input id="MovieKinoPoiskInput" asp-for="MovieKinoPoisk" class="align-text-bottom col-11" aria-describedby="MovieKinoPoiskInputHelpBlock" />
                                    <div id="MovieKinoPoiskInputHelpBlock" class="form-text mb-2">
                                        <span>информация на kinopoisk.ru</span>
                                    </div>
                                    <span asp-validation-for="MovieKinoPoisk" class="text-danger"></span>

                                    <label asp-for="MovieImbd" class="col-form-label text-primary fs-5 me-2"></label>
                                    <br />
                                    <input id="MovieImbdInput" asp-for="MovieImbd" class="align-text-bottom col-11" aria-describedby="MovieImbdInputHelpBlock" />
                                    <div id="MovieImbdInputHelpBlock" class="form-text">
                                        <span>информация на imdb.com</span>
                                    </div>
                                    <span asp-validation-for="MovieImbd" class="text-danger"></span>

                                </div>

                            </div>

                        </div>

                        @* блоки ссылок под видео *@
                        <div class="accordion-item">

                            <h2 class="accordion-header" id="headingAddLinks">

                                <button class="accordion-button collapsed py-0" type="button" data-bs-toggle="collapse" data-bs-target="#accordionLinks" aria-expanded="true" aria-controls="accordionLinks">
                                    <span class="form-label text-success fs-5">Группа ссылок под видео :</span>
                                </button>

                            </h2>

                            <div id="accordionLinks" class="accordion-collapse collapse" aria-labelledby="headingInfoRef" data-bs-parent="#accordionAddMovie">

                                @* фотокарусель *@
                                <div class="accordion-item">

                                    <h2 class="accordion-header" id="FotoCarousel">

                                        <button class="accordion-button collapsed py-0" type="button" data-bs-toggle="collapse" data-bs-target="#Carousel" aria-expanded="true" aria-controls="Carousel">
                                            <span class="form-label text-success fs-5">Фотокарусель :</span>
                                        </button>

                                    </h2>

                                    <div id="Carousel" class="accordion-collapse collapse" aria-labelledby="headingAddLinks" data-bs-parent="#accordionLinks">

                                        <div class="accordion-body">

                                            <label asp-for="Carousel" class="form-label text-primary fs-5 fw-bold"></label>
                                            <div class="form-check">
                                                <input id="Carouseltrue" class="form-check-input" asp-for="Carousel" type="radio" value="true">
                                                <label class="form-check-label" for="Carouseltrue">
                                                    Показывать
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input id="Carouselfalse" class="form-check-input" asp-for="Carousel" type="radio" value="false" checked>
                                                <label class="form-check-label" for="Carouselfalse">
                                                    Не показывать
                                                </label>
                                            </div>
                                            <div id="CarouselInputHelpBlock" class="form-text">
                                                <span>запуск фотокарусели под видео</span>
                                            </div>
                                            <span asp-validation-for="Carousel" class="text-danger"></span>

                                        </div>

                                    </div>

                                </div>

                                @* Блок ссылок под видео 1 *@
                                <div class="accordion-item">

                                    <h2 class="accordion-header" id="headingAddLinks1">

                                        <button class="accordion-button collapsed py-0" type="button" data-bs-toggle="collapse" data-bs-target="#AddLinks1" aria-expanded="true" aria-controls="AddLinks1">
                                            <span class="form-label text-success fs-5">Ссылки 1 :</span>
                                        </button>

                                    </h2>

                                    <div id="AddLinks1" class="accordion-collapse collapse" aria-labelledby="headingAddLinks1" data-bs-parent="#accordionLinks">

                                        <div class="accordion-body">

                                            @* Заголовок связанных видео 1 *@
                                            <label asp-for="HeadTitleForVideoLinks1" class="col-form-label text-primary fs-5 fw-bold me-2"></label>
                                            <br />
                                            <input id="HeadTitleForVideoLinks1Input" asp-for="HeadTitleForVideoLinks1" class="align-text-bottom col-11" aria-describedby="HeadTitleForVideoLinks1InputHelpBlock" />
                                            <div id="HeadTitleForVideoLinks1InputInputHelpBlock" class="form-text">
                                                <span>заголовок (1) связанных видео</span>
                                            </div>
                                            <span asp-validation-for="HeadTitleForVideoLinks1" class="text-danger"></span>

                                            <hr class="liniya" />

                                            @* Фильтр поиска связанных видео 1 *@
                                            <label asp-for="SearchFilter1" class="form-label text-primary fs-5 fw-bold"></label>
                                            <textarea id="SearchFilter1Input" rows="3" asp-for="SearchFilter1" class="form-control" aria-describedby="SearchFilter1InputHelpBlock"></textarea>
                                            <div id="SearchFilter1InputHelpBlock" class="form-text">
                                                <span>фильтры поиска связанных видео (1)</span>
                                            </div>
                                            <span asp-validation-for="SearchFilter1" class="text-danger"></span>

                                            <hr class="liniya" />

                                            @* Тип картинки связанных видео 1 *@
                                            <div class="row g-2 justify-content-center">
                                                <div class="col-auto">
                                                    <label asp-for="@Model.ImageTypeForRef1" class="form-label text-primary fs-5 fw-bold"></label>
                                                </div>
                                                <div class="col-auto">
                                                    <select id="ImageTypeForRef1Input" asp-for="@Model.ImageTypeForRef1" class="form-select" aria-describedby="ImageTypeForRef1InputHelpBlock">
                                                        <option value="картинка">картинка</option>
                                                        <option value="постер" selected>постер</option>
                                                        <option value="страница">страница</option>
                                                    </select>
                                                </div>

                                                <div id="ImageTypeForRef1InputHelpBlock" class="col-12 text-center">
                                                    <span class="text-success">выбрать тип картинки для ссылок (1)</span>
                                                </div>
                                                <span asp-validation-for="@Model.ImageTypeForRef1" class="text-danger"></span>
                                            </div>

                                            <hr class="liniya" />

                                            <div class="row g-2 justify-content-center">
                                                <div class="col-auto">
                                                    <label for="IconType1Input" asp-for="IconType1" class="col-form-label text-primary fs-5 fw-bold"></label>
                                                </div>
                                                <div class="col-auto">
                                                    <select id="IconType1Input" asp-for="IconType1" class="form-select">
                                                        <option value="hd">hd</option>
                                                        <option value="image">image</option>
                                                        <option value="icon300">icon300</option>
                                                        <option value="icon200">icon200</option>
                                                        <option value="icon100">icon100</option>
                                                        <option value="webhd">webhd</option>
                                                        <option value="webimage">webimage</option>
                                                        <option value="webicon300" selected>webicon300</option>
                                                        <option value="webicon200">webicon200</option>
                                                        <option value="webicon100">webicon100</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 justify-content-center">
                                                    <span id="IconType1InputHelpBlock" class="form-text">
                                                        параметры изображения <span class="text-danger">обязательное поле</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <span asp-validation-for="IconType1" class="text-danger"></span>

                                            <hr class="liniya" />

                                            <label asp-for="IsPartsMoreOne1" class="form-label text-primary fs-5 fw-bold"></label>
                                            <div class="form-check">
                                                <input id="IsPartsMoreOne1true" class="form-check-input" asp-for="IsPartsMoreOne1" type="radio" value="true" checked>
                                                <label class="form-check-label" for="IsPartsMoreOne1true">
                                                    Многосерийный
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input id="IsPartsMoreOne1false" class="form-check-input" asp-for="IsPartsMoreOne1" type="radio" value="false">
                                                <label class="form-check-label" for="IsPartsMoreOne1false">
                                                    Одна серия
                                                </label>
                                            </div>
                                            <div id="IsPartsMoreOne1InputHelpBlock" class="form-text">
                                                <span>выбрать ссылку на страницу фильма</span>
                                            </div>
                                            <span asp-validation-for="IsPartsMoreOne1" class="text-danger"></span>

                                            <hr class="liniya" />

                                            <label asp-for="AllMoviesFromDB1" class="form-label text-primary fs-5 fw-bold"></label>
                                            <div class="form-check">
                                                <input id="AllMoviesFromDB1true" class="form-check-input" asp-for="AllMoviesFromDB1" type="radio" value="true" checked>
                                                <label class="form-check-label" for="AllMoviesFromDB1true">
                                                    Все фильмы
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input id="AllMoviesFromDB1false" class="form-check-input" asp-for="AllMoviesFromDB1" type="radio" value="false">
                                                <label class="form-check-label" for="AllMoviesFromDB1false">
                                                    Фильмы из списка MainList
                                                </label>
                                            </div>
                                            <div id="AllMoviesFromDB1InputHelpBlock" class="form-text">
                                                <span>все найденные фильмы или фильмы с параметром InMainList (true)</span>
                                            </div>
                                            <span asp-validation-for="AllMoviesFromDB1" class="text-danger"></span>

                                        </div>

                                    </div>

                                </div>

                                @* Блок ссылок под видео 2 *@
                                <div class="accordion-item">

                                    <h2 class="accordion-header" id="headingAddLinks2">

                                        <button class="accordion-button collapsed py-0" type="button" data-bs-toggle="collapse" data-bs-target="#AddLinks2" aria-expanded="true" aria-controls="AddLinks2">
                                            <span class="form-label text-success fs-5">Ссылки 2 :</span>
                                        </button>

                                    </h2>

                                    <div id="AddLinks2" class="accordion-collapse collapse" aria-labelledby="headingAddLinks" data-bs-parent="#accordionLinks">

                                        <div class="accordion-body">

                                            <label asp-for="HeadTitleForVideoLinks2" class="col-form-label text-primary fs-5 fw-bold me-2"></label>
                                            <br />
                                            <input id="HeadTitleForVideoLinks2Input" asp-for="HeadTitleForVideoLinks2" class="align-text-bottom col-11" aria-describedby="HeadTitleForVideoLinks2InputHelpBlock" />
                                            <div id="HeadTitleForVideoLinks2InputInputHelpBlock" class="form-text">
                                                <span>заголовок (2) связанных видео</span>
                                            </div>
                                            <span asp-validation-for="HeadTitleForVideoLinks2" class="text-danger"></span>

                                            <hr class="liniya" />

                                            <label asp-for="SearchFilter2" class="form-label text-primary fs-5 fw-bold"></label>
                                            <textarea id="SearchFilter2Input" rows="3" asp-for="SearchFilter2" class="form-control" aria-describedby="SearchFilter2InputHelpBlock"></textarea>
                                            <div id="SearchFilter2InputHelpBlock" class="form-text">
                                                <span>фильтры поиска (2) связанных видео</span>
                                            </div>
                                            <span asp-validation-for="SearchFilter2" class="text-danger"></span>

                                            <hr class="liniya" />

                                            @* Тип картинки связанных видео 2 *@
                                            <div class="row g-2 justify-content-center">
                                                <div class="col-auto">
                                                    <label asp-for="@Model.ImageTypeForRef2" class="form-label text-primary fs-5 fw-bold"></label>
                                                </div>
                                                <div class="col-auto">
                                                    <select id="ImageTypeForRef2Input" asp-for="@Model.ImageTypeForRef2" class="form-select" aria-describedby="ImageTypeForRef2InputHelpBlock">
                                                        <option value="картинка">картинка</option>
                                                        <option value="постер" selected>постер</option>
                                                        <option value="страница">страница</option>
                                                    </select>
                                                </div>

                                                <div id="ImageTypeForRef2InputHelpBlock" class="col-12 text-center">
                                                    <span class="text-success">выбрать тип картинки для ссылок (2)</span>
                                                </div>
                                                <span asp-validation-for="@Model.ImageTypeForRef2" class="text-danger"></span>
                                            </div>

                                            <hr class="liniya" />

                                            <div class="row g-2 justify-content-center">
                                                <div class="col-auto">
                                                    <label asp-for="IconType2" class="col-form-label text-primary fs-5 fw-bold"></label>
                                                </div>
                                                <div class="col-auto">
                                                    <select id="IconType2Input" asp-for="IconType1" class="form-select">
                                                        <option value="hd">hd</option>
                                                        <option value="image">image</option>
                                                        <option value="icon300">icon300</option>
                                                        <option value="icon200">icon200</option>
                                                        <option value="icon100">icon100</option>
                                                        <option value="webhd">webhd</option>
                                                        <option value="webimage">webimage</option>
                                                        <option value="webicon300" selected>webicon300</option>
                                                        <option value="webicon200">webicon200</option>
                                                        <option value="webicon100">webicon100</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 justify-content-center">
                                                    <span id="IconType2InputHelpBlock" class="form-text">
                                                        параметры изображения <span class="text-danger">обязательное поле</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <span asp-validation-for="IconType2" class="text-danger"></span>

                                            <hr class="liniya" />

                                            <label asp-for="IsPartsMoreOne2" class="form-label text-primary fs-5 fw-bold"></label>
                                            <div class="form-check">
                                                <input id="IsPartsMoreOne2true" class="form-check-input" asp-for="IsPartsMoreOne2" type="radio" value="true" checked>
                                                <label class="form-check-label" for="IsPartsMoreOne2true">
                                                    Многосерийный
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input id="IsPartsMoreOne2false" class="form-check-input" asp-for="IsPartsMoreOne2" type="radio" value="false">
                                                <label class="form-check-label" for="IsPartsMoreOne2false">
                                                    Одна серия
                                                </label>
                                            </div>
                                            <div id="IsPartsMoreOne2InputHelpBlock" class="form-text">
                                                <span>выбрать ссылку на страницу фильма</span>
                                            </div>
                                            <span asp-validation-for="IsPartsMoreOne2" class="text-danger"></span>

                                            <hr class="liniya" />

                                            <label asp-for="AllMoviesFromDB2" class="form-label text-primary fs-5 fw-bold"></label>
                                            <div class="form-check">
                                                <input id="AllMoviesFromDB2true" class="form-check-input" asp-for="AllMoviesFromDB2" type="radio" value="true" checked>
                                                <label class="form-check-label" for="AllMoviesFromDB2true">
                                                    Все фильмы
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input id="AllMoviesFromDB2false" class="form-check-input" asp-for="AllMoviesFromDB2" type="radio" value="false">
                                                <label class="form-check-label" for="AllMoviesFromDB2false">
                                                    Фильмы из списка MainList
                                                </label>
                                            </div>
                                            <div id="AllMoviesFromDB2InputHelpBlock" class="form-text">
                                                <span>все найденные фильмы или фильмы с параметром InMainList (true)</span>
                                            </div>
                                            <span asp-validation-for="AllMoviesFromDB2" class="text-danger"></span>

                                        </div>

                                    </div>

                                </div>

                                @* Блок ссылок под видео 3 *@
                                <div class="accordion-item">

                                    <h2 class="accordion-header" id="headingAddLinks3">

                                        <button class="accordion-button collapsed py-0" type="button" data-bs-toggle="collapse" data-bs-target="#AddLinks3" aria-expanded="true" aria-controls="AddLinks3">
                                            <span class="form-label text-success fs-5">Ссылки 3 :</span>
                                        </button>

                                    </h2>

                                    <div id="AddLinks3" class="accordion-collapse collapse" aria-labelledby="headingAddLinks" data-bs-parent="#accordionLinks">

                                        <div class="accordion-body">

                                            <label asp-for="HeadTitleForVideoLinks3" class="col-form-label text-primary fs-5 fw-bold me-2"></label>
                                            <br />
                                            <input id="HeadTitleForVideoLinks3Input" asp-for="HeadTitleForVideoLinks3" class="align-text-bottom col-11" aria-describedby="HeadTitleForVideoLinks3InputHelpBlock" />
                                            <div id="HeadTitleForVideoLinks3InputInputHelpBlock" class="form-text">
                                                <span>заголовок (3) связанных видео</span>
                                            </div>
                                            <span asp-validation-for="HeadTitleForVideoLinks3" class="text-danger"></span>

                                            <hr class="liniya" />

                                            <label asp-for="SearchFilter3" class="form-label text-primary fs-5 fw-bold"></label>
                                            <textarea id="SearchFilter3Input" rows="3" asp-for="SearchFilter3" class="form-control" aria-describedby="SearchFilter3InputHelpBlock"></textarea>
                                            <div id="SearchFilter3InputHelpBlock" class="form-text">
                                                <span>фильтры поиска (3) связанных видео</span>
                                            </div>
                                            <span asp-validation-for="SearchFilter2" class="text-danger"></span>

                                            <hr class="liniya" />

                                            @* Тип картинки связанных видео 3 *@
                                            <div class="row g-2 justify-content-center">
                                                <div class="col-auto">
                                                    <label asp-for="@Model.ImageTypeForRef3" class="form-label text-primary fs-5 fw-bold"></label>
                                                </div>
                                                <div class="col-auto">
                                                    <select id="ImageTypeForRef3Input" asp-for="@Model.ImageTypeForRef3" class="form-select" aria-describedby="ImageTypeForRef3InputHelpBlock">
                                                        <option value="картинка">картинка</option>
                                                        <option value="постер" selected>постер</option>
                                                        <option value="страница">страница</option>
                                                    </select>
                                                </div>

                                                <div id="ImageTypeForRef3InputHelpBlock" class="col-12 text-center">
                                                    <span class="text-success">выбрать тип картинки для ссылок (3)</span>
                                                </div>
                                                <span asp-validation-for="@Model.ImageTypeForRef3" class="text-danger"></span>
                                            </div>

                                            <hr class="liniya" />

                                            <div class="row g-2 justify-content-center">
                                                <div class="col-auto">
                                                    <label asp-for="IconType3" class="col-form-label text-primary fs-5 fw-bold"></label>
                                                </div>
                                                <div class="col-auto">
                                                    <select id="IconType3Input" asp-for="IconType1" class="form-select">
                                                        <option value="hd">hd</option>
                                                        <option value="image">image</option>
                                                        <option value="icon300">icon300</option>
                                                        <option value="icon200">icon200</option>
                                                        <option value="icon100">icon100</option>
                                                        <option value="webhd">webhd</option>
                                                        <option value="webimage">webimage</option>
                                                        <option value="webicon300" selected>webicon300</option>
                                                        <option value="webicon200">webicon200</option>
                                                        <option value="webicon100">webicon100</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 justify-content-center">
                                                    <span id="IconType3InputHelpBlock" class="form-text">
                                                        параметры изображения <span class="text-danger">обязательное поле</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <span asp-validation-for="IconType3" class="text-danger"></span>

                                            <hr class="liniya" />

                                            <label asp-for="IsPartsMoreOne3" class="form-label text-primary fs-5 fw-bold"></label>
                                            <div class="form-check">
                                                <input id="IsPartsMoreOne3true" class="form-check-input" asp-for="IsPartsMoreOne3" type="radio" value="true" checked>
                                                <label class="form-check-label" for="IsPartsMoreOne3true">
                                                    Многосерийный
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input id="IsPartsMoreOne3false" class="form-check-input" asp-for="IsPartsMoreOne3" type="radio" value="false">
                                                <label class="form-check-label" for="IsPartsMoreOne3false">
                                                    Одна серия
                                                </label>
                                            </div>
                                            <div id="IsPartsMoreOne3InputHelpBlock" class="form-text">
                                                <span>выбрать ссылку на страницу фильма</span>
                                            </div>
                                            <span asp-validation-for="IsPartsMoreOne3" class="text-danger"></span>

                                            <hr class="liniya" />

                                            <label asp-for="AllMoviesFromDB3" class="form-label text-primary fs-5 fw-bold"></label>
                                            <div class="form-check">
                                                <input id="AllMoviesFromDB3true" class="form-check-input" asp-for="AllMoviesFromDB3" type="radio" value="true" checked>
                                                <label class="form-check-label" for="AllMoviesFromDB3true">
                                                    Все фильмы
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input id="AllMoviesFromDB3false" class="form-check-input" asp-for="AllMoviesFromDB3" type="radio" value="false">
                                                <label class="form-check-label" for="AllMoviesFromDB3false">
                                                    Фильмы из списка MainList
                                                </label>
                                            </div>
                                            <div id="AllMoviesFromDB3InputHelpBlock" class="form-text">
                                                <span>все найденные фильмы или фильмы с параметром InMainList (true)</span>
                                            </div>
                                            <span asp-validation-for="AllMoviesFromDB3" class="text-danger"></span>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    @* сохранить-отменить данные *@
                    <div class="card-footer p-2">

                        <button type="submit" class="btn btn-outline-success m-2 text-center shadw" title="сохранить">Сохранить</button>
                        <a asp-area="Admin" asp-controller="MovieInfo" asp-action="Index" class="btn btn-outline-danger m-2 shadw" title="отменить">Отменить</a>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        ClassicEditor.create(document.querySelector('#MovieDescriptionHtmlInput'));
    });
</script>