@model ImageListViewModel

<div class="row">

    @if (!String.IsNullOrEmpty(Model.ImageSearchString))
    {
        <p class="fs-5 text-primary mb-0">Поиск по строке: <span class="text-black text_shadow">@Model.ImageSearchString</span></p>
    }

</div>

@if (Model.AllImages.Count() == 0)
{
    <div class="row">

        <div class="col text-center p-2">

            <p class="fs-5 text_shadow mb-0">В базе данных нет картинок</p>

        </div>

    </div>
}
else
{
    <div class="row">

        <div class="col-12 text-center mb-0">

            <p class="fs-5 text-primary mb-0">Количество изображений:&nbsp;<span class="text-black text_shadow">@Model.PagingInfo.TotalItems</span></p>

        </div>

    </div>
}

<hr class="liniya" />

<div class="row row-cols-2 row-cols-md-3 justify-content-center px-2">

    <div class="col-6 col-md-2">
        <a class="btn btn-outline-danger shadw"
           asp-area="Admin"
           asp-controller="ImageInfo"
           asp-action="AddImage"
           title="добавить картинку">
            Добавить
        </a>
    </div>

    <div class="col-6 col-md-2">
        <a class="btn btn-outline-primary mx-4 shadw"
           asp-area="Admin"
           asp-controller="ImageInfo"
           asp-action="Index"
           asp-route-iconList="false"
           asp-route-pageNumber=@Model.PagingInfo.CurrentPage
           asp-route-imageSearchString=@Model.ImageSearchString
           title="список картинок">
            Список
        </a>
    </div>

    <div class="col-12 col-md-8 mt-4 mt-md-0 justify-content-center">

        <form method="get" asp-area="Admin" asp-controller="ImageInfo" asp-action="Index">

            <input asp-for="IconList" type="hidden" value="true" />
            <input type="text" class="me-2" asp-for="ImageSearchString" />
            <input type="submit" value="Поиск" class="btn btn-outline-danger py-1 mb-1 shadw" title="поиск картинок" />

        </form>

    </div>

</div>

<hr class="liniya" />

@if (Model.PagingInfo.TotalPages > 1)
{
    <div class="row p-2 m-2">

        <div class="col-11 btn-group flex-wrap btn-group-sm m-2 p-1 mx-auto ten"
             page-model="@Model.PagingInfo"
             image-search="@Model"
             page-action="Index"
             page-classes-enabled="true"
             page-class="btn"
             page-class-normal="btn-outline-dark"
             page-class-selected="btn-danger"
             data-toggle="buttons"
             role="group"
             aria-label="картинки сайта">
        </div>

    </div>
}

<div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-7 row-cols-xxl-8 g-2 justify-content-center">

    @foreach (var imageItem in Model.AllImages)
    {
        <div class="col">

            <div class="card h-100 me-1 mb-1 p-1 shadw borderforitem">

                <a asp-area="Admin" asp-controller="ImageInfo" asp-action="DetailsImage" asp-route-imageid="@imageItem.ImageFileModelId" title="параметры изображения">

                    <vc:view-image image-id="@imageItem.ImageFileModelId" css-class="card-img-top shadw" icon-type="icon300" />

                </a>

            </div>

        </div>
    }

</div>

@if (Model.PagingInfo.TotalPages > 1)
{
    <div class="row p-2 m-2">

        <div class="col-11 btn-group flex-wrap btn-group-sm m-2 p-1 mx-auto ten"
             page-model="@Model.PagingInfo"
             image-search="@Model"
             page-action="Index"
             page-classes-enabled="true"
             page-class="btn"
             page-class-normal="btn-outline-dark"
             page-class-selected="btn-danger"
             data-toggle="buttons"
             role="group"
             aria-label="картинки сайта">
        </div>

    </div>
}