@model ItemsListViewModel

@* Значение строки поиска *@
<div>

	@if (!String.IsNullOrEmpty(Model.SearchString))
	{
		<div class="row mb-0">
			<p class="col-12 fs-5 text-primary">
				Поиск по строке: <span class="text-black text_shadow">@Model.SearchString</span>
			</p>
		</div>
	}

</div>

@* Количество картинок *@
<div>

	@if (Model.TotalItems == 0)
	{
		<div class="row">

			<div class="col text-center p-2">

				<p class="fs-5 text_shadow mb-0">
					В базе данных нет картинок
				</p>

			</div>

		</div>
	}
	else
	{
		<div class="row">

			<div class="col-12 text-center mb-0">

				<p class="fs-5 text-primary mb-0">
					Количество изображений:&nbsp;
					<span class="text-black text_shadow">
						@Model.TotalItems
					</span>
				</p>

			</div>

		</div>
	}

	<hr class="liniya" />

</div>

@* Добавить картинку - Иконки - Поиск картинок *@
<div class="row">

	@* Добавить картинку - Иконки картинок *@
	<div class="col-12 col-md-6 col-lg-4">

		@* Добавить картинку *@
		<a asp-area="Admin"
		   asp-controller="ImageInfo"
		   asp-action="AddImage"
		   class="btn btn-outline-danger shadw py-1 mt-2 me-3 minwidth100px"
		   title="добавить картинку">

			Добавить

		</a>

		@* Иконки картинок *@
		<a asp-area="Admin"
		   asp-controller="ImageInfo"
		   asp-action="Index"
		   asp-route-searchString="@Model.SearchString"
		   asp-route-pageCard="true"
		   class="btn btn-outline-primary shadw py-1 mt-2 minwidth100px"
		   title="иконки картинок">

			Иконки

		</a>

	</div>

	<hr class="col-12 w-75 mt-3 d-md-none mx-auto" />

	@* Поиск картинок *@
	<div class="col-12 col-md-6 col-lg-8 mb-2">

		<form method="get"
			  asp-area="Admin"
			  asp-controller="ImageInfo"
			  asp-action="Index"
			  asp-route-pageCard="false"
			  class="text-center text-md-end mt-md-2">

			<input asp-for="SearchString"
				   class="d-inline-block align-middle mt-1 w-50"
				   type="text" />

			<input class="btn btn-outline-success shadw py-1 me-md-3"
				   type="submit"
				   value="Поиск"
				   title="поиск картинки" />

		</form>

	</div>

	<hr class="liniya" />

</div>

@* Таблица данных картинок *@
<div class="row">

	<div class="col m-1 shadw">

		<div class="table-responsive">

			<table class="table table-sm table-hover caption-top align-middle">

				<thead>

					<tr class="table-secondary">
						<th scope="col" class="text-start text-primary">FileName</th>
						<th scope="col" class="text-start text-primary">ImageCaption</th>
						<th scope="col" class="d-none d-xl-table-cell text-start text-success">WebHD</th>
						<th scope="col" class="d-none d-xl-table-cell text-start text-success">WebImage</th>
						<th scope="col" class="d-none d-xl-table-cell text-start text-success">WebIcon300</th>
						<th scope="col" class="d-none d-xl-table-cell text-start text-success">WebIcon200</th>
						<th scope="col" class="d-none d-xl-table-cell text-start text-success">WebIcon100</th>
						<th scope="col" class="d-none d-lg-table-cell text-start">Width</th>
						<th scope="col" class="d-none d-lg-table-cell text-start">Height</th>
						<th scope="col"></th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>

				</thead>

				<tbody>

					@foreach (var image in Model.AllImageFiles ?? Enumerable.Empty<ImageFileModel>())
					{
						<tr class="text-start">
							@if (!string.IsNullOrEmpty(@image.WebImageFileName))
							{
								<td scope="col" class="text-sm-start text_shadow">@image.WebImageFileName</td>
							}
							else
							{
								<td scope="col" class="text-sm-start text_shadow">@image.ImageFileName</td>
							}

							<td scope="col" class="text-start text_shadow">@image.ImageCaption</td>

							@if (!string.IsNullOrEmpty(@image.WebImageHDFileName))
							{
								<td scope="col" class="d-none d-xl-table-cell text-start text-primary">Да</td>
							}
							else
							{
								<td scope="col" class="d-none d-xl-table-cell text-start text-danger">Нет</td>
							}

							@if (!string.IsNullOrEmpty(@image.WebImageFileName))
							{
								<td scope="col" class="d-none d-xl-table-cell text-start text-primary">Да</td>
							}
							else
							{
								<td scope="col" class="d-none d-xl-table-cell text-start text-danger">Нет</td>
							}

							@if (!string.IsNullOrEmpty(@image.WebIconFileName))
							{
								<td scope="col" class="d-none d-xl-table-cell text-start text-primary">Да</td>
							}
							else
							{
								<td scope="col" class="d-none d-xl-table-cell text-start text-danger">Нет</td>
							}

							@if (!string.IsNullOrEmpty(@image.WebIcon200FileName))
							{
								<td scope="col" class="d-none d-xl-table-cell text-start text-primary">Да</td>
							}
							else
							{
								<td scope="col" class="d-none d-xl-table-cell text-start text-danger">Нет</td>
							}

							@if (!string.IsNullOrEmpty(@image.WebIcon100FileName))
							{
								<td scope="col" class="d-none d-xl-table-cell text-start text-primary">Да</td>
							}
							else
							{
								<td scope="col" class="d-none d-xl-table-cell text-start text-danger">Нет</td>
							}

							@if (image.WebImageWidth > 0)
							{
								<td scope="col" class="d-none d-lg-table-cell text-start">@image.WebImageWidth</td>
							}
							else
							{
								<td scope="col" class="d-none d-lg-table-cell text-start">@image.ImageWidth</td>
							}

							@if (image.WebImageHeight > 0)
							{
								<td scope="col" class="d-none d-lg-table-cell text-start">@image.WebImageHeight</td>
							}
							else
							{
								<td scope="col" class="d-none d-lg-table-cell text-start">@image.ImageHeight</td>
							}

							<td scope="col" title="Информация">

								<a class="btn btn-outline-primary py-1 px-1 shadw"
								   asp-area="Admin"
								   asp-controller="ImageInfo"
								   asp-action="DetailsImage"
								   asp-route-imageId="@image.ImageFileModelId"
								   title="Информация о картинке">
									Info
								</a>

							</td>

							<td scope="col" title="Редактировать">

								<a class="btn btn-outline-success py-1 px-1 shadw"
								   asp-area="Admin"
								   asp-controller="ImageInfo"
								   asp-action="EditImage"
								   asp-route-imageId="@image.ImageFileModelId"
								   title="Изменить картинку">

									Edit

								</a>

							</td>

							<td scope="col" title="Удалить">
								<a class="btn btn-outline-danger py-1 px-1 shadw"
								   asp-area="Admin"
								   asp-controller="ImageInfo"
								   asp-action="DeleteImage"
								   asp-route-imageId="@image.ImageFileModelId"
								   title="Удалить картинку">

									Del

								</a>

							</td>

						</tr>
					}

				</tbody>

			</table>

		</div>

	</div>

</div>

@* Разбивка на страницы *@
@if (Model.TotalItems > DataConfig.NumberOfItemsPerPage)
{
	<div pagination="@Model"></div>
}