@model ShevkunenkoSite.Models.DataModels.AudioInfoModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AudioInfoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorOfText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorOfText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaptionOfTextInAudioFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaptionOfTextInAudioFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AudioFileDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AudioFileDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AudioFileDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AudioFileDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AudioFileBitRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AudioFileBitRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AudioFileFrequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AudioFileFrequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AudioFileSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AudioFileSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AudioFileMimeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AudioFileMimeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AudioFileType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AudioFileType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AudioFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AudioFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SortOfAudioFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SortOfAudioFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternetRefToAudioFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternetRefToAudioFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AudioFileUploadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AudioFileUploadDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SequenceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SequenceNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AudioInfoModelId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
