@model AudioInfoModel

@{
	string cssForLabel = "col-form-label text-primary fs-5 me-2";
}

<h1 class="fs-3 text_shadow">Информация об аудиофайле</h1>

<hr class="w-25 mx-auto" />

@* Id аудиофайла *@
<div>

	<p class="fs-5 mb-3">
		<span class="text-primary">AudioInfoModelId :</span>
		<br />
		<span class="text_shadow">
			@Model.AudioInfoModelId
		</span>
		<br />
		<span class="fs-6 form-text text-success">
			идентификатор в базе данных (GUID)
		</span>
	</p>

</div>

<div class="row">

	<div class="col-12 col-lg-8 mx-auto p-2">

		@* Название *@
		<div class="border border-1 mb-2">

			<label asp-for="CaptionOfTextInAudioFile" class="@cssForLabel"></label>

			<p class="fs-4 text-center text_shadow">
				@Model.CaptionOfTextInAudioFile
			</p>

			<div class="form-text">

				<span class="d-none d-sm-inline-block fs-6 text-success">тег «CaptionOfTextInAudioFile» - </span>
				<span class="fs-6 text-success">название текста аудиофайла</span>

			</div>

		</div>

		@* Файл - Папка файла*@
		<div class=" mb-3">

			<label asp-for="FolderForAudioFile" class="@cssForLabel"></label>

			<p class="fs-5 text-center text_shadow">
				@Model.FolderForAudioFile
			</p>

			<div class="form-text">

				<span class="fs-6 text-success">папка файла на сервере</span>

			</div>

			<hr class="w-50 mx-auto" />

			<label asp-for="AudioFileName" class="@cssForLabel"></label>

			<p class="fs-5 text-center text_shadow">
				@Model.AudioFileName
			</p>

			<div class="form-text">

				<span class="fs-6 text-success">имя файла</span>

			</div>

		</div>

		@* Описание *@
		<div class=" mb-3">

			<label asp-for="AudioFileDescription" class="@cssForLabel"></label>

			<textarea asp-for="AudioFileDescription"
					  class="form-control fordetails maxwidth700px border border-1 border-primary mt-0 mx-auto"
					  readonly
					  rows="5">
            </textarea>

			<div class="form-text">

				<span class="d-none d-sm-inline-block fs-6 text-success">тег «AudioFileDescription» - </span>
				<span class="fs-6 text-success">описание аудиофайла</span>

			</div>

		</div>

		@* Автор текста *@
		<div class=" mb-3">

			@if (string.IsNullOrEmpty(Model.AuthorOfText))
			{
				<p class="text_shadow fs-4 mb-3">автор текста не задан</p>
			}
			else
			{
				<label asp-for="AuthorOfText" class="@cssForLabel"></label>

				<p class="fs-4 text-center text_shadow">
					@Model.AuthorOfText
				</p>

				<div class="form-text">

					<span class="d-none d-sm-inline-block fs-6 text-success">тег «AuthorOfText» - </span>
					<span class="fs-6 text-success">автор текста</span>

				</div>
			}

		</div>

		@* Аккордион *@
		<div id="accordionForAudioFile" class="accordion">

			@* Параметры файла *@
			<div class="accordion-item my-3 shadw">

				@* Заголовок группы «параметры файла» *@
				<h2 id="headingFileProperties" class="accordion-header shadw">

					<button class="accordion-button collapsed py-0 stranicy"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#FileProperties"
							aria-expanded="true"
							aria-controls="FileProperties">

						<span class="form-label fs-5">Параметры файла :</span>

					</button>

				</h2>

				<div id="FileProperties"
					 class="accordion-collapse collapse pb-2 px-2"
					 aria-labelledby="headingFileProperties"
					 data-bs-parent="#accordionForAudioFile">

					@* Дата загрузки на сайт *@
					<div>

						<label asp-for="AudioFileUploadDate" class="@cssForLabel"></label>
						<br class="d-sm-none" />
						<span class="fs-5 text-center text_shadow">
							@Model.AudioFileUploadDate.ToString("dd-MM-yyyy")
						</span>

						<div class="form-text">

							<span class="d-none d-sm-inline-block fs-6 text-success">тег «AudioFileUploadDate» - </span>
							<span class="fs-6 text-success">дата загрузки на сайт</span>

						</div>

						<hr class="w-50 mx-auto" />

					</div>

					@* Продолжительность *@
					<div>

						<label asp-for="AudioFileDuration" class="@cssForLabel"></label>
						<br class="d-sm-none" />
						<span class="fs-5 text-center text_shadow">
							@Model.AudioFileDuration.ToString(@"hh\:mm\:ss")
						</span>

						<div class="form-text">

							<span class="d-none d-sm-inline-block fs-6 text-success">тег «AudioFileDuration» - </span>
							<span class="fs-6 text-success">продолжительность файла</span>

						</div>

						<hr class="w-50 mx-auto" />

					</div>

					@* Размер *@
					<div>

						<label asp-for="AudioFileSize" class="@cssForLabel"></label>
						<br class="d-sm-none" />
						<span class="fs-5 text-center text_shadow">
							@Model.AudioFileSize байт
						</span>

						<div class="form-text">

							<span class="d-none d-sm-inline-block fs-6 text-success">тег «AudioFileSize» - </span>
							<span class="fs-6 text-success">размер файла</span>

						</div>

						<hr class="w-50 mx-auto" />

					</div>

					@* Битрейт *@
					<div>

						<label asp-for="AudioFileBitRate" class="@cssForLabel"></label>
						<br class="d-sm-none" />
						<span class="fs-5 text-center text_shadow">
							@Model.AudioFileBitRate кбит/с
						</span>

						<div class="form-text">

							<span class="d-none d-sm-inline-block fs-6 text-success">тег «AudioFileBitRate» - </span>
							<span class="fs-6 text-success">битрейт файла</span>

						</div>

						<hr class="w-50 mx-auto" />

					</div>

					@* Частота дискредитации *@
					<div>

						<label asp-for="AudioFileFrequency" class="@cssForLabel"></label>
						<br class="d-sm-none" />
						<span class="fs-5 text-center text_shadow">
							@Model.AudioFileFrequency Гц
						</span>

						<div class="form-text">

							<span class="d-none d-sm-inline-block fs-6 text-success">тег «AudioFileFrequency» - </span>
							<span class="fs-6 text-success">частота дискредитации</span>

						</div>

						<hr class="w-50 mx-auto" />

					</div>

					@* Тип файла *@
					<div>

						<label asp-for="AudioFileType" class="@cssForLabel"></label>
						<br class="d-sm-none" />
						<span class="fs-5 text-center text_shadow">
							@Model.AudioFileType
						</span>

						<div class="form-text">

							<span class="d-none d-sm-inline-block fs-6 text-success">тег «AudioFileType» - </span>
							<span class="fs-6 text-success">тип файла</span>

						</div>

						<hr class="w-50 mx-auto" />

					</div>

					@* Тип MIME *@
					<div>

						<label asp-for="AudioFileMimeType" class="@cssForLabel"></label>
						<br class="d-sm-none" />
						<span class="fs-5 text-center text_shadow">
							@Model.AudioFileMimeType
						</span>

						<div class="form-text">

							<span class="d-none d-sm-inline-block fs-6 text-success">тег «AudioFileMimeType» - </span>
							<span class="fs-6 text-success">тип MIME</span>

						</div>

					</div>

				</div>

			</div>

			@* Ссылки на аудиофайл в интернете*@
			<div class="accordion-item mb-3 shadw">

				@* Заголовок группы «текст аудиофайла» *@
				<h2 id="headingRefToAudioFile" class="accordion-header shadw">

					<button class="accordion-button collapsed py-0 stranicy"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#RefToAudioFile"
							aria-expanded="true"
							aria-controls="RefToAudioFile">

						<span class="form-label fs-5">Ссылки :</span>

					</button>

				</h2>

				<div id="RefToAudioFile"
					 class="accordion-collapse collapse pb-2 px-2"
					 aria-labelledby="headingRefToAudioFile"
					 data-bs-parent="#accordionForAudioFile">

					@* Ссылка на sergeyshef.ru *@
					<div>

						<label asp-for="InternetRefToAudioFile" class="@cssForLabel"></label>

						@if (Model.InternetRefToAudioFile != null)
						{
							<p class="fs-5 text-center text_shadow">@Model.InternetRefToAudioFile</p>

							<a class="btn btn-outline-primary py-1 m-2 shadw"
							   href="@Model.InternetRefToAudioFile"
							   onclick="this.target='_blank'"
							   title="перейти по ссылки">

								Перейти

							</a>

							<div class="form-text">

								<span class="d-none d-sm-inline-block fs-6 text-success">тег «InternetRefToAudioFile» - </span>
								<span class="fs-6 text-success">ссылка на sergeyshef.ru</span>

							</div>
						}
						else
						{
							<p class="text-center fluid-font-size text-bg-danger">
								ссылка не задана
							</p>
						}

						<hr class="w-50 mx-auto" />

					</div>

					@* Ссылка на podster.fm *@
					<div>

						<label asp-for="PodsterFmRefToAudioFile" class="@cssForLabel"></label>

						@if (Model.PodsterFmRefToAudioFile != null)
						{
							<p class="fs-5 text-center text_shadow">@Model.PodsterFmRefToAudioFile</p>

							<a class="btn btn-outline-primary py-1 m-2 shadw"
							   href="@Model.PodsterFmRefToAudioFile"
							   onclick="this.target='_blank'"
							   title="перейти по ссылки">

								Перейти

							</a>

							<div class="form-text">

								<span class="d-none d-sm-inline-block fs-6 text-success">тег «PodsterFmRefToAudioFile» - </span>
								<span class="fs-6 text-success">ссылка на podster.fm</span>

							</div>
						}
						else
						{
							<p class="text-center fluid-font-size text-bg-danger">
								ссылка не задана
							</p>
						}

						<hr class="w-50 mx-auto" />

					</div>

					@* Ссылка на disk.yandex.ru *@
					<div>

						<label asp-for="YandexDiskRefToAudioFile" class="@cssForLabel"></label>

						@if (Model.YandexDiskRefToAudioFile != null)
						{
							<p class="fs-5 text-center text_shadow">@Model.YandexDiskRefToAudioFile</p>

							<a class="btn btn-outline-primary py-1 m-2 shadw"
							   href="@Model.YandexDiskRefToAudioFile"
							   onclick="this.target='_blank'"
							   title="перейти по ссылки">

								Перейти

							</a>

							<div class="form-text">

								<span class="d-none d-sm-inline-block fs-6 text-success">тег «YandexDiskRefToAudioFile» - </span>
								<span class="fs-6 text-success">ссылка на disk.yandex.ru</span>

							</div>
						}
						else
						{
							<p class="text-center fluid-font-size text-bg-danger">
								ссылка не задана
							</p>
						}

					</div>

				</div>

			</div>

			@* Плейер для аудиофайла*@
			<div class="accordion-item mb-3 shadw">

				@* Заголовок группы «плейер для аудиофайла» *@
				<h2 id="headingPlayerForAudioFile" class="accordion-header shadw">

					<button class="accordion-button collapsed py-0 stranicy"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#PlayerForAudioFile"
							aria-expanded="true"
							aria-controls="PlayerForAudioFile">

						<span class="form-label fs-5">Плейер :</span>

					</button>

				</h2>

				<div id="PlayerForAudioFile"
					 class="accordion-collapse collapse pb-2 px-2"
					 aria-labelledby="headingPlayerForAudioFile"
					 data-bs-parent="#accordionForAudioFile">

					@if (string.IsNullOrEmpty(Model.PlayerPodsterFm))
					{
						<p class="text-center fluid-font-size text-bg-danger">
							плейер для аудиофайла не задан
						</p>
					}
					else
					{
						<div class="d-none d-sm-flex my-2">

							@Html.Raw(Model.PlayerPodsterFm)

						</div>

						<span class="d-inline-block d-sm-none fs-6 text-success mt-2">для плейера</span>
						<span class="d-inline-block d-sm-none fs-6 text-success">мин. разрешение 576px</span>
					}

				</div>

			</div>

			@* Текст аудиофайла *@
			<div class="accordion-item mb-3 shadw">

				@* Заголовок группы «текст аудиофайла» *@
				<h2 id="headingTextForAudioFile" class="accordion-header shadw">

					<button class="accordion-button collapsed py-0 stranicy"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#TextForAudioFile"
							aria-expanded="true"
							aria-controls="TextForAudioFile">

						<span class="form-label fs-5">Текст аудиофайла :</span>

					</button>

				</h2>

				<div id="TextForAudioFile"
					 class="accordion-collapse collapse pb-2 px-2"
					 aria-labelledby="headingTextForAudioFile"
					 data-bs-parent="#accordionForAudioFile">

					@if (Model.TranscriptId != null)
					{
						@* Идентификатор в базе данных *@
						<h2 class="lh-1 mt-2">
							<span class="fs-5 text-primary">
								TextInfoModelId :<br />
							</span>
							<span class="fs-5 text_shadow">
								@Model.TranscriptId<br />
							</span>
							<span class="fs-6 form-text text-success px-2">
								идентификатор (GUID)
							</span>
						</h2>

						@* Информация о связанной книге статье *@
						<div>

							@if (Model.AudioBookModel != null && Model.AudioBookModel.BookForAudioBook != null)
							{
								<hr class="w-50 mx-auto" />

								<p class="fs-5 text-center">
									<span class="text-primary">Страница </span>
									<span class="text_shadow">«@Model.Transcript?.SequenceNumber»</span>
									<br class="d-xl-none" />
									<span class="text-primary"> @(Model.Transcript?.BooksAndArticlesModel?.TypeOfText == "book" ? "книги" : "статьи")</span>
									<span class="text_shadow">«@Model.Transcript?.BooksAndArticlesModel?.CaptionOfText»</span>
								</p>

								<hr class="w-50 mx-auto" />
							}

						</div>

						@* Информация о файлах TXT *@
						<div class="col-12 col-xxl-10 mx-auto">

							@* Описание текста *@
							<div>

								<label asp-for="Transcript.TextDescription" class="@cssForLabel"></label>

								<textarea id="TextDescriptionInput" class="form-control fordetails fs-5 text_shadow"
										  asp-for="Transcript.TextDescription"
										  readonly
										  rows="4"
										  aria-describedby="TextDescriptionInputHelpBlock">
												</textarea>

								<div id="TextDescriptionInputHelpBlock" class="form-text">
									<span class="d-none d-sm-inline-block fs-6 text-success">тег «TextDescription» - </span>
									<span class="fs-6 text-success">описание текста</span>
								</div>

								<hr class="w-50 mx-auto" />

							</div>

							@* Каталог текста *@
							<div>

								<label asp-for="Transcript.FolderForText" class="@cssForLabel"></label>
								<br class="d-md-none" />
								<span class="fs-5 text_shadow">
									@DataConfig.TextsFolderPath@Model.Transcript?.FolderForText
								</span>

								<hr class="w-50 mx-auto" />

							</div>

							@* Файл TXT *@
							<div>

								<label asp-for="Transcript.TxtFileName" class="col-form-label text-primary fs-5 me-2"></label>
								<br class="d-md-none" />
								<span class="fs-5 text_shadow">@Model.Transcript?.TxtFileName</span>
								<p class="fs-5 text-primary mb-2">(@Model.Transcript?.TxtFileSize байт)</p>

								<textarea id="ClearTextInput" class="form-control fordetails fs-6 mb-2"
										  asp-for="ClearText"
										  readonly
										  rows="10"
										  aria-describedby="ClearTextInputHelpBlock">
																																																										 </textarea>

								<div id="ClearTextInputHelpBlock" class="form-text">
									<span class="d-none d-sm-inline-block fs-6 text-success">тег «ClearText» - </span>
									<span class="fs-6 text-success">текст аудиофайла</span>
								</div>

							</div>

						</div>
					}
					else
					{
						<p class="text_shadow fs-4 mt-3">текст для аудиофайла не задан</p>
					}

				</div>

			</div>

			@* Аудиокнига - Номер файла по порядку *@
			<div class="accordion-item my-3 shadw">

				@* Заголовок группы «аудиокнига» *@
				<h2 id="headingAudioBook" class="accordion-header shadw">

					<button class="accordion-button collapsed py-0 stranicy"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#AudioBook"
							aria-expanded="true"
							aria-controls="AudioBook">

						<span class="form-label fs-5">Аудиокнига :</span>

					</button>

				</h2>

				<div id="AudioBook"
					 class="accordion-collapse collapse pb-2 px-2"
					 aria-labelledby="headingAudioBook"
					 data-bs-parent="#accordionForAudioFile">

					<label asp-for="SequenceNumber" class="@cssForLabel"></label>

					<span class="fs-4 text-center text_shadow">@Model.SequenceNumber</span>

					<div class="form-text">

						<span class="d-none d-sm-inline-block fs-6 text-success">тег «SequenceNumber» - </span>
						<span class="fs-6 text-success">номер по порядку</span>
						<br />
						<span class="fs-6 text-success">(индекс сортировки)</span>

					</div>

					@if (Model.AudioBookModel != null)
					{
						@* Название *@
						<div class="border border-1 my-2">

							<label asp-for="@Model.AudioBookModel.CaptionOfAudioBook" class="@cssForLabel"></label>

							<p class="fs-4 text-center text_shadow">
								@Model.AudioBookModel.CaptionOfAudioBook
							</p>

							<div class="form-text">

								<span class="d-none d-sm-inline-block fs-6 text-success">тег «CaptionOfAudioBook» - </span>
								<span class="fs-6 text-success">название аудиокниги</span>

							</div>

						</div>

						@* Описание *@
						<div class=" mb-3">

							<label asp-for="@Model.AudioBookModel.AudioBookDescription" class="@cssForLabel"></label>

							<textarea asp-for="@Model.AudioBookModel.AudioBookDescription"
									  class="form-control fordetails maxwidth700px border border-1 border-primary mt-0 mx-auto"
									  readonly
									  rows="5">
										</textarea>

							<div class="form-text">

								<span class="d-none d-sm-inline-block fs-6 text-success">тег «AudioBookDescription» - </span>
								<span class="fs-6 text-success">описание аудиокниги</span>

							</div>

						</div>

						@* Исполнитель *@
						<div class="border border-1 mb-2">

							<label asp-for="@Model.AudioBookModel.ActorOfAudioBook" class="@cssForLabel"></label>

							<p class="fs-4 text-center text_shadow">@Model.AudioBookModel.ActorOfAudioBook</p>

							<div class="form-text">

								<span class="d-none d-sm-inline-block fs-6 text-success">тег «ActorOfAudioBook» - </span>
								<span class="fs-6 text-success">исполнитель аудиокниги</span>

							</div>

						</div>

						@* Количество файлов *@
						<div>

							<label asp-for="@Model.AudioBookModel.NumberOfFiles" class="@cssForLabel"></label>

							<span class="fs-4 text-center text_shadow">@Model.AudioBookModel.NumberOfFiles</span>

							<div class="form-text">
								<span class="d-none d-sm-inline-block fs-6 text-success">тег «NumberOfFiles» - </span>
								<span class="fs-6 text-success">количество файлов</span>
							</div>

						</div>

						@* Текст аудиокниги на сайте *@
						<div>

							<hr class="liniya" />

							<p class="col-form-label text-primary fs-5">Аудиокнига по книге :</p>

							@if (Model.AudioBookModel.BookForAudioBook != null)
							{
								<a asp-area="Admin"
								   asp-controller="BooksAndArticles"
								   asp-action="DetailsBook"
								   asp-route-bookId="@Model.AudioBookModel.BookForAudioBook.BooksAndArticlesModelId"
								   class="d-block mx-auto mb-3 maxwidth300px shadw imageref"
								   title="информация о книге"
								   onclick="this.target='_blank'">

									<vc:view-image image-id="@Model.AudioBookModel.BookForAudioBook.ImageFileModelId"
												   css-class="w-100"
												   icon-type="webicon300" />

								</a>

								<div class="form-text">

									<span class="fs-6 text-success">тег «BookForAudioBook»</span>

								</div>

								<p class="col-form-label text-primary fs-5">GUID книги :</p>
								<p class="text_shadow fs-6 mb-3">@Model.AudioBookModel.BookForAudioBook.BooksAndArticlesModelId</p>
							}
							else
							{
								<p class="text_shadow fs-4 mb-3">книга не выбрана</p>
							}

						</div>
					}
					else
					{
						<p class="text_shadow fs-4 mt-2">аудиокнига не выбрана</p>
					}

				</div>

			</div>

		</div>

		@* Кнопки «список», «изменить», «удалить» *@
		<div class="card-footer mb-2">

			@* Список аудиофайлов сайта *@
			<a class="btn btn-outline-primary minwidth100px m-2 shadw"
			   asp-area="Admin"
			   asp-controller="AudioInfo"
			   asp-action="Index"
			   title="список аудиофайлов">

				Список

			</a>

			@* Изменить сведения об аудиофайле *@
			<a class="btn btn-outline-success minwidth100px m-2 shadw"
			   asp-area="Admin"
			   asp-controller="AudioInfo"
			   asp-action="EditAudioFile"
			   asp-route-audioFileId="@Model.AudioInfoModelId"
			   title="изменить данные">

				Изменить

			</a>

			@* Удалить аудиофайл *@
			<a class="btn btn-outline-danger minwidth100px m-2 shadw"
			   asp-area="Admin"
			   asp-controller="AudioInfo"
			   asp-action="DeleteAudioFile"
			   asp-route-audioFileId="@Model.AudioInfoModelId"
			   title="удалить аудиофайл">

				Удалить

			</a>

		</div>

	</div>

</div>