@model ItemsListViewModel

@* Значение строки поиска *@
<div>
	@if (!String.IsNullOrEmpty(Model.SearchString))
	{
		<div class="row mb-0">

			<p class="col-12 fs-5 text-primary">
				Поиск по строке: <span class="text-black text_shadow">@Model.SearchString</span>
			</p>

		</div>
	}
</div>

@* Сообщение о количестве аудиофайлов *@
<div>

	@if (Model.TotalItems == 0)
	{
		<div class="row">

			<div class="col text-center p-2">

				<p class="fs-5 text_shadow mb-0">
					В базе данных нет аудиофайлов
				</p>

			</div>

		</div>
	}
	else
	{
		<div class="row">

			<div class="col-12 text-center">

				<p class="fs-5 text-primary mb-0">
					Количество аудиофайлов :&nbsp;<span class="text-black text_shadow">@Model.TotalItems</span>
				</p>

			</div>

		</div>
	}

	<hr class="liniya" />

</div>

@* Добавить аудиофайл - Поиск аудиофайла *@
<div class="row">

	<div class="col-12 col-md-3">

		<a class="btn btn-outline-danger shadw py-1 mt-2"
		   asp-area="Admin"
		   asp-controller="AudioInfo"
		   asp-action="AddAudioFile"
		   title="добавить аудиофайл">

			Добавить

		</a>

	</div>

	<hr class="col-12 w-75 mt-3 d-md-none mx-auto" />

	<div class="col-12 col-md-9 mb-2">

		<form method="get"
			  class="text-center text-md-end mt-md-2"
			  asp-area="Admin"
			  asp-controller="AudioInfo"
			  asp-action="Index">

			<input asp-for="SearchString"
				   class="d-inline-block align-middle mt-1 w-50"
				   type="text" />

			<input class="btn btn-outline-success shadw py-1 me-md-3"
				   type="submit"
				   value="Поиск"
				   title="поиск аудиофайла" />

		</form>

	</div>

	<hr class="liniya" />

</div>

@* Таблица данных *@
<div class="row">

	<div class="col m-1 shadw">

		<div class="table-responsive">

			<table class="table table-sm table-hover caption-top align-middle">

				<thead>

					<tr class="d-flex table-secondary text-center">

						<th scope="col" class="col-9 col-sm-4 col-lg-3 text-primary border border-black border-end-2 border-start-0 border-top-0 border-bottom-0">Файл</th>
						<th scope="col" class="d-none d-sm-table-cell col-sm-6 col-lg-4 text-primary border border-black border-end-2 border-start-0 border-top-0 border-bottom-0">Описание</th>
						<th scope="col" class="d-none d-lg-table-cell col-lg-3 text-primary border border-black border-end-2 border-start-0 border-top-0 border-bottom-0">Расположение</th>
						<th scope="col" class="col-3 col-sm-2"></th>

					</tr>

				</thead>

				<tbody>

					@foreach (var audioFIle in Model.AllAudioFiles ?? [])
					{
						<tr class="d-flex text-start">

							<td scope="col" class="col-9 col-sm-4 col-lg-3 align-content-center text_shadow">@audioFIle.AudioFileName</td>

							<td scope="col" class="d-none d-sm-table-cell col-sm-6 col-lg-4 align-content-center text_shadow">@audioFIle.CaptionOfTextInAudioFile</td>

							<td scope="col" class="d-none d-lg-table-cell col-lg-3 align-content-center text_shadow">@audioFIle.FolderForAudioFile</td>

							@* Кнопки Информация - Изменить - Удалить*@
							<td scope="col" class="col-3 col-sm-2 align-content-center text-center">

								<a class="btn btn-outline-primary p-1 m-1 shadw minwidth40px"
								   asp-area="Admin"
								   asp-controller="AudioInfo"
								   asp-action="DetailsAudioFile"
								   asp-route-audioFileId="@audioFIle.AudioInfoModelId"
								   title="информация об аудиофайле">

									Info

								</a>

								<a class="btn btn-outline-success p-1 m-1 shadw minwidth40px"
								   asp-area="Admin"
								   asp-controller="AudioInfo"
								   asp-action="EditAudioFile"
								   asp-route-audioFileId="@audioFIle.AudioInfoModelId"
								   title="изменить аудиофайл">

									Edit

								</a>

								<a class="btn btn-outline-danger p-1 m-1 shadw minwidth40px"
								   asp-area="Admin"
								   asp-controller="AudioBook"
								   asp-action="DeleteAudioFile"
								   asp-route-audioFileId="@audioFIle.AudioBookModelId"
								   title="удалить аудиофайл">

									Del

								</a>

							</td>

						</tr>
					}

				</tbody>

			</table>

		</div>

	</div>

</div>

@* Разбивка на страницы *@
@if (Model.TotalItems > DataConfig.NumberOfItemsPerPage)
{
	<div pagination="@Model"></div>
}