@model AudioBookModel

<h1 class="fs-3 text_shadow">Добавить аудиокнигу</h1>

<hr class="liniya" />

@* Показ всех ошибок ввода данных *@
@if (Context.Request.Method == "POST")
{
    <div asp-validation-summary="All" class="text-danger border border-top-0 border-danger mb-3"></div>
}


<div class="col card p-2">

    <div class="col-12 card-body mx-auto">

        <form method="post" class="col-12 col-xxl-10 mx-auto" enctype="multipart/form-data">

            @* Скрытые поля формы *@
            <div>

                <input asp-for="@Model.AudioBookModelId" type="hidden" value="@Guid.Empty" />

            </div>

            @* Заголовок и описание аудиокниги *@
            <div class="border border-black border-1 p-3 pb-1 mb-2">

                @* Заголовок аудиокниги *@
                <div class="row g-2 justify-content-center bg-secondary">

                    <div class="col-12 col-lg-3">

                        <label asp-for="@Model.CaptionOfAudioBook" class="col-form-label text-white fs-5 py-0"></label>

                    </div>

                    <div class="col text-start pb-1 pe-lg-4">

                        <input asp-for="@Model.CaptionOfAudioBook"
                               id="CaptionOfAudioBookInput"
                               class="form-control"
                               aria-describedby="CaptionOfAudioBookInputHelpBlock" />

                    </div>

                    <div id="CaptionOfAudioBookInputHelpBlock" class="form-text bg-light">

                        <span class="fs-6 text-success">название книги</span>
                        <br class="d-md-none" />
                        <span class="fs-6 text-danger"> - обязательное поле</span>

                    </div>

                    @if (Context.Request.Method == "POST")
                    {
                        <span asp-validation-for="@Model.CaptionOfAudioBook" class="text-danger"></span>
                    }

                </div>

                @* Описание аудиокниги *@
                <div class="row g-2 justify-content-center">

                    <label asp-for="@Model.AudioBookDescription" class="col-form-label text-primary fs-5"></label>

                    <textarea asp-for="@Model.AudioBookDescription"
                              id="AudioBookDescriptionInput"
                              class="form-control fordetails maxwidth700px border border-1 border-primary mt-0"
                              rows="5"
                              aria-describedby="AudioBookDescriptionInputHelpBlock">
                    </textarea>

                    <div id="AudioBookDescriptionInputHelpBlock" class="form-text bg-light">

                        <span class="fs-6 text-success">описание текста</span>
                        <br class="d-md-none" />
                        <span class="fs-6 text-danger"> - обязательное поле</span>

                    </div>

                    <span asp-validation-for="@Model.AudioBookDescription" class="text-danger"></span>

                </div>

            </div>

            @* Исполнитель аудиокниги *@
            <div class="row g-0 justify-content-center bg-secondary py-0 my-2">

                <div class="col-12 col-lg-4">

                    <label asp-for="@Model.ActorOfAudioBook" class="col-form-label text-white fs-5 p-0 pt-lg-2"></label>

                </div>

                <div class="col text-start p-1 pe-lg-4">

                    <input asp-for="@Model.ActorOfAudioBook"
                           id="ActorOfAudioBookInput"
                           class="form-control"
                           aria-describedby="ActorOfAudioBookInputHelpBlock" />

                </div>

                <div id="ActorOfAudioBookInputHelpBlock" class="form-text bg-light">

                    <span class="fs-6 text-success">исполнитель</span>
                    <br class="d-md-none" />
                    <span class="fs-6 text-danger"> - обязательное поле</span>

                </div>

                @if (Context.Request.Method == "POST")
                {
                    <span asp-validation-for="@Model.ActorOfAudioBook" class="text-danger"></span>
                }

            </div>

            @* Количество файлов *@
            <div class="row g-2 justify-content-center mt-3">

                <div class="col-auto">

                    <label asp-for="NumberOfFiles" class="col-form-label text-primary fs-5 py-0"></label>

                </div>

                <div class="col-5 col-sm-3 col-lg-2 text-start">

                    <input asp-for="NumberOfFiles"
                           id="NumberOfAudioFIlesnput"
                           class="form-control text-center"
                           aria-describedby="NumberOfAudioFIlesInputHelpBlock" />

                </div>

                <div id="NumberOfAudioFIlesInputHelpBlock" class="form-text bg-light">

                    <span class="fs-6 text-success">количество файлов</span>
                    <br class="d-md-none" />
                    <span class="fs-6 text-danger"> - обязательное поле</span>

                </div>

                @if (Context.Request.Method == "POST")
                {
                    <span asp-validation-for="NumberOfFiles" class="text-danger"></span>
                }

            </div>

            @* Сохранить - Отменить *@
            <div class="card-footer p-0 pb-2 mt-4 mx-auto maxwidth700px">

                <button type="submit" class="btn btn-outline-success mt-2 me-3 text-center shadw"
                        title="Сохранить">
                    Сохранить
                </button>

                <a class="btn btn-outline-danger mt-2 shadw"
                   asp-area="Admin"
                   asp-controller="AudioBook"
                   asp-action="Index"
                   title="Отменить">
                    Отменить
                </a>

            </div>

        </form>

    </div>

</div>