@model AudioBookModel

<h1 class="fs-3 text_shadow">Информация об аудиокниге</h1>

<hr class="w-25 mx-auto" />

@* Id аудиокниги *@
<div>

    <p class="fs-5 mb-3">
        <span class="text-primary">AudioBookModelId:</span><br />
        <span class="text_shadow">
            @Model.AudioBookModelId
        </span>
        <br />
        <span class="fs-6 form-text text-success">
            идентификатор в базе данных (GUID)
        </span>
    </p>

    <hr class="liniya" />

</div>

<div class="card col col-lg-10 col-xl-9 col-xxl-8 mx-auto p-2">

    <div class="card-body">

        @* Кнопки «список», «изменить», «удалить» *@
        <div class="card-footer mb-2">

            @* Список аудиокниг сайта *@
            <a class="btn btn-outline-primary minwidth100px m-2 shadw"
               asp-area="Admin"
               asp-controller="AudioBook"
               asp-action="Index"
               title="список аудиокниг">

                Список

            </a>

            @* Изменить сведения об аудиокниге *@
            <a class="btn btn-outline-success minwidth100px m-2 shadw"
               asp-area="Admin"
               asp-controller="AudioBook"
               asp-action="EditAudioBook"
               asp-route-audiobookId="@Model.AudioBookModelId"
               title="изменить данные">

                Изменить

            </a>

            @* Удалить аудиокнигу *@
            <a class="btn btn-outline-danger minwidth100px m-2 shadw"
               asp-area="Admin"
               asp-controller="AudioBook"
               asp-action="DeleteAudioBook"
               asp-route-audiobookId="@Model.AudioBookModelId"
               title="удалить аудиокнигу">

                Удалить

            </a>

        </div>

        @* Название *@
        <div class="border border-1 mb-2">

            <label asp-for="CaptionOfAudioBook" class="col-form-label text-primary fs-5"></label>

            <p class="fs-4 text-center text_shadow">@Model.CaptionOfAudioBook</p>

            <div class="form-text">

                <span class="d-none d-sm-inline-block fs-6 text-success">тег «CaptionOfAudioBook» - </span>
                <span class="fs-6 text-success">название аудиокниги</span>

            </div>

        </div>

        @* Описание *@
        <div class=" mb-3">

            <label asp-for="@Model.AudioBookDescription" class="col-form-label text-primary fs-5"></label>

            <textarea asp-for="@Model.AudioBookDescription"
                      class="form-control fordetails maxwidth700px border border-1 border-primary mt-0 mx-auto"
                      rows="5">
            </textarea>

            <div class="form-text">

                <span class="d-none d-sm-inline-block fs-6 text-success">тег «AudioBookDescription» - </span>
                <span class="fs-6 text-success">описание аудиокниги</span>

            </div>

        </div>

        @* Исполнитель *@
        <div class="border border-1 mb-2">

            <label asp-for="ActorOfAudioBook" class="col-form-label text-primary fs-5"></label>

            <p class="fs-4 text-center text_shadow">@Model.ActorOfAudioBook</p>

            <div class="form-text">

                <span class="d-none d-sm-inline-block fs-6 text-success">тег «ActorOfAudioBook» - </span>
                <span class="fs-6 text-success">исполнитель аудиокниги</span>

            </div>

        </div>

        @* Количество файлов *@
        <div>

            <label asp-for="NumberOfFiles" class="col-form-label text-primary fs-5"></label>

            <p class="fs-4 text-center text_shadow">@Model.NumberOfFiles</p>

            <div class="form-text">
                <span class="d-none d-sm-inline-block fs-6 text-success">тег «NumberOfFiles» - </span>
                <span class="fs-6 text-success">количество файлов</span>
            </div>

        </div>

        @* Кнопки «список», «изменить», «удалить» *@
        <div class="card-footer mt-2">

            @* Список аудиокниг сайта *@
            <a class="btn btn-outline-primary minwidth100px m-2 shadw"
               asp-area="Admin"
               asp-controller="AudioBook"
               asp-action="Index"
               title="список аудиокниг">

                Список

            </a>

            @* Изменить сведения об аудиокниге *@
            <a class="btn btn-outline-success minwidth100px m-2 shadw"
               asp-area="Admin"
               asp-controller="AudioBook"
               asp-action="EditAudioBook"
               asp-route-audiobookId="@Model.AudioBookModelId"
               title="изменить данные">

                Изменить

            </a>

            @* Удалить аудиокнигу *@
            <a class="btn btn-outline-danger minwidth100px m-2 shadw"
               asp-area="Admin"
               asp-controller="AudioBook"
               asp-action="DeleteAudioBook"
               asp-route-audiobookId="@Model.AudioBookModelId"
               title="удалить аудиокнигу">

                Удалить

            </a>

        </div>

    </div>

</div>